.footer {
    padding: 106px 0 0;
    @include max-md {
        padding: 50px 0 0;
    }
    &__content {
    }
    &__top {
    }
    & .footer__logo {
        display: none;
        @include max-md {
            display: block;
            max-width: 127px;
            margin: 0 auto;
        }
        
    }
    &__top-contacts {
        display: none;
        @include max-md {
            display: flex;
            justify-content: space-between;
            margin-top: 56px;
        }
    }
    &__social img {
        max-width: 32px;
    }
    &__midle {
    }
    &__bottom {
    }
}
