.footer {
  flex-shrink: 0;
  padding: 0 0 40px;
  position: relative;
  @include max-lg {
    padding: 0 0 14px;
  }
  &__eskimo {
    position: absolute;
    width: 250px;
    height: max-content;
    object-fit: contain;
    left: -50%;
    right: 0;
    top: -40%;
    margin: auto;
    @include max-fullhd {
      width: 200px;
      top: -35%;
    }
    @include max-xxl {
      left: -55%;
    }
    @include max-xl {
      width: 100px;
      top: -20%;
      left: -60%;
    }
    @include max-lg {
      width: 250px;
      top: -10%;
      left: 50%;
    }
    @include max-md {
      width: 200px;
      top: -5%;
      left: 30%;
    }
    @include max-sm {
      width: 100px;
      top: -20px;
      left: 30%;
    }
  }
  &__raspberry {
    position: absolute;
    width: 75px;
    height: max-content;
    object-fit: contain;
    left: 25%;
    right: 0;
    top: -30%;
    margin: auto;
    @include max-xxxl {
      left: 75%;
    }
    @include max-xl {
      width: 50px;
      top: -20%;
    }
    @include max-lg {
      width: 80px;
      top: 35%;
      left: 0;
    }
    @include max-md {
      width: 60px;
      top: 35%;
      left: 10%;
    }
    @include max-sm {
      width: 50px;
      top: 35%;
      left: 30%;
    }
  }
  &__strawberry {
    position: absolute;
    width: 85px;
    height: max-content;
    object-fit: contain;
    left: 50%;
    right: 0;
    top: 5%;
    margin: auto;
    @include max-fullhd {
      left: 40%;
    }
    @include max-xxxl {
      left: 30%;
      top: 40%;
    }
    @include max-xl {
        width: 50px;
    }
     @include max-lg {
      width: 100px;
      top: 55%;
      left: 60%;
    }
     @include max-sm {
      width: 50px;
      top: 55%;
      left: 60%;
    }
  }
  &__content {
    background-color: #552914;
    border-radius: 32px;
    padding: 40px 0;
    overflow: hidden;
    @include max-xl {
      padding: 40px;
    }
    @include max-lg {
      padding: 14px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    @include max-lg {
      flex-direction: column;
      gap: 24px;
    }
    &-column {
      &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 22px;
        color: #f8e1ad;
        margin-bottom: 24px;
        @include max-lg {
          margin-bottom: 12px;
          font-size: 18px;
          line-height: 100%;
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include max-lg {
          gap: 8px;
        }
      }
      &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #f5efdd;
        &:hover {
          color: #ced035;
        }
      }
    }
  }
  &__logo {
    width: 202px;
    display: flex;
    @include max-xl {
      width: 150px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    @include max-lg {
      margin-top: 60px;
      flex-direction: column;
      gap: 30px;
    }
    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: #f8e1ad;
      display: flex;
      align-items: flex-end;
      margin-bottom: -10px;
      @include max-xl {
        margin-bottom: -20px;
      }
      @include max-lg {
        font-size: 14px;
        line-height: 18px;
      }
    }
    &-img {
      max-width: 400px;
      margin-bottom: -40px;
      margin-right: -100px;
      @include max-xxl {
        max-width: 300px;
        margin-bottom: -40px;
        margin-right: -40px;
      }
      @include max-xl {
        margin-right: 0;
      }
      @include max-lg {
        max-width: 300px;
        margin-bottom: -14px;
        margin-right: 10px;
        margin-left: auto;
      }
      @include max-sm {
        max-width: 200px;
      }
    }
  }
}
