.reviews {
    padding: 56px 0 0;
    &__content {
        padding: 97px 0 0;
        @include max-xl {
            padding: 50px 0 0;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        @include max-md {
            display: none;
        }
        & div {
            max-width: 23px;
            & img[alt='prev'] {
                transform: rotateZ(180deg);
            }
            & img {
                filter: grayscale(1);
                opacity: .8;
            }
        }
        &_prev {
            
        }
        &_next {

        }
    }
    &__list {
        column-gap: 70px;
        padding: 0 65px;
        touch-action: none;
        @include max-xlmidle {
            column-gap: 30px;
        }
        @include max-lg {
            column-gap: 20px;
            padding: 0 50px;
        }
        @include max-md {
            padding: 0;
            flex-direction: column;
            display: none;
        }
        &_mobile {
            display: none;
            @include max-md {
                display: block;
                padding-left: 15px;
            }
        }
        & .owl-item.active + div {
            @include max-md {
                 margin-left: -165px;
            }
            @include max-sm {
                 margin-left: -75px;
            }
        }
        & .owl-dots {
            @include max-md {
                display: flex;
                column-gap: 14px;
                margin-top: 39px;
                justify-content: center;
                & .owl-dot span::after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #CCCCCC;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                & .owl-dot span {
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    border: 4px solid #CCCCCC;
                    background: #fff;
                    display: block;
                    position: relative;
                    &.active {
                        border: 4px solid #C17465;
                    }
                }
                & .owl-dot.active span::after {
                    background: #C17465;
                }
                & .owl-dot.active span {
                        border: 4px solid #C17465;
                }
            }
        }
    }
    &__item {
        max-width: 307px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13px 10px 27px;
        background: #fadbd5;
        border-radius: 5px;
        @include max-lg {
            max-width: 365px;
        }
        @include max-md {
             max-width: calc(100% - 165px);
        }
        @include max-sm {
             max-width: calc(100% - 75px);
        }
    }
    &__avatar {
        width: 88px;
        height: 88px;
        border-radius: 50%;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.005em;
        color: #555555;
        margin-top: 25px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.005em;
        color: #515151;
        margin-top: 38px;
        padding: 0 15px;
    }
    &__rating {
        display: flex;
        align-items: center;
        column-gap: 4px;
        margin-top: 10px;
        & img {
            width: 10px;
        }
    }
    
}
