.reviews-page {
  position: relative;
  & .main__bg {
    height: 100%;
  }
  & .hero__desc {
    display: none;
  }
  & .container {
    @include max-xl {
      padding: 0;
    }
  }
  & .main__group-btns {
    @include max-xl {
      right: 20px;
    }
  }
}
.reviews {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: max-content;
  // height: 80lvh;
  // height: 100%;
  width: 100%;
  max-width: 1800px;
  z-index: 2;
  @include max-preBigScreen {
    max-width: 1440px;
  }
  @include max-fullhd {
    max-width: 1200px;
  }
  @include max-xxl {
    max-width: 1000px;
  }
  @include max-xl {
    max-width: 100%;
  }
  @include max-sm {
    // height: 80vh;
  }
  &__content {
  }
  &__slider {
    @include phoneLandscape {
      height: 80lvh;
    }
    & .owl-stage-outer {
      border-radius: 30px;
      @include max-fullhd {
        border-radius: 20px;
      }
      @include max-xl {
        border-radius: 0;
      }
      @include max-sm {
        margin-left: -15px;
      }
    }
    & .owl-item {
      overflow: hidden;
      @include max-fullhd {
        border-radius: 20px;
      }
      @include max-sm {
        border-radius: 10px;
      }
    }
    & .owl-nav {
      @include max-xl {
        display: none;
      }
    }
    & .owl-prev {
      margin-left: -120px;
      @include max-fullhd {
        margin-left: -80px;
      }
      @include max-xxl {
        margin-left: -70px;
      }
    }
    & .owl-next {
      margin-right: -120px;
      @include max-fullhd {
        margin-right: -80px;
      }
      @include max-xxl {
        margin-right: -70px;
      }
    }
  }
  &__slide {
    border-radius: 30px;
    background-color: #f0f0ef;
    padding: 94px 150px;
    width: 100%;
    height: 85lvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
    pointer-events: all;
    &::-webkit-scrollbar {
      display: none;
    }
    @include max-preBigScreen {
      padding: 70px 120px;
    }
    @include max-fullhd {
      padding: 60px 100px;
      border-radius: 20px;
    }

    @include max-xxl {
      padding: 40px 50px;
    }

    @include max-xl {
      height: 90lvh;
    }
    @include max-l {
      padding: 40px 20px;
    }
    @include max-md {
      height: 80lvh;
    }
    @include max-sm {
      padding: 20px;
      border-radius: 10px;
      height: 80lvh;
    }
    @include max-ip {
      max-height: 100%;
    }
    @include phoneLandscape {
      height: 80lvh;
      overflow: auto;
      padding: 20px;
    }
    @include phoneLandscape {
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @include phoneLandscape {
      &::-webkit-scrollbar-thumb {
        width: 4px;
        height: auto;
        border-radius: 8px;
        background-color: #cbcbcb;
      }
    }
    & .redactor_wp {
      max-height: calc(100vh - 800px);
      overflow: auto;
      @include max-fullhd {
        max-height: calc(100vh - 580px);
      }
      @include max-xxxl {
        max-height: calc(100vh - 470px);
      }
      @include max-xl {
        max-height: calc(100vh - 435px);
      }
      @include max-md {
        // max-height: 150px;
        max-height: calc(100vh - 520px);
      }
      @include max-sm {
        // max-height: 150px;
        max-height: calc(100vh - 450px);
      }
      @include phoneLandscape {
        max-height: 100%;
      }
      &::-webkit-scrollbar {
        width: 8px;
        height: 100%;
        background-color: #fff;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-thumb {
        width: 4px;
        height: auto;
        border-radius: 8px;
        background-color: #cbcbcb;
      }
    }
    & .custom-scroll-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      @include phoneLandscape {
        padding-right: 20px; /* место под скроллбар */
      }
    }
    & .custom-scrollbar {
      // display: none;
      @include phoneLandscape {
        display: flex;
        // position: absolute;
        right: 10px;
        top: 20px;
        width: 8px;
        // height: calc(100% - 40px);
        background: #fff;
        border-radius: 8px;
      }
    }

    & .custom-scrollbar-thumb {
      @include phoneLandscape {
        // position: absolute;
        width: 6px;
        background: #cbcbcb;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.2s;
        right: 1px;
      }
    }

    & .custom-scrollbar-thumb:hover {
      @include phoneLandscape {
        background: #555;
      }
    }
    &-quote {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @include phoneLandscape {
        gap: 5px;
      }
      & span {
        @include max-sm {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    &-info {
      // margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      @include max-fullhd {
        // margin-top: 40px;
      }
      @include max-l {
        // margin-top: 20px;
      }
      @include phoneLandscape {
        margin-top: 10px;
      }
    }
    &-name {
    }
    &-job {
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: #4d4d4d;
      @include max-fullhd {
        font-size: 16px;
        line-height: 22px;
      }
      @include max-sm {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &-bottom {
      margin-top: 60px;
      @include max-fullhd {
        margin-top: 40px;
      }
      @include max-l {
        margin-top: 20px;
      }
      @include phoneLandscape {
        margin-top: 10px;
      }
    }
    &-project {
      &__title {
        font-weight: 600;
        font-size: 27px;
        line-height: 36px;
        color: #0d0d0d;
        margin-bottom: 15px;
        @include max-fullhd {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 10px;
        }
        @include max-xxl {
          font-size: 16px;
          line-height: 22px;
        }
        @include max-sm {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include max-xxl {
          gap: 65px;
        }
        @include max-xl {
          gap: 44px;
        }
      }
      &__images {
        display: flex;
        gap: 15px;
        @include max-fullhd {
          gap: 10px;
        }
        & img {
          display: flex;
          width: 267px;
          height: 150px;
          @include max-preBigScreen {
            width: 222px;
            height: 125px;
          }
          @include max-fullhd {
            width: 178px;
            height: 100px;
          }
          @include max-xl {
            width: 100%;
            max-width: 100%;
            height: 80px;
          }
        }
        & a {
          position: relative;
          pointer-events: all;
          &:nth-child(n + 4) {
            display: none;
          }
          &:nth-child(n + 3) {
            @include max-sm {
              display: none;
            }
          }
          &:nth-child(3):hover::after {
            background: rgba(0, 0, 0, 0.5);
          }
          &:nth-child(3)::after {
            content: '';
            background: #0000004d;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          // &:nth-child(2)::after {
          //   display: none;
          //   @include max-sm {
          //     display: block;
          //     content: '';
          //     background-color: #0000004d;
          //     position: absolute;
          //     left: 0;
          //     top: 0;
          //     width: 100%;
          //     height: 100%;
          //   }
          // }
        }
      }

      &__logo {
        display: flex;
        cursor: pointer;
        @include max-lg {
          display: none;
        }
        &[href='#'], &[data-src='#'] {
          cursor: default;
        }
        &_mobile {
          display: none;
          @include max-lg {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 25px;
            width: max-content;
          }
          @include max-sm {
            margin-bottom: 15px;
          }
          @include phoneLandscape {
            margin-bottom: 5px;
          }
        }
        & img {
          // width: 420px;
          // width: max-content;
          // aspect-ratio: 16 / 9;
          height: 100%;
          max-height: 150px;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          object-fit: contain;
          @include max-preBigScreen {
            // width: 350px;
            // height: 119px;
            max-height: 100px;
          }
          @include max-fullhd {
            // width: 280px;
            // height: 95px;
          }
          @include max-xl {
            // width: 200px;
            // height: auto;
          }
          @include max-l {
            // width: 146px;
            // height: 50px;
          }
          @include max-lg {
            // width: 146px;
            // height: 50px;
            max-height: 50px;
            text-align: left;
          }
          @include max-sm {
            // width: 108px;
            max-height: 32px;
          }
        }
      }
    }
  }
}
