.checkoutAddress {
    & .checkoutDestination__label::after {
        content: "";
    }
    & .checkoutDestination__label {
        @include max-sm {
            font-size: 12px;
        }
    }
    & .checkoutDestination__label span {
        color: #D4D4D4;
    }
    & .checkoutDestination__hr {
        margin: 24px 0 0;
        @include max-md {
            display: none;
        }
    }
    & .checkoutDestination__wrapper {
        display: flex;
        @include max-xl {
            flex-direction: column;
        }
    }
    & .checkoutDestination__wrapper .checkoutDestination__row {
        margin-right: 8px;
    }
    & .checkoutDestination__row_row {
        flex-direction: row !important;
    }
    & .checkoutDestination__group {
        //margin-top: 17px;
    }
    & .checkoutDestination__group input{
        @include max-sm {
            padding: 11px;
        }
    }
    & .checkoutDestination__group:nth-child(1) .checkoutDestination__select {
        min-width: 275px;
        @include max-xlmidle {
            min-width: 225px;
        }
    }
    & .checkoutDestination__group:nth-child(2) .checkoutDestination__select {
        min-width: 220px;
        @include max-xlmidle {
            min-width: 180px;
        }
    }
    & .checkoutDestination__textarea {
        min-height: 102px;
        padding: 16px 12px;
        position: relative;
        font-size: 14px;
        @include max-sm {
            min-height: 160px;
            font-size: 13px;
        }
    }
    & .checkoutDestination__textarea::placeholder {
        text-transform: initial;
        max-width: 493px;
        position: absolute;
        top: 16px;
        left: 12px;
        white-space: pre-wrap;
        font-weight: 500;
        font-size: 14px;
        line-height: 123%;
        color: #d4d4d4;
        @include max-sm {
            font-size: 13px;
            max-width: 276px;
        }
    }
}

.checkoutDestination__select {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    padding: 15px 12px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 8px 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("../images/select.png");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 14px auto, 100%;
    @include max-sm {
        font-size: 13px;
        margin-top: 10px;
        padding: 13px 11px;
    }
}
.checkoutDestination__select::-ms-expand {
    display: none;
}
.checkoutDestination__select:hover {
    border-color: #888;
}
.checkoutDestination__select:focus {
    border-color: #aaa;
    color: #222;
    outline: none;
}
.checkoutDestination__select option {
    font-weight: normal;
}
*[dir="rtl"] .checkoutDestination__select,
:root:lang(ar) .checkoutDestination__select,
:root:lang(iw) .checkoutDestination__select {
    background-position: left 0.7em top 50%, 0 0;
    padding: 0.6em 0.8em 0.5em 1.4em;
}

