.videoBlockWrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  &.temporary-img {
    position: relative;
    z-index: 0;
  }
  &.temporary-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
  }
  &.temporary-img::after {
    content: 'Незабаром відкриття';
    background-image: url(../images/temporary_img.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 200%;
    font-weight: 700;
  }
}
.videoBlock {
  &__close {
    width: 32px;
    height: 32px;
    display: none;
  }
  &.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    &.videoBlockSimple {
      position: relative;
      height: auto;
      margin: 0;
      background-color: transparent;
      z-index: 0;
      & video {
        width: 100%;
        // object-fit: cover;
        // height: 100vh;
      }
    }
    & video {
      width: 90%;
      height: max-content;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: block;
      @include max-fullhd {
        // padding-top: 50px;
      }
      @include max-xxl {
        padding-top: 0;
        width: 75%;
      }

      @include max-l {
        width: 100%;
        height: auto;
      }
      @include max-lg {
        @include landscape {
          width: 80%;
        }
        padding-top: 0;
      }
    }
    & .videoBlock__close {
      display: block;
      position: absolute;
      top: 45px;
      right: 45px;
      cursor: pointer;
      z-index: 11;
      @include max-fullhd {
        width: 21px;
        height: 21px;
        top: 25px;
        right: 25px;
      }
    }
  }
  & .play__btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  & .play__btn {
    width: 150px;
    height: 150px;
    // pointer-events: none;
    @include max-fullhd {
      width: 100px;
      height: 100px;
    }
    @include max-l {
      width: 50px;
      height: 50px;
    }
  }
}
