<section class='nums'>
  <div class='container'>
    <h2 class='sectionTitle'>Про нас</h2>
    <div class='nums__content'>
      <div class='nums__info'>
        <p class='text_simple'>ТОВ "Каркас Груп" — українська будівельна компанія повного циклу, що
          спеціалізується на зведенні ангарів, навісів і промислових споруд під ключ. Ми проєктуємо
          та реалізовуємо обʼєкти будь-якої складності: від швидкомонтованих навісів до великих
          логістичних або аграрних комплексів. Завдяки власному виробництву металоконструкцій та
          досвідченій команді інженерів і монтажників, ми гарантуємо якість, дотримання строків і
          відповідність технічним вимогам. Ми будуємо з урахуванням особливостей кожної ділянки,
          кліматичних навантажень і бізнес-цілей замовника.</p>
          <div class="nums__text-group">
            <div class="nums__text-group__item">
                <div class="nums__text-group__title text_simple"><b>Наша ціль</b></div>
                <p class="nums__text-group__desc">Ми прагнемо зробити інженерні рішення зрозумілими, надійними й економічно виправданими. Кожен наш проєкт — це не просто креслення, а реальний внесок у розвиток бізнесу клієнта.</p>
            </div>
            <div class="nums__text-group__item">
                <div class="nums__text-group__title text_simple"><b>Наше бачення</b></div>
                <p class="nums__text-group__desc">Ми віримо, що якісне проєктування — це симбіоз досвіду, технологій і відповідальності. Саме тому з нами обирають довготривале партнерство, а не одноразову послугу.</p>
            </div>
          </div>
      </div>
      <div class='about__nums'>
        <div class='about__nums-item'>
          <div class='about__nums-item__val'>15 років</div>
          <div class='about__nums-item__text'>Стабільної роботи на ринку</div>
        </div>
        <div class='about__nums-item'>
          <div class='about__nums-item__val'>4 674</div>
          <div class='about__nums-item__text'>Об’єктів реалізовано по Україні</div>
        </div>
        <div class='about__nums-item'>
          <div class='about__nums-item__val'>10 000 м²</div>
          <div class='about__nums-item__text'>Площа виробничих потужностей</div>
        </div>
        <div class='about__nums-item'>
          <div class='about__nums-item__val'>>800 т/міс</div>
          <div class='about__nums-item__text'>Обсяг виробництва металоконструкцій</div>
        </div>
      </div>
    </div>

  </div>
</section>