<section class="aboutSlider">
    <div class="container">
        <div class="aboutSlider__slider">
            <a href="/images/production_1.png" data-fancybox="gallery" class="gallery-item">
                    <img loading="lazy" src="/images/production_1.png" alt="production">
                </a>

                <a href="/images/production_2.png" data-fancybox="gallery" class="gallery-item">
                    <img loading="lazy" src="/images/production_2.png" alt="production">
                </a>

                <a href="/images/production_3.png" data-fancybox="gallery" class="gallery-item">
                    <img loading="lazy" src="/images/production_3.png" alt="production">
                </a>

                <a href="/images/production_4.png" data-fancybox="gallery" class="gallery-item">
                    <img loading="lazy" src="/images/production_4.png" alt="production">
                </a>

                <a href="/images/production_5.png" data-fancybox="gallery" class="gallery-item">
                    <img loading="lazy" src="/images/production_5.png" alt="production">
                </a>

        </div>
    </div>
</section>