<section class='team'>
  <div class='container'>
    <h2 class='sectionTitle'>Наша команда</h2>
    <div class='team__content'>
      <p class='team__desc text_simple'>Успіх кожного проєкту — це насамперед люди, які стоять за
        ним. Наша команда об’єднує висококваліфікованих інженерів, проєктантів, виробничників і
        монтажників, що щодня вкладають свій досвід та професіоналізм у результат. Ми цінуємо
        командну роботу й переконані, що саме синергія знань і відповідальності дозволяє нам
        реалізовувати проєкти будь-якої складності.</p>
        <div class="team__images">
          <div class="videoBlock videoBlockSimple">
              <div class="videoBlockWrapper">
                  <video class="video-element" playsinline="" muted="" poster="">
                      <source src="images/footer_video.mp4" type="video/mp4">
                  </video>
                  <img loading="lazy" src="https://zmkua.com/wp-content/themes/carcass/assets/images/play_btn.svg" alt="play" class="play__btn">
                  <img src="/wp-content/themes/carcass/assets/images/pause_btn.svg" alt="pause" class="pause__btn" style="display: none;">
                </div>
          </div>
        </div>
      <p class='team__desc text_simple'>Ми постійно вдосконалюємо знання та навички, впроваджуємо
        сучасні технології і використовуємо передові методи проєктування. Це дозволяє нам
        передбачати можливі складнощі ще на етапі планування і уникати непередбачуваних ситуацій під
        час реалізації. Кожен проєкт для нас — не просто виконане завдання, а можливість показати
        професіоналізм та турботу про результат для замовника. Ми цінуємо відкриту комунікацію і
        довіру, тому наші клієнти завжди знають, на якому етапі знаходиться робота і що буде
        наступним кроком.</p>
        <a class="custom-button" href="tel:+380770330000">Записатися на екскурсію</a>
    </div>
  </div>
</section>