.banner_personal_solution {
    min-height: 288px;
    &__content {
        background: linear-gradient(91.58deg, #5a37e9 1.69%, #9f87ff 120.72%);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 53px;
        position: relative;
        overflow: hidden;
        @include max-xxxl {
            justify-content: flex-end;
        }
        @include max-md {
            padding: 30px 30px 0;
            flex-direction: column-reverse;
        }
    }
    &__img {
        //max-width: 419px;
        position: absolute;
        left: 53px;
        bottom: -2px;
        @include max-xl {
            left: 0;
        }
        @include max-lg {
            left: -50px;
        }
        @include max-md {
            position: initial;
            margin-bottom: -3px;
        }

        & img:first-child {
            max-width: 370px;
            position: relative;
            z-index: 10;
            @include max-md {
                min-width: 300px;
            }
        }
        & img:last-child {
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: -10px;
            max-width: 200px;
            @include max-md {
                top: 0;
                bottom: 0;
                min-width: 200%;
            }
        }
    }
    &__text {
        max-width: 625px;
        @include max-xl {
            max-width: 500px;
        }
        @include max-lg {
            max-width: 380px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #ffffff;
        @include max-md {
            font-size: 22px;
            line-height: 32px;
            text-align: center;
        }
    }
    &__description {
        font-weight: 500;
        font-size: 16px;
        line-height: 139%;
        color: #ffffff;
        margin-top: 16px;
        @include max-lg {
            font-size: 14px;
        }
        @include max-md {
            font-size: 15px;
            line-height: 24px;
            margin-top: 12px;
            text-align: center;
        }
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        background: #ffffff;
        border-radius: 60px;
        padding: 20px 40px;
        display: block;
        margin-top: 54px;
        width: fit-content;
        @include max-md {
            margin: 30px auto;
            font-size: 12px;
            line-height: 30px;
            padding: 10px 25px;
        }
    }
}
