.bannerFixedPrice {
    padding: 100px 0 0;
    @include max-md {
        padding: 49px 0 0;
    }
    &__content {
        padding: 64px 0 64px 109px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #5a37e9;
        border-radius: 20px;
        @include max-xl {
            padding: 40px 0 40px 50px;
        }
        @include max-md {
            padding: 30px 30px 0;
            flex-direction: column;
        }
    }
    &__text {
        max-width: 493px;
        @include max-md {
            max-width: initial;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        text-transform: uppercase;
        color: #ffffff;
        @include max-xl {
            font-size: 28px;
            line-height: 38px;
        }
        @include max-md {
            font-size: 22px;
            line-height: 32px;
        }
    }
    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
        margin-top: 20px;
        @include max-md {
            display: none;
        }
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        background: #ffffff;
        border-radius: 60px;
        padding: 15px 45px;
        color: #1f1f1f;
        margin-top: 40px;
        display: block;
        width: fit-content;
        @include max-md {
            font-size: 12px;
            padding: 10px 35px;
        }
    }
    &__img {
        max-width: 532px;
        @include max-md {
            max-width: 364px;
        }
    }
}
