.discover {
    background-color: #5A37E9;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 60px;
    padding: 15px 37px;
    display: block;
    width: fit-content;
    @include max-md {
        padding: 10px 28px;
        font-size: 12px;
    }
}