.banner-non-cash {
    background: linear-gradient(92.1deg, #8bd5fb -15.8%, #77a1e6 65.84%);
    border-radius: 20px;
    padding: 58px 80px;
    position: relative;
    overflow: hidden;
    @include max-xl {
        padding: 38px 50px;
    }
    @include max-lg {
        padding: 25px 40px;
    }
    @include max-md {
        height: 27vh;
    }
    @include max-sm {
        height: 30vh;
    }
    @include max-ip {
        height: 25vh;
        padding: 15px;
    }
    &__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 150%;
        color: #ffffff;
        @include max-lg {
            font-size: 30px;
        }
        @include max-sm {
            font-size: 22px;
            line-height: 32px;
        }
        @include max-ip {
            font-size: 18px;
            line-height: 28px;
        }
    }
    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
        max-width: 950px;
        margin-top: 12px;
        @include max-xxxl {
            max-width: 648px;
        }
        @include max-xlmidle {
            max-width: 450px;
        }
        @include max-lg {
            font-size: 14px;
            max-width: 400px;
        }
        @include max-md {
            max-width: 100%;
        }
        @include max-sm {
            font-size: 14px;
            line-height: 24px;
        }
        @include max-ip {
            font-size: 12px;
            line-height: 20px;
        }
    }
    &__img {
        position: absolute;
        bottom: -2px;
        right: 0;
        max-width: 600px;
        @include max-xl {
            max-width: 500px;
        }
        @include max-lg {
            max-width: 400px;
        }
        @include max-md {
            max-width: 450px;
        }
        @include max-sm {
            bottom: -15px; 
            max-width: 544px;  
        }
    }
}
