.benefits {
    padding: 74px 0 0;
    @include max-md {
        padding: 22px 0 0;
    }
    &__content {
        padding: 62px 0 0;
        @include max-md {
            padding: 20px 0 0;
        }
    }
    &__list {
        display: flex;
        justify-content: space-around;
        column-gap: 20px;
        @include max-md {
            flex-direction: column;
            row-gap: 46px;
        }
    }
    &__item {
        max-width: 305px;
        @include max-md {
            max-width: 100%;
        }
    }
    &__top {
        display: flex;
        align-items: center;
    }
    &__count {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #ffffff;
        min-width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #C17465;
        display: flex;
        align-items: baseline;
        justify-content: center;
        @include max-lg {
            min-width: 36px;
            height: 36px;
            align-items: flex-end;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: #000000;
        margin-left: 10px;
        max-width: 189px;
        @include max-lg {
            font-size: 17px;
            max-width: 160px;
        }
        @include max-md {
            max-width: 100%;
        }
    }
    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        margin-top: 22px;
        @include max-lg {
            min-width: 225px;
        }
        @include max-lg {
            min-width: 100%;
        }

    }
}
