.filter {
    max-width: 300px;
    background: #f5f3fe;
    border-radius: 3px;
    padding: 16px 33px 36px;
    @include max-xlmidle {
        padding: 10px 20px;
        max-width: 230px;
    }
    @include max-xl {
        padding: 10px 20px;
        max-width: 210px;
    }
    @include max-lg {
        display: none;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
        @include lg {
            display: none;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        color: #1f1f1f;
    }
    &__close {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #bdbdbd;
    }
    &__close::before {
        content: "";
        background-image: url(../images/close_grey.png);
        width: 14px;
        height: 14px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
        display: block;
    }
    &__list {
    }
    &__item {
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #4f4f4f;
        cursor: pointer;

        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #1f1f1f;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-title::after {
            content: "";
            background-image: url(../images/arrow.png);
            width: 14px;
            height: 14px;
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotateZ(180deg);
        }
        &-title_open {
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #1f1f1f;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after {
                content: "";
                background-image: url(../images/arrow.png);
                width: 14px;
                height: 14px;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotateZ(0deg);
            }
        }
        &-content {
            display: none;
        }
    }

    &__item {
        padding-top: 20px;
    }
    & .custom-input {
        margin-top: 10px;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    & .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    & .custom-checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    & .custom-checkbox + label::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #e9e9e9;
        background: #ffffff;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        border-radius: 2px;
    }
    & .custom-checkbox:checked + label::before {
        border-color: #5a37e9;
        background-image: url(../images/check.png);
    }
    & .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
        border-color: #5a37e9;
    }
    /* стили для активного состояния чекбокса (при нажатии на него) */
    //  & .custom-checkbox:not(:disabled):active+label::before {
    //     background-color: #b3d7ff;
    //     border-color: #b3d7ff;
    //   }
    /* стили для чекбокса, находящегося в фокусе */
    //  & .custom-checkbox:focus+label::before {
    //     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    //   }
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    & .custom-checkbox:focus:not(:checked) + label::before {
        border-color: #5a37e9;
    }
    /* стили для чекбокса, находящегося в состоянии disabled */
    & .custom-checkbox:disabled + label::before {
        background-color: #e9ecef;
    }

    &__apply {
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: #1f1f1f;
        background: #ffffff;
        border-radius: 60px;
        padding: 13px 33px;
        display: block;
        margin: 40px auto 0;
        @include max-xlmidle {
            padding: 10px 20px;
        }
        @include max-xl {
            font-size: 12px;
        }
    }
    &__reset {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #bdbdbd;
        display: block;
        margin: 12px auto 0;
        background: inherit;
    }
}


.active .filter {
    display: block;
    position: fixed;
    z-index: 100;
    min-width: 97%;
    height: 98vh;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 26px;
}
.active .container {
    padding: 0 10px;
}
.active .filter__group-buttons {
    display: flex;
    flex-direction: column-reverse;
    & .filter__apply {
        margin-top: 16px;
        font-size: 14px;
        padding: 13px 33px;
    }
    & .filter__reset {
        margin-top: 25px;
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    & .filter__reset::before {
        content: "";
        background-image: url(../images/close_grey.png);
        width: 12px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 18px;
        display: block;
    }
}
