.constructionsList {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 300px;
    @include max-fullhd {
      gap: 200px;
    }
    @include max-xl {
      gap: 100px;
    }
  }
  &__item {
    &-row {
      display: flex;
      flex-direction: column;
      @include max-l {
        gap: 0;
      }
      @include max-md {
        gap: 0;
      }
      &__title .constructionsList__item-row__top {
        grid-template-areas: 'left right';
        @include max-xl {
          display: flex;
          gap: 0;
        }
      }
      &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'video char';
        gap: 75px;
        position: relative;
        @include max-fullhd {
          gap: 50px;
        }
        @include max-xxl {
          grid-template-columns: 1.5fr 1fr;
        }
        @include max-l {
          gap: 20px;
        }
        @include max-md {
          grid-template-columns: 1fr;
          grid-template-areas:
            'video'
            'char';
        }
        & .videoBlock {
          grid-area: video;
        }
        & .charBox {
          grid-area: char;
          & .custom-button {
            margin: 75px auto 0;
            @include max-fullhd {
              margin: 50px auto 0;
            }
            @include max-xxl {
              margin: 40px auto 0;
            }
            @include max-l {
              display: none;
            }
          }
        }
        & video {
          object-fit: cover;

          //   max-height: 720px;
          //   @include max-fullhd {
          //     max-height: 480px;
          //   }
          //   @include max-xxl {
          //     max-height: 420px;
          //   }
          //   @include max-l {
          //     max-height: 317px;
          //   }
          //   @include max-md {
          //     max-height: 200px;
          //   }
        }
      }
      &__bottom {
        @include max-l {
          margin-top: 20px;
        }
        @include max-md {
          margin-top: 0;
        }
        & > .custom-button {
          display: none;

          @include max-l {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            grid-column-start: 1;
            grid-column-end: 3;
            height: max-content;
          }
          @include max-md {
            margin: 20px auto 0;
            position: relative;
          }
        }
        & .product__info {
          @include max-l {
            display: flex;
            flex-direction: column-reverse;
          }
        }
        .product__info-desc {
          @include max-l {
            // display: none;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-height: 66px;
            transition: max-height 300ms ease;
            &::after {
              content: '…';
              position: absolute;
              right: 0;
              bottom: 0;
              padding-left: 20px;
              background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 40%);
            }
            &.is-open {
              -webkit-line-clamp: unset;
              max-height: 2000px;
              overflow: visible;
              &::after {
                display: none;
              }
            }
          }
          &.ios {
            @include max-l {
              -webkit-line-clamp: unset;
              max-height: 100%;
            }
          }
        }
      }
    }

    &:nth-child(even) .constructionsList__item-row__top {
      grid-template-areas: 'char video';
      @include max-xxl {
        grid-template-columns: 1fr 1.5fr;
      }
      @include max-md {
        grid-template-areas:
          'video'
          'char';
        grid-template-columns: 1fr;
      }
    }
    &:nth-child(even) .constructionsList__item-row__title .constructionsList__item-row__top {
      display: flex;
      gap: 0;
    }
  }
  & .text-slogan {
    margin-top: 150px;
    // max-width: 1550px;
    @include max-fullhd {
      margin-top: 100px;
      // max-width: 1024px;
    }
    @include max-xxl {
      // max-width: 683px;
    }
    @include max-md {
      max-width: 100%;
    }
    @include max-sm {
      margin-top: 50px;
    }
  }
}
.buildings__gallery-list {
  display: none;
}
