<section class="aboutUs">
    <img src="images/aboutUs_component_1.png" alt="" class="aboutUs__component aboutUs__component_1">
    <img src="images/aboutUs_component_2.png" alt="" class="aboutUs__component aboutUs__component_2">
    <img src="images/aboutUs_component_3.png" alt="" class="aboutUs__component aboutUs__component_3">
    <img src="images/aboutUs_component_3.png" alt="" class="aboutUs__component aboutUs__component_4">
    <div class="container-big">
        <div class="aboutUs__content">
            <img class="aboutUs__img" src="images/aboutUs_img.png" alt="about">
            <div class="aboutUs__info">
                <h2 class="sectionTitle">Про нас</h2>
                <div class="redactor_wp text-simple">
                    ПОЛТАВАХОЛОД — український виробник із 1977 року, який пройшов шлях від невеликого підприємства з виробництва морозива до сучасної компанії з потужними виробничими потужностями та широким асортиментом продукції. Ми пишаємося своїм корінням і традиціями, адже саме любов до справи, якість і довіра споживачів стали основою нашого розвитку.
                    Сьогодні ми створюємо не лише улюблене морозиво, а й різноманітні продукти харчування — від заморожених десертів і сирів до хумусу, спредів, напівфабрикатів та готових рішень для дому й бізнесу. Ми постійно вдосконалюємо технології, впроваджуємо сучасні стандарти безпеки та якості, досліджуємо нові смаки й формати упаковки, щоб кожен наш продукт був не просто смачним, а й зручним для споживача.
                    Наш підхід базується на поєднанні досвіду минулих поколінь і сучасних тенденцій ринку. Ми дбаємо про кожен етап виробництва — від відбору сировини до доставки готової продукції. Для нас важливо, щоб кожен клієнт отримував не просто продукт, а частинку тепла, турботи і любові, з якими ми створюємо все, що носить марку ПОЛТАВАХОЛОД.z
                </div>
                <a href="#" class="button">Дізнатись більше</a>
            </div>
        </div>
    </div>
</section>