<section class="about">
    <div class="container">
        <div class="sectionTitle">Про нас</div>
        <div class="about__content">
            <div class="about__info">
                <p class="text_simple">Ми — "Каркас Груп", провідний український виробник металевих конструкцій для промислового та комерційного будівництва. Наша компанія працює повним циклом: проєктування, виготовлення та монтаж об’єктів будь-якої складності.</p>
                <p class="text_simple">У структурі "Каркас Груп" поєднано проєктний, виробничий і будівельний підрозділи, що дозволяє нам реалізовувати замовлення комплексно та з високою точністю. Ми впроваджуємо сучасні технології, дотримуємося міжнародних стандартів якості та гарантуємо надійність кожної конструкції.</p>
                <p class="text_simple">Обираючи нас, ви отримуєте партнера, який розуміє специфіку будівництва та створює міцний фундамент для розвитку вашого бізнесу.</p>
            </div>
            <div class="about__image">
                <img src="/images/about.jpg" alt="about">
                <span class="text_simple"><b>Василь Никоненко</b></span>
                <span class="text_simple">Керівник виробництва ЗМК «Каркас Груп»</span>
            </div>
        </div>
        <div class="about__nums">
            <div class="about__nums-item">
                <div class="about__nums-item__val">15 років</div>
                <div class="about__nums-item__text">Стабільної роботи на ринку</div>
            </div>
            <div class="about__nums-item">
                <div class="about__nums-item__val">4 674</div>
                <div class="about__nums-item__text">Об’єктів реалізовано по Україні</div>
            </div>
            <div class="about__nums-item">
                <div class="about__nums-item__val">10 000 м²</div>
                <div class="about__nums-item__text">Площа виробничих потужностей</div>
            </div>
            <div class="about__nums-item">
                <div class="about__nums-item__val">>800 т/міс</div>
                <div class="about__nums-item__text">Обсяг виробництва металоконструкцій</div>
            </div>
        </div>
            
    </div>
</section>