<section class="about">
    <div class="container">
        <div class="sectionTitle">О нас</div>
        <div class="productTabs__block productTabs__description ">
            <div class="productTabs__wrapper">
                <div class="productTabs__text">
                    <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                    </p>
                    <p>
                    При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
                </div>
                <div class="productTabs__wrapper-img">
                    <img src="images/people.png" alt="">
                </div>
            </div>
            <div class="productTabs__wrapper">
                <div class="productTabs__wrapper-img">
                    <img src="images/people2.png" alt="">
                </div>
                <div class="productTabs__text">
                    <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                    </p>
                    <ul class="productTabs__text-list">
                        <li class="productTabs__text-item">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее.</li>
                        <li class="productTabs__text-item">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее.</li>
                        <li class="productTabs__text-item">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее.</li>
                        <li class="productTabs__text-item">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее.</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>