<section class="areas" style="border: none;">
    <div class="container">
        <div class="areas__content">
            <h2 class="sectionTitle">Галузі застосування металоконструкцій</h2>
            <div class="areas__grid">
                <div class="areas__grid-item">
                    <img src="/images/area.jpg" alt="area">
                    <div class="areas__grid-item__text">
                        <div class="areas__grid-item__title text_simple">Ангари для зерна</div>
                        <div class="areas__grid-item__desc redactor_wp">
                            <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати групи тварин.</p>
                        </div>
                    </div>
                </div>
                <div class="areas__grid-item">
                    <img src="/images/area.jpg" alt="area">
                    <div class="areas__grid-item__text">
                        <div class="areas__grid-item__title text_simple">Ангари для зерна</div>
                        <div class="areas__grid-item__desc redactor_wp">
                            <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати групи тварин.</p>
                        </div>
                    </div>
                </div>
                <div class="areas__grid-item">
                    <img src="/images/area.jpg" alt="area">
                    <div class="areas__grid-item__text">
                        <div class="areas__grid-item__title text_simple">Ангари для зерна</div>
                        <div class="areas__grid-item__desc redactor_wp">
                            <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати групи тварин.</p>
                        </div>
                    </div>
                </div>
                <div class="areas__grid-item">
                    <img src="/images/area.jpg" alt="area">
                    <div class="areas__grid-item__text">
                        <div class="areas__grid-item__title text_simple">Ангари для зерна</div>
                        <div class="areas__grid-item__desc redactor_wp">
                            <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати групи тварин.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="custom-button  btn-for-popup-rozrahunok" type="button">Розробити проєкт КМ та КМД
        </button>
        </div>
    </div>
</section>