<section class="bannerFixedPrice">
    <div class="container">
        <div class="bannerFixedPrice__content">
            <div class="bannerFixedPrice__text">
                <div class="bannerFixedPrice__title">Фиксированная цена на ремонт — 1500 руб.</div>
                <div class="bannerFixedPrice__description">Как принято считать, тщательные исследования конкурентов набирают популярность среди определенных слоев населения, а значит, должны быть функционально разнесены на независимые элементы.</div>
                <a href="#" class="bannerFixedPrice__link">Заказать услугу</a>
            </div>
            <div class="bannerFixedPrice__img">
                <img src="images/wallet.png" alt="">
            </div>
        </div>
    </div>
</section>