<section class="banner_personal_solution">
    <div class="container">
        <div class="banner_personal_solution__content">
            <div class="banner_personal_solution__img">
                <img src="images/personal_solution.png" alt="">
                <img src="images/shield2.png" alt="">
            </div>
            <div class="banner_personal_solution__text">
                <div class="banner_personal_solution__title">Персональное решение</div>
                <div class="banner_personal_solution__description"> А ещё элементы политического процесса являются только методом политического участия и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</div>
                <a href="#" class="banner_personal_solution__link">Связаться с менеджером</a>
            </div>
        </div>
    </div>
</section>