<section class="banners">
    <div class="container">
        <div class="banners__top">
            <div class="banners__slider owl-carousel">
                <div class="banners__item banners__slider1">
                    {{!-- <div class="banners__slider1_bg">
                        <img src="images/banner_bg.png" alt="telephone">
                    </div> --}}
                    <div class="banners__slider1__title">Ремонт оборудования <br>любой сложности!</div>
                    <div class="banners__slider1__text">“fixed price”</div>
                    <div class="banners__slider1__price">1500 руб</div>
                    {{> blocks / discover}}
                    <div class="banners__slider1_img">
                        <img src="images/telephone.png" alt="telephone">
                    </div>
                    <ul class="banners__item_nav">
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                
            </div>
            <div class="banners__static">
                <div class="banners__static_logo">
                    <img src="images/zebra.png" alt="zebra">
                </div>
                <div class="banners__static_title">Товар дня!</div>
                <div class="banners__static_description">Терминал сбора данных Zebra <br>MC3300-SJ2HA2RW</div>
                <div class="banners__static_price">96 000 руб</div>
                <div class="banners__static_sale"> <strike>117 506 руб</strike></div>
                {{> blocks / discover}}
                <div class="banners__static_img">
                    <img src="images/terminal.png" alt="phone">
                </div>
            </div>
        </div>
        <div class="banners__bottom">
            <div class="banners__bottom_title">Бесплатная доставка <br>по России и даже в Калининград</div>
            <a href="#">Заказать доставку</a>
            <div class="banners__bottom_img">
                <img src="images/car.png" alt="car">
            </div>
        </div>
    </div>
</section> 