<section class="benefits">
    <div class="container">
        <div class="sectionTitle">Наши преимущества</div>
        <div class="benefits__content">
            <ul class="benefits__list">
                <li class="benefits__item">
                    <div class="benefits__top">
                        <div class="benefits__count">1</div>
                        <div class="benefits__title">Самые низкие цены</div>
                    </div>
                    <div class="benefits__description">Почему выбирают нас? Потому что мы прямые производители, никаких посредников. Диван со склада в Полтаве по ценам производителя всегда будет намного дешевле чем в магазинах посредников, которые по мимо своей накрутки платят еще огромные сумы за аренду торговых помещений.</div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__top">
                        <div class="benefits__count">2</div>
                        <div class="benefits__title">Мы экономим ваше время</div>
                    </div>
                    <div class="benefits__description">Покупая диван у нас на сайте Вы не выходя из дома или офиса имеете возможность посмотреть более 50 видов диванов и 30 видов оббивок тканей.Наши специалисты предоставят квалифицированную консультацию по телефону.</div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__top">
                        <div class="benefits__count">3</div>
                        <div class="benefits__title">Высокое качество материалов</div>
                    </div>
                    <div class="benefits__description">Каркасы всех диванов сделаны из натурального Сухого дерева (7 % влажности, брус 40-50мм). На все диваны ставится пенополиуретан   Гарантия: 3 года. Пружинный блок «Боннель» и «Змейка». Все ткани от 6-й, 7-й и выше категорий</div>
                </li>
            </ul>
        </div>
    </div>
</section>