<section class="brands">
    <div class="container">
        <div class="brands__content">
            <div class="brands__top">
                <div class="brands__left">
                    <div class="blockTitle brands__blockTitle">Бренды</div>
                    <div class="brands__subtitle">2000 компаний доверяют и сотрудничают<br> с нами на протяжении 20 лет</div>
                </div>
                <div class="brands__right">
                    <div class="brands__text">Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности способствует подготовке и реализации первоочередных требований. Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня прекрасно подходит для реализации кластеризации усилий.</div>
                </div>
            </div>
            <div class="brands__bottom">
                <ul class="brands__list">
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/zkteco.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/rosevrostroy.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/perco.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/oxgard.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/cardex.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/sitro.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/zkteco.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/rosevrostroy.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/perco.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/oxgard.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/cardex.png" alt="brand">
                        </a>
                    </li>
                    <li class="brands__item">
                        <a href="#" class="brands__link">
                            <img src="images/sitro.png" alt="brand">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>