<div class='breadcrumbs'>
  <div class='container-big'>
    <ul class="breadcrumbs__list">  
        <li class='breadcrumbs__item'>
        <a href='/' class='breadcrumbs__item-link text'>Головна </a>
        </li>
        <li class='breadcrumbs__item'>
        <a href='' class='breadcrumbs__item-link text'>Каталог</a>
        </li>
    </ul>
  </div>
</div>