<div class="burger">
  <img src="images/burger.png" alt="burger" />
</div>
<div class="burger__menu">
  <div class="burger__menu_top">
    {{> blocks / logo }}
    <div class="mobile__menu_close">
        <img src="images/close.png" alt="close">
    </div>
  </div>
  <ul class="burger__list burger__list_category">
    <li><a href="#">Интеграция WMS-систем</a></li>
    <li><a href="#">Наши услуги</a></li>
    <li><a href="#">Cервисный центр</a></li>
  </ul>
  {{> blocks / menu }}
  {{> blocks / contact_us }}
  <div class="catalog__button">
      Каталог товаров
  </div>
</div>
<div class="catalog__menu">
  <div class="burger__menu_top">
    <div class="catalog__menu_title">Каталог</div>
    <div class="catalog__menu_close">
        <img src="images/close_white.png" alt="close">
    </div>
  </div>
  <ul class="burger__list burger__list_category">
    <li><a href="#">Этикетки</a></li>
    <li><a href="#">ТСД Терминалы сбора данных 745</a></li>
    <li><a href="#">Сканер штрих-кода</a></li>
    <li><a href="#">Точки доступа</a></li>
    <li><a href="#">Платы клавиатуры</a></li>
    <li><a href="#">Сенсорные экраны</a></li>
  </ul>
  <div class="catalog__menu_banner">
    <img src="images/catalog__menu_banner.png" alt="">
    <img src="images/shadow_banner.png" alt="">
    <div class="catalog__menu_banner_content">
      <div class="catalog__menu_banner_text">
        Интеграция <br>WMS-систем
      </div>
      <div class="catalog__menu_banner_button">
        Узнать подробнее
      </div>
    </div>
    <div class="catalog__button_sale">
      Акция
    </div>
  </div>
</div>
