<section class="catalog">
    <div class="container-big">
        <div class="catalog__content">
            <div class="catalog__grid">
                <a href="products.html?data-cat=icecream" class="catalog__grid-item">
                    <img src="images/category_1.png" alt="">
                    <span>
                        <button class="button">Морозиво</button>
                    </span>
                    
                </a>
                <a href="products.html?data-cat=humus" class="catalog__grid-item">
                    <img src="images/category_2.png" alt="">
                    <span>
                        <button class="button">Хумус</button>
                    </span>
                </a>
                <a href="products.html?data-cat=frozen" class="catalog__grid-item">
                    <img src="images/category_3.png" alt="">
                    <span>
                        <button class="button">Заморожена продукція</button>
                    </span>
                </a>
                <a href="products.html?data-cat=napiv" class="catalog__grid-item">
                    <img src="images/category_4.png" alt="">
                    <span>
                        <button class="button">Напівфабрикати</button>
                    </span>
                </a>
                <a href="products.html?data-cat=zakusky" class="catalog__grid-item">
                    <img src="images/category_5.png" alt="">
                    <span>
                        <button class="button">Закуски бутербродні</button>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>