<section class="catalog">
    <div class="container">
        <div class="sectionTitle">Наш каталог</div>
        <div class="catalog__content">
            <ul class="catalog__list">
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog1.png" alt="" class="catalog__img">
                        <span class="catalog__name">Шкафы купе</span>
                    </a>
                </li>
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog2.png" alt="" class="catalog__img">
                        <span class="catalog__name">Кухни</span>
                    </a>
                </li>
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog3.png" alt="" class="catalog__img">
                        <span class="catalog__name">Диваны</span>
                    </a>
                </li>
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog4.png" alt="" class="catalog__img">
                        <span class="catalog__name">Мягкая мебель</span>
                    </a>
                </li>
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog1.png" alt="" class="catalog__img">
                        <span class="catalog__name">Кровати</span>
                    </a>
                </li>
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog1.png" alt="" class="catalog__img">
                        <span class="catalog__name">Гостинные</span>
                    </a>
                </li>
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog1.png" alt="" class="catalog__img">
                        <span class="catalog__name">Детская мебель</span>
                    </a>
                </li>
                <li class="catalog__item">
                    <a href="#" class="catalog__link">
                        <img src="images/catalog1.png" alt="" class="catalog__img">
                        <span class="catalog__name">Кухонные уголки</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>