<section class="categoryWall">
    <div class="container">
        <div class="categoryWall__content">
            <div class="blockTitle categoryWall__blockTitle">Категории товаров</div>
            <div class="categoryWall__blocks">
                <a href="#" class="categoryWall-block">
                    <div class="categoryWall-block__top">
                        <div class="categoryWall-block__burger">
                        </div>
                        <div class="categoryWall-block__count">
                            <span>218</span>
                            <span>товаров</span>
                        </div>
                    </div>
                    <div class="categoryWall-block__title">Этикетки</div>
                    <div class="categoryWall-block__img">
                        <img src="images/scotch.png" alt="">
                    </div>
                </a>
                <a href="#" class="categoryWall-block">
                    <div class="categoryWall-block__top">
                        <div class="categoryWall-block__burger">
                        </div>
                        <div class="categoryWall-block__count">
                            <span>218</span>
                            <span>товаров</span>
                        </div>
                    </div>
                    <div class="categoryWall-block__title">ТСД Терминалы сбора данных</div>
                    <div class="categoryWall-block__img">
                        <img src="images/scaner.png" alt="">
                    </div>
                </a>
                <a href="#" class="categoryWall-block">
                    <div class="categoryWall-block__top">
                        <div class="categoryWall-block__burger">
                        </div>
                        <div class="categoryWall-block__count">
                            <span>218</span>
                            <span>товаров</span>
                        </div>
                    </div>
                    <div class="categoryWall-block__title">Платы клавиатуры</div>
                    <div class="categoryWall-block__img">
                        <img src="images/plata_keyboard.png" alt="">
                    </div>
                </a>
                <a href="#" class="categoryWall-block">
                    <div class="categoryWall-block__top">
                        <div class="categoryWall-block__burger">
                        </div>
                        <div class="categoryWall-block__count">
                            <span>218</span>
                            <span>товаров</span>
                        </div>
                    </div>
                    <div class="categoryWall-block__title">Сканер штрих-кода</div>
                    <div class="categoryWall-block__img">
                        <img src="images/scaner2.png" alt="">
                    </div>
                </a>
                <a href="#" class="categoryWall-block">
                    <div class="categoryWall-block__top">
                        <div class="categoryWall-block__burger">
                        </div>
                        <div class="categoryWall-block__count">
                            <span>218</span>
                            <span>товаров</span>
                        </div>
                    </div>
                    <div class="categoryWall-block__title">Точки доступа</div>
                    <div class="categoryWall-block__img">
                        <img src="images/router.png" alt="">
                    </div>
                </a>
                <a href="#" class="categoryWall-block">
                    <div class="categoryWall-block__top">
                        <div class="categoryWall-block__burger">
                        </div>
                        <div class="categoryWall-block__count">
                            <span>218</span>
                            <span>товаров</span>
                        </div>
                    </div>
                    <div class="categoryWall-block__title">Сенсорные экраны</div>
                    <div class="categoryWall-block__img">
                        <img src="images/sensor.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>