<section class="categoryFilter">
    <div class="container">
        <div class="sectionTitle">Диваны прямые</div>
        <button class="filter__btn_mobile" type="button">
            <img src="images/filter_icon.png" alt="">
            <span>Фильтр</span>  
        </button>
        <div class="categoryFilter__content">
            <aside class="categoryFilter__aside">
                <div class="filter">
                    <div class="filter__title">
                        <span>Фильтр</span>
                        <img src="images/filter_close.png" alt="close">
                    </div>
                    <div class="categoryFilter__result-top__group">
                        <span>Сортировать:</span>
                        <label for="categoryFilter__sort">

                            <select name="sort" id="categoryFilter__sort">
                                <option value="цена по возростанию">цена по возрастанию</option>
                                <option value="цена по возростанию">цена по убыванию</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                    </div>
                </div>
                <div class="categoryFilter__aside-block">
                    <div class="categoryFilter__aside-block__title">Выгодная доставка</div>
                    <ul class="categoryFilter__aside-block__list">
                        <li class="categoryFilter__aside-block__item">
                            <img src="images/delivery_car.png" alt="">
                            <span>Выгодная доставка своим транспортом</span>
                        </li>
                        <li class="categoryFilter__aside-block__item">
                            <img src="images/location_point.png" alt="">
                            <span>Доставка в любую точку страны</span>
                        </li>
                        <li class="categoryFilter__aside-block__item">
                            <img src="images/cooperation.png" alt="">
                            <span>Сотрудничаем с почтовыми службами</span>
                        </li>
                    </ul>
                </div>
                <div class="categoryFilter__aside-block">
                    <div class="categoryFilter__aside-block__title">Качественные материалы</div>
                    <ul class="categoryFilter__aside-block__list">
                        <li class="categoryFilter__aside-block__item">
                            <img src="images/carcas.png" alt="">
                            <span>Каркасы из натурального дерева</span>
                        </li>
                        <li class="categoryFilter__aside-block__item">
                            <img src="images/fabric.png" alt="">
                            <span>Ткани от 6-й и 7-й и выше категории</span>
                        </li>
                        <li class="categoryFilter__aside-block__item">
                            <img src="images/spring.png" alt="">
                            <span>Пружинный блок “Боннель” и “Змейка”</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="categoryFilter__result">
                <div class="categoryFilter__result-top">
                    <div class="categoryFilter__result-top__group">
                        <span>Сортировать:</span>
                        <label for="categoryFilter__sort">

                            <select name="sort" id="categoryFilter__sort">
                                <option value="цена по возростанию">цена по возрастанию</option>
                                <option value="цена по возростанию">цена по убыванию</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                    </div>
                    <div class="categoryFilter__views">
                        <div class="categoryFilter__view">
                            <div>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="categoryFilter__view active">
                            <div>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categoryFilter__result-bottom">
                    <div class="categoryFilter__product">
                        <div class="categoryFilter__product-top">
                            <a href="#">
                                <img src="images/product4.png" alt="">
                            </a>
                            <div class="categoryFilter__product-top__special">
                                <div class="categoryFilter__product-sale">Акция</div>
                                <div class="categoryFilter__product-credit">Кредит</div>
                            </div>
                            <div class="product__icons">
                                <div class="product__icon product__icon_compare">
                                    <img src="images/compare.png" alt="">
                                </div>
                                <div class="product__icon product__icon_favorite">
                                    <img src="images/favorite.png" alt="">
                                </div>
                            </div>
                            <div class="categoryFilter__product-top__articul">
                                Код:335
                            </div>
                        </div>
                        <div class="categoryFilter__product-bottom">
                             <a href="#" class="categoryFilter__product-name">Диван “Made in USSR...”</a>
                             <div class="categoryFilter__product-price">
                                <div class="categoryFilter__product-price_current">11 999 UAH</div>
                                <div class="categoryFilter__product-price_old"><strike>12 678 UAH</strike></div>
                             </div>
                        </div>
                    </div>
                    <div class="categoryFilter__product">
                        <div class="categoryFilter__product-top">
                            <a href="#">
                                <img src="images/product5.png" alt="">
                            </a>
                            <div class="categoryFilter__product-top__special">
                                <div class="categoryFilter__product-sale">Акция</div>
                                <div class="categoryFilter__product-credit">Кредит</div>
                            </div>
                            <div class="product__icons">
                                <div class="product__icon product__icon_compare">
                                    <img src="images/compare.png" alt="">
                                </div>
                                <div class="product__icon product__icon_favorite">
                                    <img src="images/favorite.png" alt="">
                                </div>
                            </div>
                            <div class="categoryFilter__product-top__articul">
                                Код:335
                            </div>
                        </div>
                        <div class="categoryFilter__product-bottom">
                             <a href="#" class="categoryFilter__product-name">Диван “Made in USSR...”</a>
                             <div class="categoryFilter__product-price">
                                <div class="categoryFilter__product-price_current">11 999 UAH</div>
                                <div class="categoryFilter__product-price_old"><strike>12 678 UAH</strike></div>
                             </div>
                        </div>
                    </div>
                    <div class="categoryFilter__product">
                        <div class="categoryFilter__product-top">
                            <a href="#">
                                <img src="images/product4.png" alt="">
                            </a>
                            <div class="categoryFilter__product-top__special">
                                <div class="categoryFilter__product-sale">Акция</div>
                                <div class="categoryFilter__product-credit">Кредит</div>
                            </div>
                            <div class="product__icons">
                                <div class="product__icon product__icon_compare">
                                    <img src="images/compare.png" alt="">
                                </div>
                                <div class="product__icon product__icon_favorite">
                                    <img src="images/favorite.png" alt="">
                                </div>
                            </div>
                            <div class="categoryFilter__product-top__articul">
                                Код:335
                            </div>
                        </div>
                        <div class="categoryFilter__product-bottom">
                             <a href="#" class="categoryFilter__product-name">Диван “Made in USSR...”</a>
                             <div class="categoryFilter__product-price">
                                <div class="categoryFilter__product-price_current">11 999 UAH</div>
                                <div class="categoryFilter__product-price_old"><strike>12 678 UAH</strike></div>
                             </div>
                        </div>
                    </div>
                    <div class="categoryFilter__product">
                        <div class="categoryFilter__product-top">
                            <a href="#">
                                <img src="images/product5.png" alt="">
                            </a>
                            <div class="categoryFilter__product-top__special">
                                <div class="categoryFilter__product-sale">Акция</div>
                                <div class="categoryFilter__product-credit">Кредит</div>
                            </div>
                            <div class="product__icons">
                                <div class="product__icon product__icon_compare">
                                    <img src="images/compare.png" alt="">
                                </div>
                                <div class="product__icon product__icon_favorite">
                                    <img src="images/favorite.png" alt="">
                                </div>
                            </div>
                            <div class="categoryFilter__product-top__articul">
                                Код:335
                            </div>
                        </div>
                        <div class="categoryFilter__product-bottom">
                             <a href="#" class="categoryFilter__product-name">Диван “Made in USSR...”</a>
                             <div class="categoryFilter__product-price">
                                <div class="categoryFilter__product-price_current">11 999 UAH</div>
                                <div class="categoryFilter__product-price_old"><strike>12 678 UAH</strike></div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="categoryFilter__result-nav">
                    <button type="button" class="categoryFilter__result-nav__prev"><img src="images/nav.png" alt="prev"></button> 
                    <ul class="categoryFilter__result-nav__list">
                        <li class="categoryFilter__result-nav__item active">
                            <a href="#" class="categoryFilter__result-nav__link">1</a>
                        </li>
                        <li class="categoryFilter__result-nav__item">
                            <a href="#" class="categoryFilter__result-nav__link">2</a>
                        </li>
                        <li class="categoryFilter__result-nav__item">
                            <a href="#" class="categoryFilter__result-nav__link">3</a>
                        </li>
                        <li class="categoryFilter__result-nav__item">
                            <a href="#" class="categoryFilter__result-nav__link">...</a>
                        </li>
                        <li class="categoryFilter__result-nav__item">
                            <a href="#" class="categoryFilter__result-nav__link">20</a>
                        </li>
                    </ul>
                    <button type="button" class="categoryFilter__result-nav__next"><img src="images/nav.png" alt="prev"></button> 
                </div>
            </div>
        </div>
    </div>
</section>