<section class="categorySlider">
    <div class="container">
        <div class="categorySlider__content">
            <div class="categorySlider__top">
                <div class="slider-category">
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    <div class="slider-category-group">
                        <img src="images/divan.png" alt="">
                        <div class="categorySlider__top-text">Диваны прямые</div>
                    </div>
                    
                </div>
            </div>
            <div class="categorySlider__bottom">
                <div class="categorySlider__bottom-btns">
                    <img src="images/arrow.png" alt="prev">
                    <img src="images/arrow.png" alt="next">
                </div>
                <div class="slider-category-nav">
                    <div class="slider-category-nav-group">
                        <img src="images/divan1.png" alt="">
                        <span>Для детской</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan2.png" alt="">
                        <span>Для кухни</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan1.png" alt="">
                        <span>Для спальни</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan2.png" alt="">
                        <span>Для офиса</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan1.png" alt="">
                        <span>Для прихожей</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan2.png" alt="">
                        <span>Для улицы</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan1.png" alt="">
                        <span>Для детской</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan2.png" alt="">
                        <span>Для кухни</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan1.png" alt="">
                        <span>Для спальни</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan2.png" alt="">
                        <span>Для офиса</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan1.png" alt="">
                        <span>Для прихожей</span>
                    </div>
                    <div class="slider-category-nav-group">
                        <img src="images/divan2.png" alt="">
                        <span>Для улицы</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>