
<section class="category">
    <div class="container">
        <div class="category__content">
            <div class="category__info">
                <div class="blockTitle">Этикетки</div>
                <div class="category__description">Безусловно, синтетическое тестирование предопределяет высокую востребованность поставленных обществом задач. Современные технологии достигли такого уровня, что сложившаяся структура организации играет важную роль в формировании кластеризации усилий</div>
                {{> blocks / discover}} 
            </div>
            <div class="category__banner">
                <div class="category__count">853 товара</div>
                <img src="images/scotch2.png" alt="">
            </div>
        </div>
    </div>
    {{> blocks / categoryWall}}
</section>