<section class="characteristics">
    <div class="container">
        <div class="characteristics__content">
            <div class="characteristics__title">Рабочие характеристики</div>
            <ul class="characteristics__list">
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Физические характеристики</div>
                    <div class="characteristics__item-text">Веc 765 г</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Дисплей</div>
                    <div class="characteristics__item-text">3,7" дюйма, разрешение VGA, цветной (640 x 480)</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Клавиатура</div>
                    <div class="characteristics__item-text">На 28, 43 и 53 клавиши; эмуляция терминала (5250, 3270, VT)</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Параметры аудио</div>
                    <div class="characteristics__item-text">Высококачественный динамик, микрофон (в отдельных конфигурациях) и разъём 2,5 мм для гарнитуры</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Размеры (ВхШхГ)</div>
                    <div class="characteristics__item-text">231 x 91 x 193</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Слот расширения</div>
                    <div class="characteristics__item-text">SDHC 32Гб</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Питание</div>
                    <div class="characteristics__item-text">Основной элемент питания	Li-ion 2600 мА•ч</div>
                </li>
            </ul>
            <div class="files">
                <div class="files__title">Файлы</div>
                <ul class="files__list">
                    <a href="#" class="files__item" download >Технические характеристики Honeywell ScanPal EDA51K</a>
                    <a href="#" class="files__item" download >Инструкция</a>
                </ul>
            </div>
        </div>
    </div>
</section>