<div class="checkoutCard">
    <div class="checkoutCard__row">
        <div class="checkoutCard__total">Итого</div>
        <div class="checkoutCard__total">60 000₽</div>
    </div>
    <div class="checkoutCard__row">
        <div class="checkoutCard__text">Товары, 4 шт.</div>
        <div class="checkoutCard__text">60 000 руб.</div>
    </div>
    <div class="checkoutCard__row">
        <div class="checkoutCard__text">Скидка</div>
        <div class="checkoutCard__text">12 000 руб.</div>
    </div>
    <div class="checkoutCard__info"><b>Доставка: </b>Сенница, Московская область, Название улицы 1, кв. 222</div>
    <div class="checkoutCard__info"><b>Оплата: </b>Безналичный расчёт</div>
    <a href="#" class="discover">Подтвердить заказ</a>
    <div class="checkoutCard__agree">
        <input type="checkbox" class="checkoutCard__checkbox" id="checkoutCard__agree" name="checkoutCard__agree">
        <label for="checkoutCard__agree"></label>
        <div class="checkoutCard__agree-text">Отправляя данную форму я соглашаюсь с политикой обработки данных</div>
    </div>
</div>