<div class="checkoutPayMethod">
    <div class="checkoutDestination">
        <div class="checkoutDestination__title">Способ оплаты</div>
        <div class="checkoutDestination__content">
            <form class="checkoutDestination__form" action="#">
                <div class="checkoutPayMethod__group">
                    <input type="radio" name="" class="checkoutPayMethod__radio" id="checkoutPayMethod__radio1">
                    <label for="checkoutPayMethod__radio1"></label>
                    <div class="checkoutPayMethod__text">Безналичный расчёт</div>
                </div>
                <div class="checkoutPayMethod__group">
                    <input type="radio" name="" class="checkoutPayMethod__radio" id="checkoutPayMethod__radio2">
                    <label for="checkoutPayMethod__radio2"></label>
                    <div class="checkoutPayMethod__text">Наличный расчёт с курьером</div>
                </div>
                <div class="checkoutPayMethod__group">
                    <input type="radio" name="" class="checkoutPayMethod__radio" id="checkoutPayMethod__radio3">
                    <label for="checkoutPayMethod__radio3"></label>
                    <div class="checkoutPayMethod__text">Самовывоз</div>
                </div>
                <div class="checkoutPayMethod__group">
                    <input type="radio" name="" class="checkoutPayMethod__radio" id="checkoutPayMethod__radio4">
                    <label for="checkoutPayMethod__radio4"></label>
                    <div class="checkoutPayMethod__text">Наложенный платёж</div>
                </div>
            </form>
        </div>
    </div>
</div>