<section class="checkout">
    <div class="container">
        <div class="checkout__content">
            <div class="checkout__left">
                {{> blocks / checkoutProduct}}
                {{> blocks / checkoutDestination}}
                {{> blocks / checkoutAddress}}
                {{> blocks / checkoutPayMethod}}
            </div>
            <div class="checkout__right">
                {{> blocks / checkoutCard}}
            </div>
        </div>
    </div>
</section>