<div class="checkoutAddress">
<div class="checkoutDestination">
    <div class="checkoutDestination__title">Адрес доставки</div>
    <div class="checkoutDestination__content">
    <form class="checkoutDestination__form" action="#">
        <div class="checkoutDestination__wrapper">
            <div class="checkoutDestination__row">
                <div class="checkoutDestination__group">
                    <div class="checkoutDestination__label">Город</div>
                    <select class="checkoutDestination__select">
                        <option >Укажите город</option>
                        <option >Киев</option>
                        <option >Запорожье</option>
                    </select>
                </div>
                <div class="checkoutDestination__group">
                    <div class="checkoutDestination__label">Улица</div>
                    <select class="checkoutDestination__select">
                        <option >Укажите улицу</option>
                        <option >Проспект соборный</option>
                        <option >Патриотическая</option>
                    </select>
                </div>
            </div>
            <div class="checkoutDestination__row checkoutDestination__row_row">
                <div class="checkoutDestination__group">
                    <div class="checkoutDestination__label">Дом</div>
                    <input type="text" name="house">
                </div>
                <div class="checkoutDestination__group">
                    <div class="checkoutDestination__label">Квартира</div>
                    <input type="text" name="flat">
                </div>
                <div class="checkoutDestination__group">
                    <div class="checkoutDestination__label">Подъезд</div>
                    <input type="text" name="porch">
                </div>
            </div>
        </div>
        <hr class="checkoutDestination__hr">
        <div class="checkoutDestination__row">
            <div class="checkoutDestination__group">
                <div class="checkoutDestination__label">Комментарий к адресу<span>(необязательно)</span> </div>
                <input type="textarea" class="checkoutDestination__textarea" name="comment_address" placeholder="Расскажите, как быстрее добраться к вам, укажите код домофона
                 или другую информацию, которая может пригодиться курьеру">
            </div>
        </div>
    </form>
        
    </div>
</div>
</div>