<div class="checkoutProducts">
    <div class="checkoutProducts__top">
        <div class="checkoutProducts__title">Корзина
            <div class="checkoutProducts__title-count">2</div>
        </div>
        <div class="checkoutProducts__clear">Очистить корзину</div>
    </div>
    <div class="checkoutProducts__bottom">
        <div class="checkoutProducts__item">
            <div class="close">
                <img src="images/close_grey.png" alt="">
            </div>
            <div class="checkoutProducts__group_img">
                <div class="checkoutProducts__image">
                    <img src="images/product1.png" alt="">
                    <div class="checkoutProducts__sale">-20%</div>
                </div>
                <div class="checkoutProducts__rent">Взять в аренду</div>
            </div>
            <div class="checkoutProducts__rent checkoutProducts__rent_mobile">Взять в аренду</div>
            <div class="checkoutProducts__group_text">
                <div class="checkoutProducts__item_manufacturer">Zebra</div>
                <div class="checkoutProducts__item_title">ТСД Терминал сбора данных Zebra Motorola MC55</div>
                <div class="checkoutProducts__item_description">Процессор Marvell PXA270 520 МГц, память 128 Мб ОЗУ и 256 Мб ПЗУ, работа в частотных диапазонах GSM 850/900/1800/1900...</div>
            </div>
             <div class="checkoutProducts__group_count">
                <form class="product-card__group_count">
                    <button type="button" class="product-card__minus">-</button>
                    <div class="product-card__count">02</div>
                    <button type="button" class="product-card__plus">+</button>
                </form>
                <div class="product-card__group_count-price">15. 000₽</div>
             </div>
             <div class="checkoutProducts__group_price">
                <div class="checkoutProducts__price">30. 000 руб.</div>
                <strike class="checkoutProducts__price_old">36 000 руб</strike>
             </div>
        </div>
        <div class="checkoutProducts__item">
            <div class="close">
                <img src="images/close_grey.png" alt="">
            </div>
            <div class="checkoutProducts__group_img">
                <div class="checkoutProducts__image">
                    <img src="images/product1.png" alt="">
                    <div class="checkoutProducts__sale">-20%</div>
                </div>
                <div class="checkoutProducts__rent">Взять в аренду</div>
            </div>
            <div class="checkoutProducts__rent checkoutProducts__rent_mobile">Взять в аренду</div>
            <div class="checkoutProducts__group_text">
                <div class="checkoutProducts__item_manufacturer">Zebra</div>
                <div class="checkoutProducts__item_title">ТСД Терминал сбора данных Zebra Motorola MC55</div>
                <div class="checkoutProducts__item_description">Процессор Marvell PXA270 520 МГц, память 128 Мб ОЗУ и 256 Мб ПЗУ, работа в частотных диапазонах GSM 850/900/1800/1900...</div>
            </div>
             <div class="checkoutProducts__group_count">
                <form class="product-card__group_count">
                    <button type="button" class="product-card__minus">-</button>
                    <div class="product-card__count">02</div>
                    <button type="button" class="product-card__plus">+</button>
                </form>
                <div class="product-card__group_count-price">15. 000₽</div>
             </div>
             <div class="checkoutProducts__group_price">
                <div class="checkoutProducts__price">30. 000 руб.</div>
                <strike class="checkoutProducts__price_old">36 000 руб</strike>
             </div>
        </div>
    </div>
</div>