<section class="compare">
    <div class="container">
        <div class="compare__content">
            <div class="favorites__top">
                <div class="favorites__title">Сравнение товаров</div>
                <div class="favorites__title favorites__title-mobile">Сравнение</div>
                <div class="favorites__reset">Очистить сравнения</div>
            </div>
            {{!-- //////// --}}
                <div class="compare__row_group compare__row_group-mobile">
                        <div class="compare__row_top-title">Сравниваются 2 товара</div>
                        <div class="compare__row_top-parameters">
                            <ul class="productInfo__configuration-list">
                                <li class="productInfo__configuration-item">
                                    <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="compare-radio1">
                                    <label for="compare-radio1"></label>
                                    <div class="productInfo__configuration-text"><span class="bold"> Сравнить по всем характеристикам</span> </div>
                                </li>
                                <li class="productInfo__configuration-item">
                                    <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="compare-radio2">
                                    <label for="compare-radio2"></label>
                                    <div class="productInfo__configuration-text"><span class="bold"> Сравнить по отличиям</span> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            {{!-- //////// --}}
            <div class="compare__bottom">
                <div class="compare__row_top">
                    <div class="compare__row_group">
                        <div class="compare__row_top-title">Сравниваются 2 товара</div>
                        <div class="compare__row_top-parameters">
                            <ul class="productInfo__configuration-list">
                                <li class="productInfo__configuration-item">
                                    <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="compare-radio1">
                                    <label for="compare-radio1"></label>
                                    <div class="productInfo__configuration-text"><span class="bold"> Сравнить по всем характеристикам</span> </div>
                                </li>
                                <li class="productInfo__configuration-item">
                                    <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="compare-radio2">
                                    <label for="compare-radio2"></label>
                                    <div class="productInfo__configuration-text"><span class="bold"> Сравнить по отличиям</span> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="compare__row_group">
                        <div class="compare__row_top-close">
                            <img src="images/close2.png" alt="remove">
                        </div>
                        <div class="compare__row_top-img">
                            <img src="images/product1.png" alt="">
                        </div>
                        <div class="compare__row_top-product_title">
                            ТСД Терминал сбора данных Zebra Motorola MC55
                        </div>
                        <div class="compare__row_top-product_price">
                            96 000 руб
                        </div>
                        <div class="product-card__bottom_content">
                            <form class="product-card__basket" action="#" method="get">
                                <img src="images/basket.png" alt="basket">
                            </form>
                            <button type="submit" class="button product-card__button">Купить</button>
                        </div>
                    </div>
                    <div class="compare__row_group">
                        <div class="compare__row_top-close">
                            <img src="images/close2.png" alt="remove">
                        </div>
                        <div class="compare__row_top-img">
                            <img src="images/product1.png" alt="">
                        </div>
                        <div class="compare__row_top-product_title">
                            ТСД Терминал сбора данных Zebra Motorola MC55
                        </div>
                        <div class="compare__row_top-product_price">
                            96 000 руб
                        </div>
                        <div class="product-card__bottom_content">
                            <form class="product-card__basket" action="#" method="get">
                                <img src="images/basket.png" alt="basket">
                            </form>
                            <button type="submit" class="button product-card__button">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="compare__row">
                    <div class="compare__row-item">Параметр 1. Процессор</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                </div>
                <div class="compare__row">
                    <div class="compare__row-item">Параметр 2. Процессор</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                </div>
                <div class="compare__row">
                    <div class="compare__row-item">Параметр 3. Процессор</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                </div>
                <div class="compare__row">
                    <div class="compare__row-item">Параметр 4. Процессор</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                    <div class="compare__row-item">Marvell XScale 806 MHz — 256 MB RAM</div>
                </div>
            </div>
        </div>
    </div>
</section>