<section class="consulting">
    <div class="container">
        <div class="consulting__content">
            <div class="blockTitle">Cвяжитесь с нами!</div>
            <div class="consulting__description">Не тратьте время на изучение ассортимента, проконсультируйтесь со специалистом</div>
            <form action="#" class="consulting__form" method="get">
                <label class="consulting__input_label">
                    <div class="consulting__input_name">Имя</div>
                    <input type="text" name="name" class="consulting__input" placeholder="Андрей">
                </label>
                <label class="consulting__input_label">
                    <div class="consulting__input_tel">Телефон</div>
                    <input type="tel" name="tel" class="consulting__input phone" placeholder="+7 (___) ___ - __ - __">
                </label>
                <div class="consulting__agree consulting__agree_mobile">Отправляю данную форму даю согласие на обработку персональных данных</div>
                <button type="button" class="consulting__button">Оставить заявку</button>
            </form>
            <div class="consulting__agree">Отправляю данную форму даю согласие на обработку персональных данных</div>
            <div class="consulting__img">
                <img src="images/specialist.png" alt="">
            </div>
            <div class="consulting__bg">
                <img src="images/consulting_bg.png" alt="">
            </div>
        </div>
    </div>
</section>