<section class="contacts">
    <img src="images/aboutUs_component_2.png" class="contacts__component contacts__component_1" alt="">
    <div class="container-big">
        <div class="contacts__content">
            <div class="contacts__item">
                <img src="images/contacts_icon_1.svg" class="contacts__item-icon" alt="">
                <h4 class="contacts__item-title">Для споживачів</h4>
                <a href="tel:+" class="contacts__item-text text-simple">(067) 480-46-84</a>
                <a href="mailto:poltavaholod@gmail.com" class="contacts__item-text text-simple">poltavaholod@gmail.com</a>
            </div>
            <div class="contacts__item">
                <img src="images/contacts_icon_2.svg" class="contacts__item-icon" alt="">
                <h4 class="contacts__item-title">Юридична адреса</h4>
                <span class="contacts__item-text text-simple">м. Полтава</span>
                <span class="contacts__item-text text-simple">вул. Зіньківська, 51/2</span>
            </div>
            <div class="contacts__item">
                <img src="images/contacts_icon_3.svg" class="contacts__item-icon" alt="">
                <h4 class="contacts__item-title">Для партнерів</h4>
                <a href="tel:+0800501772" class="contacts__item-text text-simple">0 800 50 17 72</a>
                <a href="mailto:poltavaholod@gmail.com" class="contacts__item-text text-simple">poltavaholod@gmail.com</a>
            </div>
        </div>
    </div>
</section>