<div class="contact">
  <div class="mail__contact">
    <a href="mailto:zakaz@scan-service.ru" class="">zakaz@scan-service.ru</a>
    <span>Написать нам</span>
  </div>
  <div class="call__contact">
    <a href="callto:+79269126950" class="">+7  (926 ) 912-69-50</a>
    <span>Заказать звонок</span>
  </div>
</div>