<section class="contacts">
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__text">
                <div class="contacts__title">Контакты</div>
                <div class="contacts__info">
                    <div class="contacts__group">
                        <div class="contacts__group_title">zakaz@scan-service.ru</div>
                        <div class="contacts__group_text">Написать нам</div>
                    </div>
                    <div class="contacts__group">
                        <div class="contacts__group_title">+7  (926 ) 912-69-50</div>
                        <div class="contacts__group_text">Заказать звонок</div>
                    </div>
                    <div class="contacts__group">
                        <div class="contacts__group_title contacts__group_title-thin">Время работы:</div>
                        <div class="contacts__group_text contacts__group_text-big">Пн — Пт с 10:00 до 18:00</div>
                    </div>
                </div>
            </div>
            <div class="contacts__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21434.021975102016!2d35.1638024!3d47.8153194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sfr!4v1660654451285!5m2!1sru!2sfr" width="100%" height="100%" id="googleMap" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>