<section class="cta-banner">
    <div class="container-big">
        <div class="cta-banner__content">
            <h2 class="cta-banner__title">Виготовлення продуктів під вашою торговою маркою</h2>
            <p class="cta-banner__text text-simple">Ми допомагаємо брендам втілювати їхні ідеї в готовий продукт — від рецептури до упаковки.  Повний цикл виробництва, сертифікована якість і багаторічний досвід роботи з Private Label.</p>
            <a href="#" class="cta-banner__btn button button-reverse">Обговорити проєкт</a>
        </div>
    </div>
</section>