<section class="cta-banner">
    <div class="container-big">
        <div class="cta-banner__content">
            <h2 class="cta-banner__title">Партнерство, що приносить результат</h2>
            <p class="cta-banner__text text-simple">Ми працюємо з тими, хто цінує якість і прозорість у бізнесі. Наш досвід, сучасне виробництво та гнучкість дозволяють створювати продукти, які відповідають очікуванням партнерів на будь-якому ринку.</p>
            <a href="#" class="cta-banner__btn button button-reverse">Почати співпрацю</a>
        </div>
    </div>
</section>