<section class="deliveryTabs">
    <div class="container">
        <div class="deliveryTabs__content">
            <div class="deliveryTabs__top">
                <div class="deliveryTabs__top-text" tabindex="0">Доставка по Москве и области</div>
                <div class="deliveryTabs__top-text" tabindex="0">Доставка в регионы России и Калиниграда</div>
            </div>
            <div class="deliveryTabs__blocks">
                <div class="deliveryTabs__block">
                    <div class="deliveryTabs__block-img">
                        <img src="images/delivery_img1.png" alt="">
                    </div>
                    <div class="deliveryTabs__block-text">
                        <div class="deliveryTabs__block-group">
                            <div class="deliveryTabs__block-img deliveryTabs__block-img_mobile">
                                <img src="images/delivery_img1.png" alt="">
                            </div>
                            <div class="deliveryTabs__block-title">Минимальная сумма заказа 00 р.</div>
                        </div>
                        <div class="deliveryTabs__block-description">Кстати, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. </div>
                    </div>
                </div>
                <div class="deliveryTabs__block">
                    <div class="deliveryTabs__block-img">
                        <img src="images/delivery_img2.png" alt="">
                    </div>
                    <div class="deliveryTabs__block-text">
                        <div class="deliveryTabs__block-group">
                            <div class="deliveryTabs__block-img deliveryTabs__block-img_mobile">
                                <img src="images/delivery_img2.png" alt="">
                            </div>
                            <div class="deliveryTabs__block-title">Зона доставки охватывает</div>
                        </div>
                        <div class="deliveryTabs__block-description">Кстати, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. </div>
                    </div>
                </div>
                <div class="deliveryTabs__block">
                    <div class="deliveryTabs__block-img">
                        <img src="images/delivery_img3.png" alt="">
                    </div>
                    <div class="deliveryTabs__block-text">
                        <div class="deliveryTabs__block-group">
                            <div class="deliveryTabs__block-img deliveryTabs__block-img_mobile">
                                <img src="images/delivery_img3.png" alt="">
                            </div>
                            <div class="deliveryTabs__block-title">Сроки доставки</div>
                        </div>
                        <div class="deliveryTabs__block-description">Кстати, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. </div>
                    </div>
                </div>
                <div class="deliveryTabs__block">
                    <div class="deliveryTabs__block-img">
                        <img src="images/delivery_img4.png" alt="">
                    </div>
                    <div class="deliveryTabs__block-text">
                        <div class="deliveryTabs__block-group">
                            <div class="deliveryTabs__block-img deliveryTabs__block-img_mobile">
                                <img src="images/delivery_img4.png" alt="">
                            </div>
                            <div class="deliveryTabs__block-title">Способы оплаты</div>
                        </div>
                        <div class="deliveryTabs__block-description">Кстати, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>