<div class="deliveryInfo">
    <div class="container">
        <div class="deliveryInfo__content">
            <div class="deliveryInfo__block">
                <div class="deliveryInfo__title">Доставка Товара</div>
                <div class="deliveryInfo__description"> <span>Lorem ipsum dolor sit amet,</span>  consectetur adipiscing elit. In sapien augue sem eros elementum quis viverra nunc. Nibh mauris nunc diam, accumsan amet. Tincidunt volutpat nibh at at vehicula phasellus eu in phasellus. Suspendisse ultricies porta ultrices mattis mauris. Etiam quis a cursus </div>
            </div>
            <div class="deliveryInfo__block">
                <div class="deliveryInfo__title">Курьерская доставка</div>
                <div class="deliveryInfo__description"> <span>Lorem ipsum dolor sit amet,</span>  consectetur adipiscing elit. In sapien augue sem eros elementum quis viverra nunc. Nibh mauris nunc diam, accumsan amet. Tincidunt volutpat nibh at at vehicula phasellus eu in phasellus. Suspendisse ultricies porta ultrices mattis mauris. Etiam quis a cursus </div>
            </div>
            <div class="deliveryInfo__block">
                <div class="deliveryInfo__title">Стоимость доставки</div>
                <div class="deliveryInfo__description"> <span>Lorem ipsum dolor sit amet,</span>  consectetur adipiscing elit. In sapien augue sem eros elementum quis viverra nunc. Nibh mauris nunc diam, accumsan amet. Tincidunt volutpat nibh at at vehicula phasellus eu in phasellus. Suspendisse ultricies porta ultrices mattis mauris. Etiam quis a cursus </div>
            </div>
            <div class="deliveryInfo__block">
                <div class="deliveryInfo__title"></div>
                <div class="deliveryInfo__description"> <span>Lorem ipsum dolor sit amet,</span>  consectetur adipiscing elit. In sapien augue sem eros elementum quis viverra nunc. Nibh mauris nunc diam, accumsan amet. Tincidunt volutpat nibh at at vehicula phasellus eu in phasellus. Suspendisse ultricies porta ultrices mattis mauris. Etiam quis a cursus </div>
            </div>
            <div class="deliveryInfo__block">
                <div class="deliveryInfo__title">Самовывоз</div>
                <div class="deliveryInfo__description"> <span>Lorem ipsum dolor sit amet,</span>  consectetur adipiscing elit. In sapien augue sem eros elementum quis viverra nunc. Nibh mauris nunc diam, accumsan amet. Tincidunt volutpat nibh at at vehicula phasellus eu in phasellus. Suspendisse ultricies porta ultrices mattis mauris. Etiam quis a cursus </div>
            </div>
        </div>
    </div>
</div>