<div class="deliverySimple">
    <div class="container">
        <div class="deliverySimple__content">
            <div class="deliverySimple__block">
                <div class="deliverySimple__block-img">
                    <img src="images/label1.png" alt="">
                </div>
                <div class="deliverySimple__block-title">Демократичные цены</div>
            </div>
            <div class="deliverySimple__block">
                <div class="deliverySimple__block-img">
                    <img src="images/label2.png" alt="">
                </div>
                <div class="deliverySimple__block-title">Удобная оплата</div>
            </div>
            <div class="deliverySimple__block">
                <div class="deliverySimple__block-img">
                    <img src="images/label3.png" alt="">
                </div>
                <div class="deliverySimple__block-title">Защита покупателя</div>
            </div>
            <div class="deliverySimple__block">
                <div class="deliverySimple__block-img">
                    <img src="images/label4.png" alt="">
                </div>
                <div class="deliverySimple__block-title">Защита покупателя</div>
            </div>
        </div>
    </div>
</div>