<section class='departments' style='border: none;'>
  <div class='container'>
    <div class='departments__content'>
      <h2 class='sectionTitle'>Відділи та обладнання</h2>
      <p class='text_simple'>Наш завод оснащений сучасним обладнанням, яке дозволяє виготовляти
        металоконструкції будь-якої складності з високою точністю та ефективністю. Вся виробнича
        система складається з чітко налагоджених відділів:</p>
      <div class='departments__items'>
        <div class='departments__item'>
          <img src='/images/departments.jpg' alt='departments' />
          <div class='departments__item-text'>
            <div class='departments__item-title text_simple'>Ділянка заготівлі профілів</div>
            <div class='departments__item-desc'>Метал нарізається завдяки торцювальній пилці. Далі
              заготовки надходять на свердлильний верстат або плазморіз з ЧПК для формування
              отворів, необхідних для збирання конструкцій.</div>
          </div>
        </div>
        <div class='departments__item'>
          <img src='/images/departments.jpg' alt='departments' />
          <div class='departments__item-text'>
            <div class='departments__item-title text_simple'>Ділянка заготівлі профілів</div>
            <div class='departments__item-desc'>Метал нарізається завдяки торцювальній пилці. Далі
              заготовки надходять на свердлильний верстат або плазморіз з ЧПК для формування
              отворів, необхідних для збирання конструкцій.</div>
          </div>
        </div>
        <div class='departments__item'>
          <img src='/images/departments.jpg' alt='departments' />
          <div class='departments__item-text'>
            <div class='departments__item-title text_simple'>Ділянка заготівлі профілів</div>
            <div class='departments__item-desc'>Метал нарізається завдяки торцювальній пилці. Далі
              заготовки надходять на свердлильний верстат або плазморіз з ЧПК для формування
              отворів, необхідних для збирання конструкцій.</div>
          </div>
        </div>
        <div class='departments__item'>
          <img src='/images/departments.jpg' alt='departments' />
          <div class='departments__item-text'>
            <div class='departments__item-title text_simple'>Ділянка заготівлі профілів</div>
            <div class='departments__item-desc'>Метал нарізається завдяки торцювальній пилці. Далі
              заготовки надходять на свердлильний верстат або плазморіз з ЧПК для формування
              отворів, необхідних для збирання конструкцій.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>