<section class="experience">
    <div class="experience__blur"></div>
    <div class="container">
        <div class="experience__content">
            <div class="experience__block">
                <div class="experience__block-title">UKRAINIAN STEEL GROUP</div>
                <p class="experience__block-description">компанія з європейськими інвестиціями, яка вже більше 10 років виробляє покрівельні та фасадні матеріали для швидкого монтажу.</p>
                <p class="experience__block-description">Основний принцип роботи нашої компанії - використання сертифікованої сировини що відповідає міжнародним стандартам якості.</p>
            </div>
            <div class="experience__block experience__block_white">
                <div class="experience__block-title">ПОНАД 8000 м2</div>
                <p class="experience__block-description">виробничих потужностей USG, що розташовані у Львові та Запоріжжі вирішують логістичне питання поставки нашої продукції у будь-який регіон та дозволяють на зберігати до 1400т рулонної сталі на кожному з виробництв.</p>
            </div>
            <div class="experience__block">
                <div class="experience__block-title">ДОСВІД</div>
                <p class="experience__block-description">роботи з міжнародними партнерами, високі вимоги до сировини та обладнання, грамотні технічні консультації та допомога в узгодженні і оптимізації проекту.</p>
            </div>
        </div>
    </div>
</section>