<section class="favorites">
    <div class="container">
        <div class="favorites__content">
            <div class="favorites__top">
                <div class="favorites__title">Избранное</div>
                <div class="favorites__reset">Очистить избранное</div>
            </div>
             <div class="ourProducts__cards">
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
            </div>
        </div>
    </div>
</section>