<div class="filter">
  <div class="filter__top">
    <div class="filter__title">Фильтр</div>
    <div class="filter__close">Закрыть</div>
  </div>
<form action="#" method="get" class="filter__form">
  <ul class="filter__list">
    <li class="filter__item">
      <div class="filter__item-title">Цена</div>
      <div class="filter__item-content">
        <div class="polzunok-container-5">
          <input type="text" class="polzunok-input-5-left" />
          <input type="text" class="polzunok-input-5-right" />
          <div class="polzunok-5"></div>
        </div>
      </div>
    </li>
    <li class="filter__item">
      <div class="filter__item-title">Производитель</div>
      <div class="filter__item-content">
        <div class="custom-input">
          <input type="checkbox" name="manufacturer1" id="manufacturer1" class="custom-checkbox"/>
          <label for="manufacturer1"></label>
          Производитель 1
        </div>
        <div class="custom-input">
          <input type="checkbox" name="manufacturer2" id="manufacturer2" class="custom-checkbox"/>
          <label for="manufacturer2"></label>
          Производитель 2
        </div>
        <div class="custom-input">
          <input type="checkbox" name="manufacturer3" id="manufacturer3" class="custom-checkbox"/>
          <label for="manufacturer3"></label>
          Производитель 3
        </div>
      </div>
    </li>
    <li class="filter__item">
      <div class="filter__item-title">Класс</div>

    </li>
    <li class="filter__item">
      <div class="filter__item-title">Размер</div>

    </li>
    <li class="filter__item">
      <div class="filter__item-title">Количество в упаковке</div>

    </li>
  </ul>
  <div class="filter__group-buttons">
    <button type="submit" class="filter__apply">Применить фильтр</button>
    <button type="submit" class="filter__reset">Сбросить фильтр</button>
  </div>
</form>
</div>