<section class="info">
    <div class="container">
        <div class="info__content">
            <div class="logo info__logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="logo">
                </a>
            </div>
            <div class="info__contacts">
                <div class="header-middle__contacts">
                    <picture>
                        <source media="(max-width:768px)" srcset="images/headphone_mobile.png">
                        <img src="images/headphone.png" alt="">
                    </picture>
                    <div class="header-middle__tel">
                        <a href="tel:+380933838878">+380 93 38 388 78</a>
                        <a href="tel:+380933838878">+380 93 38 388 78</a>
                    </div>
                </div>
                <div class="info__social">
                    <a href="#">
                        <img src="images/facebook.png" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="images/twitter.png" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="images/instagram.png" alt="instagram">
                    </a>
                    <a href="#">
                        <img src="images/pinterest.png" alt="pinterest">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer__subscribe">
        <div class="footer__subscribe-text">Подпишись, и получай эксклюзивные предложения прямо на почту</div>
        <form action="#" class="footer__subscribe-form" method="get">
            <input type="text" class="footer__subscribe-input" placeholder="Ваш email">
            <button type="submit" class="custom-button footer__subscribe-custom-button">Подписаться </button>
        </form>
    </div>
    <div class="container">
        <div class="footer__content">
            <div class="footer__top">
                <div class="footer__left">
                        <div class="logo footer__logo">
                            <a href="index.html">
                                <img src="images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="footer__contacts">
                            <div class="header-middle__contacts">
                                <picture>
                                    <source media="(max-width:768px)" srcset="images/headphone_mobile.png">
                                    <img src="images/headphone.png" alt="">
                                </picture>
                                <div class="header-middle__tel">
                                    <a href="tel:+380933838878">+380 93 38 388 78</a>
                                    <a href="tel:+380933838878">+380 93 38 388 78</a>
                                </div>
                            </div>
                            <div class="footer__social">
                                <a href="#">
                                    <img src="images/facebook.png" alt="facebook">
                                </a>
                                <a href="#">
                                    <img src="images/twitter.png" alt="twitter">
                                </a>
                                <a href="#">
                                    <img src="images/instagram.png" alt="instagram">
                                </a>
                                <a href="#">
                                    <img src="images/pinterest.png" alt="pinterest">
                                </a>
                            </div>
                            <div class="footer__mail">info@mebeltop.com.ua</div>
                        </div>
                </div>
                <div class="footer__menu">
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-title">Полезное</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link">Распродажа</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Новинки </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Акции </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Отзывы </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Блог </a>
                        </li>
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-title">Информация</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link">О нас</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Контакты </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Наши магазины </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Доставка и оплата </a>
                        </li>
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-title">Категории</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link">Диваны</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Кухни </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Гостинные </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Кровати </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Стулья и кресла </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Шкафы купе </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Комоды </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Детская мебель </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Матрасы </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Зеркала </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#" class="footer__list-link"> Офисная мебель </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-content">
                <div class="footer__bottom-create">СОЗДАНО В MAXOPEN</div>
                <div class="footer__bottom-rules">
                    <a href="#" class="footer__bottom-policy">Политика конфиндециальности</a>
                    <a href="#" class="footer__bottom-policy">Условия офёрты</a>
                </div>
            </div>
        </div>
    </div>
</footer>