<footer class='footer'>
    <div class="container">
        <div class="footer__content">
            <div class="footer__top">
                <div class="videoBlock footer__video">
                    <video class="video-element footer-video-element" width="640" height="360" playsinline muted>
                        <source src="/images/footer_video.mp4" type="video/mp4">
                        Ваш браузер не підтримує відео.
                    </video>
                    <img loading="lazy" src="/images/play_btn.svg" alt="play" class="play__btn">
                </div>
                <ul class="footer__menu">
                    <li class='menu__list-item'>
                        <a href='#' class='menu__list-link'>Виробництво та проєктування</a>
                    </li>
                    <li class='menu__list-item'>
                        <a href='#' class='menu__list-link'>Продукція</a>
                    </li>
                    <li class='menu__list-item'>
                        <a href='#' class='menu__list-link'>Будівництво споруд</a>
                    </li>
                    <li class='menu__list-item'>
                        <a href='#' class='menu__list-link'>Проєктний аудит</a>
                    </li>
                    <li class='menu__list-item'>
                        <a href='#' class='menu__list-link'>Партнерство</a>
                    </li>
                    <li class='menu__list-item'>
                        <a href='#' class='menu__list-link'>Контакти</a>
                    </li>
                </ul>
                <div class="footer__contacts">
                    <div class="footer__contacts-group">
                        <div class="footer__contacts-title">Головний офіс:</div>
                        <a href="mailto:karkas@zskua.com" class="footer__contacts-text">karkas@zskua.com</a>
                        <a href="tel:+380777971111" class="footer__contacts-text">+38(077) 797-11-11</a>
                    </div>
                    <div class="footer__contacts-group">
                        <div class="footer__contacts-title">Відділ закупівель:</div>
                        <a href="mailto:zakupivli@zskua.com" class="footer__contacts-text">zakupivli@zskua.com</a>
                        <a href="tel:+380685263085" class="footer__contacts-text">+38(068) 526-30-85</a>
                    </div>
                    <div class="footer__contacts-group">
                        <div class="footer__contacts-title">Наші адреси</div>
                        <a href="#" class="footer__contacts-text">м. Запоріжжя, Запорізька область, 69002 вул. Гагаріна, 5</a>
                        <a href="#" class="footer__contacts-text">м. Київ, Київська область, 01013 вул. Будіндустрії, 6</a>
                    </div>
                </div> 
                <div class="footer__column">
                    <div class="footer__logo">
                        <a href="/" class="">
                            <img loading="lazy" src="images/footer_logo.svg" alt="logo">
                        </a>
                    </div>

                    <div class="footer__desc">Ми цінуємо відкритий діалог. Підписуйтесь і звертайтеся у будь-який час — завжди будемо на зв’язку.</div>
                    <div class="footer__social">
                        <a href="#" class="footer__social-icon"><img loading="lazy" src="images/tiktok.svg" alt="tiktok"></a>
                        <a href="#" class="footer__social-icon"><img loading="lazy" src="images/telegram.svg" alt="telegram"></a>
                        <a href="#" class="footer__social-icon"><img loading="lazy" src="images/instagram.svg" alt="instagram"></a>
                        <a href="#" class="footer__social-icon"><img loading="lazy" src="images/facebook.svg" alt="facebook"></a>
                        <a href="#" class="footer__social-icon"><img loading="lazy" src="images/youtube.svg" alt="youtube"></a>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="text">© 2025 Завод Каркас Україна. Всі права захищені</div>
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-list__item">
                        <a href="#" class="footer__bottom-list__link">Умови використання</a>
                    </li>
                    <li class="footer__bottom-list__item">
                        <a href="#" class="footer__bottom-list__link">Політика конфіденційності</a>
                    </li>
                    <li class="footer__bottom-list__item">
                        <a href="#" class="footer__bottom-list__link">Файли cookie</a>
                    </li>
                    <li class="footer__bottom-list__item">
                        <a href="#" class="footer__bottom-list__link">Публічна оферта</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>