<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__top">
                <div class="logo footer__logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="footer__top-contacts">
                    <div class="header-middle__contacts">
                        <picture>
                            <source media="(max-width:768px)" srcset="images/headphone_mobile.png">
                            <img src="images/headphone.png" alt="">
                        </picture>
                        <div class="header-middle__tel">
                            <a href="tel:+380933838878">+380 93 38 388 78</a>
                            <a href="tel:+380933838878">+380 93 38 388 78</a>
                        </div>
                    </div>
                    <div class="footer__social">
                        <a href="#">
                            <img src="images/facebook.png" alt="facebook">
                        </a>
                        <a href="#">
                            <img src="images/twitter.png" alt="twitter">
                        </a>
                        <a href="#">
                            <img src="images/instagram.png" alt="instagram">
                        </a>
                        <a href="#">
                            <img src="images/pinterest.png" alt="pinterest">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__midle"></div>
            <div class="footer__bottom"></div>
        </div>
    </div>
</footer>