<footer class='footer'>
    <img src="images/footer_eskimo.png" class="footer__eskimo" alt="eskimo">
    <img src="images/footer_raspberry.png" class="footer__raspberry" alt="eskimo">
    <img src="images/footer_strawberry.png"class="footer__strawberry"  alt="eskimo">
  <div class='container-small'>
    <div class="footer__content">
        <div class='container-footer'>
            <div class='footer__top'>
            <a href='/' class='logo footer__logo'>
                <img src='images/footer_logo.svg' alt='logo' />
            </a>
            <div class='footer__top-column'>
                <div class='footer__top-column__title'>Меню</div>
                <div class='footer__top-column__list'>
                <a href='#' class='footer__top-column__link'>Каталог</a>
                <a href='#' class='footer__top-column__link'>Про нас</a>
                <a href='#' class='footer__top-column__link'>Партнерам</a>
                </div>
            </div>
            <div class='footer__top-column'>
                <div class='footer__top-column__title'>Інформація</div>
                <div class='footer__top-column__list'>
                <a href='#' class='footer__top-column__link'>Політика конфіденційності</a>
                <a href='#' class='footer__top-column__link'>Умови і положення</a>
                <a href='#' class='footer__top-column__link'>Контакти</a>
                </div>
            </div>
            <div class='footer__top-column'>
                <div class='footer__top-column__title'>Контакти</div>
                <div class='footer__top-column__list'>
                <a href='tel:+0800501772' class='footer__top-column__link'>0 800 50 17 72</a>
                <a href='mailto:poltavaholod@gmail.com' class='footer__top-column__link'>poltavaholod@gmail.com</a>
                
                <ul class="socials">
                    <li class="socials__item">
                        <a href="" class="socials__link">
                            <img src="images/facebook.svg" alt="facebook">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="" class="socials__link">
                            <img src="images/instagram.svg" alt="instagram">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="" class="socials__link">
                            <img src="images/youtube.svg" alt="youtube">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="" class="socials__link">
                            <img src="images/tiktok.svg" alt="tiktok">
                        </a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
            <div class='footer__bottom'>
            <div class='footer__bottom-text'>© 2025 Poltava Holod. Всі права захищені</div>
            <img src="images/footer_img_main.png"class='footer__bottom-img' alt='icecream' />
            </div>
        </div>
    </div>
  </div>
</footer>