<footer class="footer">
    <div class="header__top">
        <div class="header__top_content">
            {{> blocks / logo }}
            {{> blocks / contact_us }}
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__mobile">
                {{> blocks / contact_us }}
                <div class="footer__banner">
                    <div class="catalog__menu_banner">
                        <img src="images/catalog__menu_banner.png" alt="">
                        <img src="images/shadow_banner.png" alt="">
                        <div class="catalog__menu_banner_content">
                            <div class="catalog__menu_banner_text">
                                Интеграция <br>WMS-систем
                            </div>
                            <div class="catalog__menu_banner_button">
                                Узнать подробнее
                            </div>
                        </div>
                        <div class="catalog__button_sale">Акция</div>
                    </div>
                </div>
            </div>
            <div class="footer__blocks">
                <ul class="footer__list">
                    <li class="footer__list_item footer__list_item_title">Услуги</li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Настройка оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Диагностика оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Ремонт оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Аренда оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Вызов специалиста</a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list_item footer__list_item_title">Популярные разделы</li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Настройка оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Диагностика оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Ремонт оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Аренда оборудования</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Вызов специалиста</a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list_item footer__list_item_title">Клиентам</li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Политика конфиденциальности</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Уловия соглашения</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Условия доставки</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Условия оплаты</a>
                    </li>
                    <li class="footer__list_item">
                        <a href="#" class="footer__list_link">Реквизиты</a>
                    </li>
                </ul>
                <div class="footer__banner">
                    <div class="catalog__menu_banner">
                        <img src="images/catalog__menu_banner.png" alt="">
                        <img src="images/shadow_banner.png" alt="">
                        <div class="catalog__menu_banner_content">
                            <div class="catalog__menu_banner_text">
                                Интеграция <br>WMS-систем
                            </div>
                            <div class="catalog__menu_banner_button">
                                Узнать подробнее
                            </div>
                        </div>
                        <div class="catalog__button_sale">Акция</div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">2021 © SCAN-SERVISE</div>
        </div>
    </div>
</footer>