<section class="formats">
    <div class="container-big">
        <div class="formats__content">
            <img src="images/ourPartners_component_3.png" class="formats__component formats__component_1" alt="">
            <h2 class="sectionTitle">Формати співпраці</h2>
            <div class="formats__desc text-simple">Кожен наш партнер отримує більше, ніж просто продукцію — ми надаємо підтримку, стабільність і гнучкість у форматах співпраці. Виберіть напрям, який найкраще відповідає вашим цілям.</div>
            <div class="formats__items">
                <div class="formats__item">
                    <img src="images/formats_icon_1.svg" alt="" class="formats__item-icon">
                    <div class="formats__item-title">Дистриб'юторам</div>
                    <div class="formats__item-desc text-simple">Стабільні поставки, широка продуктова лінійка, підтримка в маркетингу та розвитку бізнесу.</div>
                </div>
                <div class="formats__item">
                    <img src="images/formats_icon_2.svg" alt="" class="formats__item-icon">
                    <div class="formats__item-title">Торговим мережам</div>
                    <div class="formats__item-desc text-simple">Private Label, фасовані продукти, адаптація під формати мережі та індивідуальні рішення.</div>
                </div>
                <div class="formats__item">
                    <img src="images/formats_icon_3.svg" alt="" class="formats__item-icon">
                    <div class="formats__item-title">HoReCa / Food service</div>
                    <div class="formats__item-desc text-simple">Продукти для закладів харчування: десерти, напівфабрикати, спреди та інші рішення.</div>
                </div>
                <div class="formats__item">
                    <img src="images/formats_icon_4.svg" alt="" class="formats__item-icon">
                    <div class="formats__item-title">Експортним партнерам</div>
                    <div class="formats__item-desc text-simple">Міжнародна сертифікація (ЄС, Halal, QCR), досвід експорту та логістична підтримка.</div>
                </div>
            </div>
        </div>
    </div>
</section>