<section class="geografic">
        <div class="geografic__content">
            <div class="geografic__banners">
                <div class="geografic__banner">
                    <div class="geografic__banner_title">Бесплатный выезд специалиста по ремонту в ЦФО РФ</div>
                    <div class="geografic__banner_description">Наш специалист приедет и проконсультирует Вас на месте</div>
                    {{> blocks / discover}}
                    <div class="geografic__banner_img">
                    </div>
                </div>
                <div class="geografic__banner">
                    <div class="geografic__banner_title"><span>Бесплатный</span> выезд менеджера на точку для консультаций</div>
                    <div class="geografic__banner_description">Наш специалист приедет и проконсультирует Вас на месте</div>
                    {{> blocks / discover}}
                    <div class="geografic__banner_img">
                    </div>
                </div>
            </div>
            <div class="geografic__map">
                <div class="geografic__map_title">География деятельности</div>
                <div class="geografic__map_description">Основная наша цель, это дать клиентам качественный сервис, качественные и надежные продукты, и легкую работу с ними. </div>
                <div class="geografic__map_img">
                    <img src="images/map.png" alt="map">
                    <div class="geografic__map_point geografic__map_point1">
                        <div class="geografic__map_point_info">
                            <span class="geografic__map_point_info_text">г. Москва, ул. Название улицы, стр. 1, д. 458, оф. 480</span> 
                        </div>
                    </div>
                    <div class="geografic__map_point geografic__map_point2">
                        <div class="geografic__map_point_info">
                            <span class="geografic__map_point_info_text">г. Москва, ул. Название улицы, стр. 1, д. 458, оф. 480</span> 
                        </div>
                    </div>
                    <div class="geografic__map_point geografic__map_point3 map__point_active">
                        <div class="geografic__map_point_info">
                            <span class="geografic__map_point_info_text">г. Москва, ул. Название улицы, стр. 1, д. 458, оф. 480</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>