<section class="template2 geografic">
    <div class="container">
        <h2 class="sectionTitle">Географія постачань заводами "Каркас Україна"</h2>
        <div class="template2__content">
            
            <div class="map-wrapper">
                {{> map}}
                <!-- Контейнер для точек -->
                <div class="map-points"></div>
                </div>

                <!-- Список созданных точек -->
            <div class="points-list"></div>
        </div>
    </div>
</section>