<section class="geografic">
    <img class="geografic__component geografic__component_1" src="images/ourPartners_component_2.png" alt="">
    <img class="geografic__component geografic__component_2" src="images/ourPartners_component_1.png" alt="">
    <div class="container-big">
        <div class="geografic__content">
            <h2 class="sectionTitle">Наші партнери</h2>
            <div class="geografic__desc text-simple">Ми співпрацюємо з провідними українськими рітейлерами, мережами HoReCa та міжнародними експортними клієнтами. Наша продукція представлена в національних торгових мережах та експортується до країн Європи та Азії.</div>
            <div class="map geografic__map">
                {{> blocks/components/selectOblast}}
                {{> blocks/components/map}}
                {{> blocks/components/oblastResult}}
            </div>
        </div>
    </div>
</section>