<section class="geografic">
    <div class="container">
        <div class="sectionTitle">География деятельности</div>
        <div class="geografic__content">
            <ul class="geografic__info">
                <li class="geografic__item">
                    <span class="geografic__circle"></span>
                    <span class="geografic__text">Представительство в 12 областях Украины</span>
                </li>
                <li class="geografic__item">
                    <span class="geografic__circle"></span>
                    <span class="geografic__text">Доставка по любую точку страны</span>
                </li>
                <li class="geografic__item">
                    <span class="geografic__circle"></span>
                    <span class="geografic__text">Выгодная доставка своим транспортом</span>
                </li>
                <li class="geografic__item">
                    <span class="geografic__circle"></span>
                    <span class="geografic__text">Сотрудничаем с почтовыми службами</span>
                </li>
            </ul>
            <div class="geografic__map">
                <img src="images/map.png" alt="map">
            </div>
        </div>
    </div>
</section>