<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__nav">
                <a href="index.html" class="logo header__logo">
                    <img src="images/logo.png" alt="logo">
                </a>
                <ul class="menu header__menu">
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">Компанія</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">Послуги</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">Продукція</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">Партнери</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="header__right">
                <a href="tel:+380972260000" class="header__phone">097 226 00 00</a>
                <div class="header__lang">
                    <button type="button" class="button button__active">ua</button>
                    <button type="button" class="button">ru</button>
                </div>
                <div class="header__burger">
                    <img src="images/burger.png" alt="burger">
                </div>
                <ul class="burger__menu">
                    <li class="burger__menu-item">
                        <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        <div class="burger__close">
                            <img src="images/close2.png" alt="close">
                        </div>
                    </li>
                    <li class="burger__menu-item">
                        <a href="#" class="header__menu-link">Компанія</a>
                    </li>
                    <li class="burger__menu-item">
                        <a href="#" class="header__menu-link">Послуги</a>
                    </li>
                    <li class="burger__menu-item">
                        <a href="#" class="header__menu-link">Продукція</a>
                    </li>
                    <li class="burger__menu-item">
                        <a href="#" class="header__menu-link">Партнери</a>
                    </li>
                    <li class="burger__menu-item">
                        <a href="#" class="header__menu-link">Контакти</a>
                    </li>
                    <li class="header__lang">
                        <button type="button" class="button button__active">ua</button>
                        <button type="button" class="button">ru</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>