<header class='header'>
  <div class='container'>
    <div class='header__content'>
      <div class='logo header__logo'>
        <a href='/'>
          <img loading='lazy' src='/images/logo.svg' alt='' />
        </a>
      </div>
      <div class='menu header__menu'>
        <ul class='menu__list'>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Виробництво та проєктування</a>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Продукція</a>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Будівництво споруд</a>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Проєктний аудит</a>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Партнерство</a>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Контакти</a>
          </li>
        </ul>
      </div>
      <div class='tracking header__tracking'>
        <img loading='lazy' src='/images/tracking_icon.svg' alt='button' />
        <span class='header__tracking-text'>Трекінг замовлень</span>
      </div>
      <div class="burger">
         <img src="/images/burger_icon.svg" alt="menu">
      </div>
    </div>
</header>