<header class='header'>
  <div class='overlay'></div>
  <div class='container'>
    <div class='header__content'>
      <div class='logo header__logo'>
        <a href='/'>
          <img loading='lazy' src='/images/logo.svg' alt='Каркас Україна - на головну' aria-label="Каркас Україна — на головну" />
        </a>
      </div>
      <div class='menu header__menu'>
        <div class="menu__heading">
          <a href="/" class="burger__logo">
              <img loading="lazy" class="menu__heading-logo" src="/images/burger_logo.svg" alt="logo">
            </a>
            <img loading="lazy" class="menu__heading-close" src="/images/burger_close.svg" alt="close">
        </div>
        <ul class='menu__list'>
          <li class='menu__list-item'>
            <a href='manufacturings.html' class='menu__list-link'>Виробництво та проєктування</a>
            <ul class="submenu">
              <li class='submenu__item'>
                <a href='manufacturing.html' class='submenu__link'>Розробка КМ та КМД</a>
              </li>
              <li class='submenu__item'>
                <a href='manufacturing.html' class='submenu__link'>Вхідний контроль металопрокату</a>
              </li>
              <li class='submenu__item'>
                <a href='manufacturing.html' class='submenu__link'>Контроль фарбування металоконструкцій</a>
              </li>
              <li class='submenu__item'>
                <a href='manufacturing.html' class='submenu__link'>Контроль пакування</a>
              </li>
              <li class='submenu__item'>
                <a href='manufacturing.html' class='submenu__link'>Логістика</a>
              </li>
              <li class='submenu__item'>
                <a href='manufacturing.html' class='submenu__link'>Контроль монтажу металоконструкцій</a>
              </li>
            </ul>
          </li>
          <li class='menu__list-item'>
            <a href='products.html' class='menu__list-link'>Продукція</a>
             <ul class="submenu">
              <li class='submenu__item'>
                <a href='product.html' class='submenu__link'>Ангари для зерна</a>
              </li>
              <li class='submenu__item'>
                <a href='product.html' class='submenu__link'>Промислові та виробничі склади</a>
              </li>
              <li class='submenu__item'>
                <a href='product.html' class='submenu__link'>Корівники</a>
              </li>
              <li class='submenu__item'>
                <a href='product.html' class='submenu__link'>Свинарники</a>
              </li>
              <li class='submenu__item'>
                <a href='product.html' class='submenu__link'>Овочесховища</a>
              </li>
              <li class='submenu__item'>
                <a href='product.html' class='submenu__link'>Навіси</a>
              </li>
            </ul>
          </li> 
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Будівництво ууу споруд</a>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Проєктний аудит</a>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Партнерство</a>
            <ul class="submenu">
              <li class='submenu__item'>
                <a href='#' class='submenu__link'>Ангари для зерна</a>
              </li>
              <li class='submenu__item'>
                <a href='#' class='submenu__link'>3 проєктними компаніями</a>
              </li>
              <li class='submenu__item'>
                <a href='#' class='submenu__link'>3 геологами та геодезистами</a>
              </li>
              <li class='submenu__item'>
                <a href='#' class='submenu__link'>3 будівельними компаніями</a>
              </li>
              <li class='submenu__item'>
                <a href='#' class='submenu__link'>З постачальниками матеріалів та сировини</a>
              </li>
              <li class='submenu__item'>
                <a href='#' class='submenu__link'>З постачальниками обладнання</a>
              </li>
              <li class='submenu__item'>
                <a href='#' class='submenu__link'>3 заводами металоконструкцій</a>
              </li>
            </ul>
          </li>
          <li class='menu__list-item'>
            <a href='#' class='menu__list-link'>Контакти</a>
          </li>
        </ul>
        <div class='tracking header__tracking header__tracking_mobile'>
          <img loading='lazy' src='/images/tracking_icon.svg' alt='button' />
          <span class='header__tracking-text'>Трекінг замовлень</span>
        </div>
      </div>
      <img loading="lazy" src="/images/burger_icon.svg" alt="menu" class="burger">
      <div class='tracking header__tracking header__tracking_desktop'>
        <img loading='lazy' src='/images/tracking_icon.svg' alt='button' />
        <span class='header__tracking-text'>Трекінг замовлень</span>
      </div>
    </div> 
</header>