<header class='header'>
  <div class='overlay'></div>
  <div class='header__top'>
    <div class='container-small'>Холод, який зберігає найкраще</div>
  </div>
  <div class='container-small'>
    <div class='header__bottom'>
      <a class='logo header__logo' href='/'>
        <img src='/images/logo.svg' alt='' aria-label="" />
      </a>
      <div class='menu header__menu'>
        <div class="menu__heading">
          <a href="/" class="burger__logo">
              <img loading="lazy" class="menu__heading-logo" src="/images/logo.svg" alt="logo">
            </a>
            <img loading="lazy" class="menu__heading-close" src="/images/burger_close.svg" alt="close">
        </div>
        <ul class='menu__list'>
          <li class='menu__list-item menu-item'>
            <a href='/catalog.html' class='menu__list-link'>Каталог</a> 
            <ul class="submenu sub-menu">
              <li class='submenu__item menu-item'>
                <a href='products.html?data-cat=icecream' class='submenu__link'>Морозиво</a>
              </li>
              <li class='submenu__item menu-item'>
                <a href='products.html?data-cat=humus' class='submenu__link'>Хумус</a>
              </li>
              <li class='submenu__item menu-item'>
                <a href='products.html?data-cat=zakusky' class='submenu__link'>Закуски бутербродні</a>
              </li>
              <li class='submenu__item menu-item'>
                <a href='products.html?data-cat=napiv' class='submenu__link'>Напівфабрикати</a>
              </li>
              <li class='submenu__item menu-item'>
                <a href='products.html?data-cat=frozen' class='submenu__link'>Заморожена продукція</a>
              </li>
            </ul>
          </li>
          <li class='menu__list-item menu-item'>
            <a href='about.html' class='menu__list-link'>Про нас</a>
          </li> 
          <li class='menu__list-item menu-item'>
            <a href='partners.html' class='menu__list-link'>Партнерам</a>
          </li>
          <li class='menu__list-item menu-item'>
            <a href='#' class='menu__list-link'>Контакти</a>
          </li>
          <li class='menu__list-item menu-item'>
            <a href='private.html' class='menu__list-link'>Private Label</a>
          </li>
        </ul>
        <div class="header__group mobile">
        <div class="lang">
          <div class="lang__current">ua</div>
          <div class="lang__list">
            <a href="#" class="lang__item active">ua</a>
            <a href="#" class="lang__item">en</a>
          </div>
        </div>
        <button class="button" type="button">Стати партнером</button>
      </div>
      </div>
      <div class="header__group">
        <div class="lang">
          <div class="lang__current">ua</div>
          <div class="lang__list">
            <a href="#" class="lang__item">ua</a>
            <a href="#" class="lang__item">en</a>
          </div>
        </div>
        <button class="button" type="button">Стати партнером</button>
      </div>
      <img loading="lazy" src="/images/burger_icon.svg" alt="menu" class="burger">
    </div> 
</header>