<header class="header">
    <div class="header-top">
        <ul class="header__menu_mobile">
                    <li class="header__menu-item active"><a href="#" class="header__menu-link">О нас</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Контакты</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Наши магазины</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Доставка</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Оплата</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Акции</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Гарантии</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Отзывы</a></li>
                </ul>
        <div class="container">
            <div class="header-top__content">
                <ul class="header__menu">
                    <li class="header__menu-item"><a href="#" class="header__menu-link">О нас</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Контакты</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Наши магазины</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Доставка</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Оплата</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Акции</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Гарантии</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Отзывы</a></li>
                </ul>
                <div class="header__burger">
                    <img src="images/burger.png" alt="menu" class="">
                    <img src="images/close.png" alt="close" class="hide">
                </div>
                <div class="header__setting">
                    <div class="header__setting-location">
                        <span>Ваш город: </span>
                        <select name="location" id="location">
                            <option value="Запоріжжя">Запоріжжя</option>
                            <option value="Киев">Киев</option>
                        </select>
                    </div>
                    <div class="header__setting-lang">
                        <select name="lang" id="lang">
                            <option value="RU">RU</option>
                            <option value="UA">UA</option>
                        </select>
                    </div>
                </div>
                <ul class="header__icons">
                    <li class="header__item">
                        <a href="#" class="header__link">
                            <img src="images/search.png" alt="search">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">
                            <img src="images/compare.png" alt="search">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">
                            <img src="images/favorite.png" alt="search">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">
                            <img src="images/basket.png" alt="search">
                        </a>
                        <div class="header__count">4</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-middle__content">
                <a href="index.html" class="logo header__logo">
                    <img src="images/logo.png" alt="logo">
                </a>
                <div class="header-middle__right">
                    <div class="header-middle__contacts">
                        <picture>
                            <source media="(max-width:768px)" srcset="images/headphone_mobile.png">
                            <img src="images/headphone.png" alt="">
                        </picture>
                        
                        <div class="header-middle__tel">
                            <a href="tel:+380933838878">+380 93 38 388 78</a>
                            <a href="tel:+380933838878">+380 93 38 388 78</a>
                        </div>
                    </div>
                    <div class="custom-button header-middle__custom-button">Перезвонить вам?</div>
                    <div class="header-middle__search">
                        <input type="text" class="input header-middle__input" placeholder="Поиск">
                        <div class="header-middle__input-icon">
                            <img src="images/search.png" alt="search">
                        </div>
                    </div>
                    <div class="header-middle__icons">
                        <ul class="header__icons">
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    <img src="images/compare.png" alt="search">
                                </a>
                            </li>
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    <img src="images/favorite.png" alt="search">
                                </a>
                            </li>
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    <img src="images/basket.png" alt="search">
                                </a>
                                <div class="header__count">4</div>
                            </li>
                        </ul>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__content">
                <div class="header-bottom__catalog__button">
                    <button class="custom-button header-bottom__custom-button" type="button">
                        <img src="images/burger.png" alt="">
                        <span>КАТАЛОГ ТОВАРОВ</span>
                    </button>
                    <ul class="header-bottom__catalog">
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Диваны
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Мягкая мебель
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Кухонные уголки
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Столы обеденные
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Офисная мебель
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Детская мебель
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Гостинные
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Кресла и стулья
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Матрасы
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Комоды
                            </a>
                        </li>
                        <li class="header-bottom__catalog-item">
                            <a href="#" class="header-bottom__catalog-link">
                                Зеркала
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-bottom__category-group">
                    <ul class="header-bottom__category">
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category1.png" alt="">
                                <span>Диваны</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category2.png" alt="">
                                <span>Мягкая мебель</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category3.png" alt="">
                                <span>Кухонные уголки</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category4.png" alt="">
                                <span>Столы</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category5.png" alt="">
                                <span>Офисная мебель</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category6.png" alt="">
                                <span>Детская мебель</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category7.png" alt="">
                                <span>Гостинные</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category1.png" alt="">
                                <span>Столы обеденные</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category2.png" alt="">
                                <span>Офисная мебель</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category3.png" alt="">
                                <span>Кресла и стулья</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category4.png" alt="">
                                <span>Матрасы</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category5.png" alt="">
                                <span>Комоды</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category6.png" alt="">
                                <span>Зеркала</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category7.png" alt="">
                                <span>Под заказ</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category6.png" alt="">
                                <span>Шкафы купе</span>
                            </a>
                        </li>
                        <li class="header-bottom__category-item">
                            <a href="#" class="header-bottom__category-link">
                                <img src="images/category7.png" alt="">
                                <span>Кухни</span>
                            </a>
                        </li>
                    </ul>
                    <div class="header-bottom__category-button">
                        <img src="images/arrow.png" alt="next">
                        <span>Далее</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>