<main class='hero heroTemplate' style="background-image: url(/images/hero_img_1.jpg);">
    {{> btnBack }}
  <div class='container'> 
    <div class='hero__content'>
    <div class='hero__group'>
      <h1>{{title}}</h1>
      <div class='hero__desc text_simple'>Універсальні навіси для зберігання техніки, зерна чи сировини</div>
    </div>
    {{> pinnedButtons }}
  </div>
</main>