<main class='hero heroTemplate' style="background-image: url(/images/hero_img_1.jpg);">
    {{> btnBack }}
  <div class='container'> 
    <div class='hero__content'>
    <div class='hero__group'>
      <h1>{{title}}</h1>
      <div class='hero__desc text_simple'>Універсальні навіси для зберігання техніки, зерна чи сировини</div>
    </div>
    <div class='hero__group-btns'>
        <button class="hero__group-btn btn-for-popup" data-popup="popup-rozrahunok" type="button">
            <span>Отримати розрахунок</span>
            <img loading="lazy" src="/images/btn_icon_calc.svg" alt="calc">
        </button>
        <button class="hero__group-btn" type="button">
            <span>Зателефонувати нам</span>
            <img loading="lazy" src="/images/btn_icon_phone.svg" alt="phone">
        </button>
    </div>
  </div>
</main>