<main class='hero' >
    {{> btnBack }}
    <div class="hero__main-slider">
        <img src="/images/hero_img_1.jpg" alt="" data-link="#Навіси" data-desc="Універсальні навіси для зберігання техніки, зерна чи сировини" data-title="Навіси">
        <img src="/images/hero_img_2.jpg" alt="" data-link="#Корівники" data-desc="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum." data-title="Корівники">
        <img src="/images/hero_img_3.jpg" alt="" data-link="#Промислові та виробничі склади" data-desc="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum." data-title="Промислові та виробничі склади">
         <img src="/images/hero_img_2.jpg" alt="" data-link="#Навіси" data-desc="Універсальні навіси для зберігання техніки, зерна чи сировини" data-title="Навіси">
         <img src="/images/hero_img_1.jpg" alt="" data-link="#Корівники" data-desc="lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum." data-title="Корівники">
    </div>
  <div class='container'> 
    <div class='hero__content'>
    <div class='hero__group'>
      <div class='hero__desc text_simple'>Універсальні навіси для зберігання техніки, зерна чи сировини</div>
      <h1 class="hero__title ">
          Навіси
      </h1>
      <div class="hero__nav">
        <a href="#" class="hero__nav-btn">Дивитись</a>
        <button type="button" class="hero__nav-btn btn-for-popup" data-popup="popup-rozrahunok">Замовити</button>
      </div>
    </div>
    
    <div class='hero__group-btns'>
        <button class="hero__group-btn btn-for-popup" data-popup="popup-rozrahunok" type="button">
            <span>Отримати розрахунок</span>
            <img loading="lazy" src="/images/btn_icon_calc.svg" alt="calc">
        </button>
        <button class="hero__group-btn" type="button">
            <span>Зателефонувати нам</span>
            <img loading="lazy" src="/images/btn_icon_phone.svg" alt="phone">
        </button>
    </div>
  </div>
  <div class=" hero__main-slider-nav-additional" id="animatedHeading">
       <div class="slick-dupe"><span class="hero__title-misc animate" >Навіси</span></div>
      <div class="slick-dupe"><span class="hero__title-misc animate">Корівники</span></div>
      <div class="slick-dupe"><span class="hero__title-misc animate">Промислові та виробничі склади</span></div>
      <div class="slick-dupe"><span class="hero__title-misc animate">Навіси</span></div>
      <div class="slick-dupe"><span class="hero__title-misc animate">Корівники</span></div>
    </div>
</main>