<section class="howWeWork">
    <div class="container-big">
        <div class="howWeWork__content">
            <h2 class="sectionTitle howWeWork__title">Як ми працюємо</h2>
            <div class="text-simple howWeWork__desc">Від ідеї до готового продукту — ми забезпечуємо прозорість і контроль на кожному етапі.</div>
            <div class="howWeWork__list">
                <div class="howWeWork__item">
                    <div class="howWeWork__item-head">
                        <div class="howWeWork__item-count"></div>
                        <div class="howWeWork__item-icon">
                            <img src="images/howWeWork_icon_1.svg" alt="">
                        </div>
                    </div>
                    <div class="howWeWork__item-title">Обговорення ідеї та вимог</div>
                    <div class="howWeWork__item-desc">Визначаємо концепцію продукту, обсяги виробництва та специфічні вимоги.</div>
                </div>
                <div class="howWeWork__item">
                    <div class="howWeWork__item-head">
                        <div class="howWeWork__item-count"></div>
                        <div class="howWeWork__item-icon">
                            <img src="images/howWeWork_icon_2.svg" alt="">
                        </div>
                    </div>
                    <div class="howWeWork__item-title">Розробка рецептури</div>
                    <div class="howWeWork__item-desc">Наші технологи створюють унікальну рецептуру відповідно до ваших побажань.</div>
                </div>
                <div class="howWeWork__item">
                    <div class="howWeWork__item-head">
                        <div class="howWeWork__item-count"></div>
                        <div class="howWeWork__item-icon">
                            <img src="images/howWeWork_icon_3.svg" alt="">
                        </div>
                    </div>
                    <div class="howWeWork__item-title">Тестування зразків</div>
                    <div class="howWeWork__item-desc">Виготовлення пробних партій та їх тестування до досягнення ідеального результату.</div>
                </div>
                <div class="howWeWork__item">
                    <div class="howWeWork__item-head">
                        <div class="howWeWork__item-count"></div>
                        <div class="howWeWork__item-icon">
                            <img src="images/howWeWork_icon_4.svg" alt="">
                        </div>
                    </div>
                    <div class="howWeWork__item-title">Затвердження дизайну упаковки</div>
                    <div class="howWeWork__item-desc">Розробка або адаптація упаковки під ваш бренд із дотриманням усіх норм.</div>
                </div>
                <div class="howWeWork__item">
                    <div class="howWeWork__item-head">
                        <div class="howWeWork__item-count"></div>
                        <div class="howWeWork__item-icon">
                            <img src="images/howWeWork_icon_5.svg" alt="">
                        </div>
                    </div>
                    <div class="howWeWork__item-title">Виробництво і контроль якості</div>
                    <div class="howWeWork__item-desc">Виробництво з постійним контролем якості на всіх етапах процесу.</div>
                </div>
                <div class="howWeWork__item">
                    <div class="howWeWork__item-head">
                        <div class="howWeWork__item-count"></div>
                        <div class="howWeWork__item-icon">
                            <img src="images/howWeWork_icon_6.svg" alt="">
                        </div>
                    </div>
                    <div class="howWeWork__item-title">Доставка / експорт готової продукції</div>
                    <div class="howWeWork__item-desc">Логістика та доставка готової продукції у будь-яку точку України чи світу.</div>
                </div>
            </div>
        </div>
    </div>
</section>