<section class="indiv">
    <div class="container">
        <div class="indiv__content">
            <div class="indiv__info">
                <div class="sectionTitle">Получите индивидуальное предложение!</div>
                <div class="sectionTitle sectionTitle_mobile">Диван по индивидуальным размерам</div>
                <div class="indiv__description">Мы всегда готовы предложить лучшую цену на весь ассортимент мебели “МебельТоп”</div>
                <div class="indiv__description indiv__description_mobile">Мы можем изменить габаритные размеры дивана под нужные именно вам</div>
                <form action="#" class="indiv__form" method="get">
                    <input type="tel" class="indiv__input" placeholder="Ваш телефон">
                    <button class="custom-button">Получить скидку</button>
                    <button class="custom-button custom-button_mobile">Рассчитать</button>
                </form>
                <div class="indiv__agree">Отправляя эту форму, вы даете согласие на обработку персональных данных</div>
            </div>
            <div class="indiv__image">
                <img src="images/sofa.png" alt="">
            </div>
        </div>
    </div>
</section>