<section class="justification">
    <div class="container">
        <div class="justification__content">
            <div class="justification__top">
                <div class="blockTitle">Автоматизация склада — обоснование необходимости внедрения системы управления складом</div>
                <div class="justification__img">
                    <img src="images/logo_grey.png" alt="logo">
                </div>
            </div>
            <div class="justification__bottom">
                <div class="justification__text">
                    <p>В настоящее время роль и значение складских комплексов в экономических отношениях возросли.</p>
                    <p>Доступ к складским мощностям и последним новациям в данной отрасли – важная составляющая конкурентной борьбы между производителями, оптовыми и розничными торговыми посредниками в желании доставить товар до конечного потребителя с наименьшими издержками, но получить при этом как можно больший доход.</p>
                    <p>В условиях быстрорастущей конкуренции компании вынуждены постоянно совершенствовать методы, направленные на управление складом, повышать его производительность, а также уровень обслуживания клиентов.</p>
                </div>
                <div class="justification__text">
                    <p>Сложность управления складом связана с большим объемом обрабатываемых товаров и их разнородностью.</p>
                    <p>Доступ к складским мощностям и последним новациям в данной отрасли – важная составляющая конкурентной борьбы между производителями, оптовыми и розничными торговыми посредниками в желании доставить товар до конечного потребителя с наименьшими издержками, но получить при этом как можно больший доход.</p>
                </div>
            </div>
        </div>
    </div>
</section>