<section class="latest-view">
    <div class="container">
        <div class="latest-view__content">
            <div class="moduleTitle">Вы недавно просматривали</div>
            <div class="ourProducts__cards">
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
            </div>
            <button class="button ourProducts__button_more ourProducts__button_more_icon">Показать еще</button>
        </div>
    </div>
</section>