<div class='page-loader' id='pageLoader'>
  <svg xmlns='http://www.w3.org/2000/svg' width='240' height='40' viewBox='0 0 240 40' fill='none'>

    <defs>
      <!-- Маска логотипа -->
      <mask id='logoMask'>
        <g fill='white'>
          <!-- вставь все path логотипа сюда -->
          <path
            d='M23.6765 7.55678H0V11.2341H12.3187C13.8023 11.2218 15.2925 11.2136 16.7896 11.2103C19.1021 11.2048 21.3959 11.2124 23.6765 11.2285V28.7567H8.00857L15.2107 19.4746L16.6171 17.6527C15.1263 17.6266 13.5204 17.6005 12.0824 17.582L0.58708 32.4722H5.27141L5.30924 32.4343H23.6765V32.4431H27.3541V15.036L32.8507 19.2368L36.3899 21.9781L39.9265 19.2388L45.4257 15.036V32.4431H49.1033V7.55678L36.3899 17.3283L23.6765 7.55678Z'
          />
          <path
            d='M59.0867 17.3194L70.0125 7.28657H64.5681L50.3866 20.2683C50.3858 21.9791 50.3814 23.6746 50.374 25.257L56.3498 19.8214L65.6903 32.7134H70.2195L59.0867 17.3194Z'
          />
          <path d='M83.6083 40H82.2412V0H83.6083V40Z' />
          <path
            d='M129.237 29.4524L125.57 36.244C125.309 36.7282 125.003 37.0877 124.653 37.3223C124.304 37.5563 123.921 37.6736 123.506 37.6736C123.199 37.6736 122.868 37.6006 122.514 37.4548L122.757 36.7628C123.033 36.8707 123.287 36.9243 123.518 36.9243C124.048 36.9243 124.482 36.6361 124.821 36.0596L125.051 35.6675L121.776 29.4524H122.687L125.501 34.9179L128.384 29.4524H129.237Z'
            fill='white'
          />
          <path
            d='M136.699 33.8226H134.854V37.5237H134.024V29.4524H134.854V33.0731H136.699L139.432 29.4524H140.354L137.357 33.3731L140.527 37.5237H139.547L136.699 33.8226Z'
            fill='white'
          />
          <path
            d='M150.129 33.7015C150.552 33.3516 150.763 32.8581 150.763 32.2197C150.763 31.5666 150.552 31.0649 150.129 30.715C149.706 30.3652 149.095 30.1904 148.296 30.1904H146.151V34.2261H148.296C149.095 34.2261 149.706 34.0513 150.129 33.7015ZM150.74 30.1904C151.325 30.6825 151.617 31.359 151.617 32.2197C151.617 33.0809 151.325 33.7554 150.74 34.2434C150.156 34.7316 149.349 34.9753 148.319 34.9753H146.151V37.5239H145.298V29.4523H148.319C149.349 29.4523 150.156 29.6986 150.74 30.1904Z'
            fill='white'
          />
          <path
            d='M161.279 34.6757L159.341 30.3403L157.404 34.6757H161.279ZM161.59 35.3677H157.093L156.124 37.5237H155.236L158.926 29.4524H159.768L163.458 37.5237H162.558L161.59 35.3677Z'
            fill='white'
          />
          <path
            d='M169.518 28.3858C169.422 28.2899 169.374 28.1726 169.374 28.0339C169.374 27.8958 169.424 27.7785 169.524 27.6826C169.623 27.5864 169.739 27.5386 169.87 27.5386C170.008 27.5386 170.125 27.5864 170.221 27.6826C170.317 27.7785 170.365 27.8958 170.365 28.0339C170.365 28.1806 170.317 28.2993 170.221 28.3917C170.125 28.4841 170.008 28.5298 169.87 28.5298C169.731 28.5298 169.614 28.482 169.518 28.3858ZM168.417 29.4524H169.27V37.5237H168.417V29.4524ZM167.465 28.3917C167.369 28.2993 167.321 28.1806 167.321 28.0339C167.321 27.8958 167.369 27.7785 167.465 27.6826C167.561 27.5864 167.679 27.5386 167.817 27.5386C167.948 27.5386 168.063 27.5864 168.163 27.6826C168.263 27.7785 168.313 27.8958 168.313 28.0339C168.313 28.1726 168.265 28.2899 168.169 28.3858C168.073 28.482 167.956 28.5298 167.817 28.5298C167.679 28.5298 167.561 28.4841 167.465 28.3917Z'
            fill='white'
          />
          <path
            d='M182.15 29.4524V37.5237H181.308V33.7992H176.258V37.5237H175.404V29.4524H176.258V33.0499H181.308V29.4524H182.15Z'
            fill='white'
          />
          <path
            d='M193.185 34.6757L191.247 30.3403L189.31 34.6757H193.185ZM193.496 35.3677H188.999L188.031 37.5237H187.143L190.833 29.4524H191.674L195.364 37.5237H194.464L193.496 35.3677Z'
            fill='white'
          />
          <path
            d='M143.022 4.83593H152.673C153.504 4.83593 154.031 5.23914 154.272 5.47931C154.474 5.68194 154.945 6.24527 154.945 7.10771C154.945 8.00387 154.414 8.81381 153.593 9.1707C153.328 9.30412 153.003 9.37919 152.673 9.37919L143.022 9.40969V4.83593ZM147.073 12.2152C148.965 12.2169 150.856 12.2187 152.748 12.2202L153.331 12.1589C153.837 12.1058 154.323 11.9706 154.776 11.7577C156.584 10.9231 157.751 9.09826 157.751 7.10771C157.751 5.75848 157.222 4.47054 156.262 3.48142C155.308 2.52778 154.032 2.00023 152.673 2.00023H140.187V21.6067H143.022V12.2152H147.073Z'
            fill='white'
          />
          <path
            d='M116.022 2.39334H111.901L100.154 13.1467V2.39334H97.3701V21.6394H100.154V16.9079L105.68 11.8813L112.75 21.6394H116.178L107.752 9.98755L116.022 2.39334Z'
            fill='white'
          />
          <path
            d='M178.641 2.39334H174.52L162.773 13.1467V2.39334H159.989V21.6394H162.773V16.9079L168.3 11.8813L175.369 21.6394H178.798L170.371 9.98755L178.641 2.39334Z'
            fill='white'
          />
          <path
            d='M210.149 21.6392H219.772V18.8557H210.149C206.378 18.8557 203.31 15.7871 203.31 12.0163C203.31 8.24513 206.378 5.17689 210.149 5.17689H219.772V2.3931H210.149C204.843 2.3931 200.526 6.71028 200.526 12.0163C200.526 17.3223 204.843 21.6392 210.149 21.6392Z'
            fill='white'
          />
          <path
            d='M125.266 15.0912L128.379 8.99373L131.491 15.0912H125.266ZM134.834 21.6394H137.95L136.413 18.6392L128.379 2.87133L118.808 21.6394H121.923L123.995 17.5794H132.762L134.834 21.6394Z'
            fill='white'
          />
          <path
            d='M187.842 14.8522L190.955 8.75472L194.068 14.8522H187.842ZM197.411 21.4004H200.526L198.989 18.4002L190.955 2.63232L181.384 21.4004H184.499L186.572 17.3404H195.338L197.411 21.4004Z'
            fill='white'
          />
        </g>
      </mask>
    </defs>

    <!-- Белый логотип -->
    <g fill='white'>
      <!-- вставь все path логотипа сюда -->
      <path
        d='M23.6765 7.55678H0V11.2341H12.3187C13.8023 11.2218 15.2925 11.2136 16.7896 11.2103C19.1021 11.2048 21.3959 11.2124 23.6765 11.2285V28.7567H8.00857L15.2107 19.4746L16.6171 17.6527C15.1263 17.6266 13.5204 17.6005 12.0824 17.582L0.58708 32.4722H5.27141L5.30924 32.4343H23.6765V32.4431H27.3541V15.036L32.8507 19.2368L36.3899 21.9781L39.9265 19.2388L45.4257 15.036V32.4431H49.1033V7.55678L36.3899 17.3283L23.6765 7.55678Z'
      />
      <path
        d='M59.0867 17.3194L70.0125 7.28657H64.5681L50.3866 20.2683C50.3858 21.9791 50.3814 23.6746 50.374 25.257L56.3498 19.8214L65.6903 32.7134H70.2195L59.0867 17.3194Z'
      />
      <path d='M83.6083 40H82.2412V0H83.6083V40Z' />
      <!-- остальные path логотипа -->
      <path
        d='M129.237 29.4524L125.57 36.244C125.309 36.7282 125.003 37.0877 124.653 37.3223C124.304 37.5563 123.921 37.6736 123.506 37.6736C123.199 37.6736 122.868 37.6006 122.514 37.4548L122.757 36.7628C123.033 36.8707 123.287 36.9243 123.518 36.9243C124.048 36.9243 124.482 36.6361 124.821 36.0596L125.051 35.6675L121.776 29.4524H122.687L125.501 34.9179L128.384 29.4524H129.237Z'
        fill='white'
      />
      <path
        d='M136.699 33.8226H134.854V37.5237H134.024V29.4524H134.854V33.0731H136.699L139.432 29.4524H140.354L137.357 33.3731L140.527 37.5237H139.547L136.699 33.8226Z'
        fill='white'
      />
      <path
        d='M150.129 33.7015C150.552 33.3516 150.763 32.8581 150.763 32.2197C150.763 31.5666 150.552 31.0649 150.129 30.715C149.706 30.3652 149.095 30.1904 148.296 30.1904H146.151V34.2261H148.296C149.095 34.2261 149.706 34.0513 150.129 33.7015ZM150.74 30.1904C151.325 30.6825 151.617 31.359 151.617 32.2197C151.617 33.0809 151.325 33.7554 150.74 34.2434C150.156 34.7316 149.349 34.9753 148.319 34.9753H146.151V37.5239H145.298V29.4523H148.319C149.349 29.4523 150.156 29.6986 150.74 30.1904Z'
        fill='white'
      />
      <path
        d='M161.279 34.6757L159.341 30.3403L157.404 34.6757H161.279ZM161.59 35.3677H157.093L156.124 37.5237H155.236L158.926 29.4524H159.768L163.458 37.5237H162.558L161.59 35.3677Z'
        fill='white'
      />
      <path
        d='M169.518 28.3858C169.422 28.2899 169.374 28.1726 169.374 28.0339C169.374 27.8958 169.424 27.7785 169.524 27.6826C169.623 27.5864 169.739 27.5386 169.87 27.5386C170.008 27.5386 170.125 27.5864 170.221 27.6826C170.317 27.7785 170.365 27.8958 170.365 28.0339C170.365 28.1806 170.317 28.2993 170.221 28.3917C170.125 28.4841 170.008 28.5298 169.87 28.5298C169.731 28.5298 169.614 28.482 169.518 28.3858ZM168.417 29.4524H169.27V37.5237H168.417V29.4524ZM167.465 28.3917C167.369 28.2993 167.321 28.1806 167.321 28.0339C167.321 27.8958 167.369 27.7785 167.465 27.6826C167.561 27.5864 167.679 27.5386 167.817 27.5386C167.948 27.5386 168.063 27.5864 168.163 27.6826C168.263 27.7785 168.313 27.8958 168.313 28.0339C168.313 28.1726 168.265 28.2899 168.169 28.3858C168.073 28.482 167.956 28.5298 167.817 28.5298C167.679 28.5298 167.561 28.4841 167.465 28.3917Z'
        fill='white'
      />
      <path
        d='M182.15 29.4524V37.5237H181.308V33.7992H176.258V37.5237H175.404V29.4524H176.258V33.0499H181.308V29.4524H182.15Z'
        fill='white'
      />
      <path
        d='M193.185 34.6757L191.247 30.3403L189.31 34.6757H193.185ZM193.496 35.3677H188.999L188.031 37.5237H187.143L190.833 29.4524H191.674L195.364 37.5237H194.464L193.496 35.3677Z'
        fill='white'
      />
      <path
        d='M143.022 4.83593H152.673C153.504 4.83593 154.031 5.23914 154.272 5.47931C154.474 5.68194 154.945 6.24527 154.945 7.10771C154.945 8.00387 154.414 8.81381 153.593 9.1707C153.328 9.30412 153.003 9.37919 152.673 9.37919L143.022 9.40969V4.83593ZM147.073 12.2152C148.965 12.2169 150.856 12.2187 152.748 12.2202L153.331 12.1589C153.837 12.1058 154.323 11.9706 154.776 11.7577C156.584 10.9231 157.751 9.09826 157.751 7.10771C157.751 5.75848 157.222 4.47054 156.262 3.48142C155.308 2.52778 154.032 2.00023 152.673 2.00023H140.187V21.6067H143.022V12.2152H147.073Z'
        fill='white'
      />
      <path
        d='M116.022 2.39334H111.901L100.154 13.1467V2.39334H97.3701V21.6394H100.154V16.9079L105.68 11.8813L112.75 21.6394H116.178L107.752 9.98755L116.022 2.39334Z'
        fill='white'
      />
      <path
        d='M178.641 2.39334H174.52L162.773 13.1467V2.39334H159.989V21.6394H162.773V16.9079L168.3 11.8813L175.369 21.6394H178.798L170.371 9.98755L178.641 2.39334Z'
        fill='white'
      />
      <path
        d='M210.149 21.6392H219.772V18.8557H210.149C206.378 18.8557 203.31 15.7871 203.31 12.0163C203.31 8.24513 206.378 5.17689 210.149 5.17689H219.772V2.3931H210.149C204.843 2.3931 200.526 6.71028 200.526 12.0163C200.526 17.3223 204.843 21.6392 210.149 21.6392Z'
        fill='white'
      />
      <path
        d='M125.266 15.0912L128.379 8.99373L131.491 15.0912H125.266ZM134.834 21.6394H137.95L136.413 18.6392L128.379 2.87133L118.808 21.6394H121.923L123.995 17.5794H132.762L134.834 21.6394Z'
        fill='white'
      />
      <path
        d='M187.842 14.8522L190.955 8.75472L194.068 14.8522H187.842ZM197.411 21.4004H200.526L198.989 18.4002L190.955 2.63232L181.384 21.4004H184.499L186.572 17.3404H195.338L197.411 21.4004Z'
        fill='white'
      />
    </g>

    <!-- Прямоугольник прогресса -->
    <rect
      id='logoProgressFill'
      x='0'
      y='0'
      width='0'
      height='40'
      fill='#ff8a00'
      mask='url(#logoMask)'
    />

  </svg>
</div>