<section class='template1 logistics'>
  <div class='container'>
    <h2 class='sectionTitle'>Про логістику</h2>
    <div class='template1__content'>
      <div class='template1__info'>
        <p class='text_simple' style="border: none; padding: 0;">Ефективна логістика — одна з ключових складових успішної реалізації
          будь-якого будівельного проєкту. У Каркас Груп ми пропонуємо комплексні логістичні
          послуги, що забезпечують своєчасне та безпечне транспортування металоконструкцій від
          виробництва до об'єкта.</p>
        <p class='text_simple text-36'><b>Наші логістичні рішення включають:</b></p>
        <ul class='template1__list'>
          <li class='template1__list-item text_simple'>
            <b>Організацію</b>
            транспортування великих і нестандартних вантажів із урахуванням усіх технічних вимог та
            нормативів.
          </li>
          <li class='template1__list-item text_simple'>
            <b>Планування</b>
            маршрутів для мінімізації строків доставки та оптимізації витрат.
          </li>
          <li class='template1__list-item text_simple'>
            <b>Контроль</b>
            пакування і завантаження, щоб гарантувати збереження продукції під час перевезення.
          </li>
          <li class='template1__list-item text_simple'>
            <b>Виконання</b>
            експедиторських послуг і супровід документів на всіх етапах логістики.
          </li>
        </ul>
      </div>
      <div class='template1__image'>
        <div class='videoBlock videoBlockSimple'>
          <div class='videoBlockWrapper'>
            <img src="/images/close_white.svg" class="videoBlock__close">
            <video class='video-element' width='640' height='360' playsinline muted webkit-playsinline  poster='/images/logistic_video_poster.png' playsinline muted webkit-playsinline>
              <source src='/images/logistics.mp4' type='video/mp4' />
              Ваш браузер не підтримує відео.
            </video>
            <img loading="lazy" src='/images/play_btn.svg' alt='play' class='play__btn' />
          </div>
        </div>
      </div>
    </div>
    <p class='text_simple'>Наша команда фахівців із логістики має великий досвід у роботі з різними видами транспорту та
      складними маршрутами, що дозволяє нам забезпечувати надійність і гнучкість у доставці
      металоконструкцій.</p>
  </div>
</section>