<section class='template1 logistics'>
  <div class='container'>
    <div class='sectionTitle'>Про логістику</div>
    <div class='template1__content'>
      <div class='template1__info'>
        <p class='text_simple' style="border: none; padding: 0;">Ефективна логістика — одна з ключових складових успішної реалізації
          будь-якого будівельного проєкту. У Каркас Груп ми пропонуємо комплексні логістичні
          послуги, що забезпечують своєчасне та безпечне транспортування металоконструкцій від
          виробництва до об'єкта.</p>
        <p><b>Наші логістичні рішення включають:</b></p>
        <ul class='template1__list'>
          <li class='template1__list-item text_simple'>
            <b>Організацію</b>
            транспортування великих і нестандартних вантажів із урахуванням усіх технічних вимог та
            нормативів.
          </li>
          <li class='template1__list-item text_simple'>
            <b>Планування</b>
            маршрутів для мінімізації строків доставки та оптимізації витрат.
          </li>
          <li class='template1__list-item text_simple'>
            <b>Контроль</b>
            пакування і завантаження, щоб гарантувати збереження продукції під час перевезення.
          </li>
          <li class='template1__list-item text_simple'>
            <b>Виконання</b>
            експедиторських послуг і супровід документів на всіх етапах логістики.
          </li>
        </ul>
      </div>
      <div class='template1__image'>
        <div class='videoBlock'>
          <video class='video-element' width='640' height='360'>
            <source src='/images/logistics.mp4' type='video/mp4' />
            Ваш браузер не поддерживает видео.
          </video>
          <img src='/images/play_btn.svg' alt='play' class='play__btn' />
        </div>
      </div>
    </div>
    <p>Наша команда фахівців із логістики має великий досвід у роботі з різними видами транспорту та
      складними маршрутами, що дозволяє нам забезпечувати надійність і гнучкість у доставці
      металоконструкцій.</p>
  </div>
</section>