<div class="logo">
  <a href="#">
    <div class="logo__img">
      <img src="images/logo.png" alt="logo" />
    </div>
    <div class="logo__more">
      <div class="logo__img">
        <img src="images/scanservice.png" alt="logo" />
      </div>
      <div class="logo__text">
        Популярные модели <br>ТСД и этикеток
      </div>
    </div>
  </a>
</div>