<main class='main' style="background-image: url(/images/main_img.jpg);">
  <div class='container'>
    <div class='main__content'>
    <div class='main__group'>
      <h1>Завод важких <br>металоконструкцій</h1>
      <div class='main__text'>Важкі конструкції. Важливі проєкти. Важливий результат.</div>
    </div>
    <div class='main__group-btns'>
        <button class="main__group-btn btn-for-popup" data-popup="popup-rozrahunok" type="button">
            <span>Отримати розрахунок</span>
            <img loading="lazy" src="/images/btn_icon_calc.svg" alt="calc">
        </button>
        <button class="main__group-btn" type="button">
            <span>Зателефонувати нам</span>
            <img loading="lazy" src="/images/btn_icon_phone.svg" alt="phone">
        </button>
    </div>
  </div>
</main>