<main class='main' style="background-image: url(/images/main_img.jpg);">
  
  <div class='container'>
    <div class='main__content'>
      <div class="logo main__logo">
        <a href='/'>
          <img loading='lazy' src='/images/logo.svg' alt='Каркас Україна - на головну' aria-label="Каркас Україна — на головну" />
        </a>
      </div>
    <div class='main__group'>
      <h1>Завод важких <br>металоконструкцій</h1>
      <div class='main__text'>Важкі конструкції. Важливі проєкти. Важливий результат.</div>
    </div>
    <div class='main__group-btns'>
        <button class="main__group-btn btn-for-popup" data-popup="popup-rozrahunok" type="button">
            <span>Отримати розрахунок</span>
            <img loading="lazy" src="/images/btn_icon_calc.svg" alt="calc">
        </button>
        <a href="tel:+380770330000" class="main__group-btn" type="button">
            <span>+38 (077) 033-00-00</span>
            <img loading="lazy" src="/images/btn_icon_phone.svg" alt="phone">
        </a>
    </div>
  </div>
</main>