<main class="main">
    <img src="images/main__bg_grey.png" alt="" class="main__bg_grey">
    <div class="container">
        <div class="main__content">
            <div class="main__title">USG<br><span>УКРАЇНСЬКА СТАЛЬНА ГРУПА</span></div>
            <div class="main__logo_mobile">
                <img src="images/main__logo_mobile.png" alt="logo">
            </div>
            <div class="main__description">Профнастил від виробника</div>
            <button class="main__button main__button_phone">+38 (097) 226 00 00</button>
            <button class="main__button main__button_text">Розрахунок</button>
        </div>
    </div>
</main>