<main class='main' style="background-image: url(/images/main_img.jpg);">
  
  <div class='container'>
    <div class='main__content'>
      <div class="logo main__logo">
        <a href='/'>
          <img loading='lazy' src='/images/logo.svg' alt='Каркас Україна - на головну' aria-label="Каркас Україна — на головну" />
        </a>
      </div>
    <div class='main__group'>
      <h1>Завод важких <br>металоконструкцій</h1>
      <div class='main__text'>Важкі конструкції. Важливі проєкти. Важливий результат.</div>
    </div>
    {{> pinnedButtons }}
  </div>
</main>