<main class='main' style="background-image: url(/images/main_img.jpg);">
  <div class='container'>
    <div class='main__content'>
    <div class='main__group'>
      <h1>Завод важких металоконструкцій</h1>
      <span class='main__text'>Важкі конструкції. Важливі проєкти. Важливий результат.</span>
    </div>
    <div class='main__group-btns'>
        <button class="main__group-btn">
            <span>Отримати розрахунок</span>
            <img src="/images/btn_icon_calc.svg" alt="calc">
        </button>
        <button class="main__group-btn">
            <span>Зателефонувати нам</span>
            <img src="/images/btn_icon_phone.svg" alt="phone">
        </button>
    </div>
  </div>
</main>