<section class="main">
    <div class="container">
        <div class="main__content">
            <div class="main__action hide">
                    <button class="button main__action-button main__action-button_green">
                        <img src="images/phone.png" alt="">
                        <span>Позвонить</span>  
                    </button>
                    <button class="button main__action-button main__action-button_violet">
                        <img src="images/viber.png" alt="">
                        <span>Viber - чат</span>  
                    </button>
                </div>
            <div class="banners__top">
                <div class="banners__slider owl-carousel">
                    <div class="banners__item banners__slider1">
                        <div class="banners__slider1__subtitle">Новый взгляд на кухню</div>
                        <div class="banners__slider1__title">Киевская<br> мебельная фабрика</div>
                        <div class="banners__slider1__image">
                            <img src="images/ground.png" alt="">
                        </div>
                        <div class="banners__slider1__text">Скидка на линейку кухонь 2022 года</div>
                        <button class="custom-button main__custom-button">Купить</button>
                        <img src="images/kitchen.png" alt="" class="slider1_bg">
                    </div>
                    <div class="banners__item banners__slider1">
                        <div class="banners__slider1__subtitle">Новый взгляд на кухню</div>
                        <div class="banners__slider1__title">Киевская<br> мебельная фабрика</div>
                        <div class="banners__slider1__image">
                            <img src="images/ground.png" alt="">
                        </div>
                        <div class="banners__slider1__text">Скидка на линейку кухонь 2022 года</div>
                        <button class="custom-button main__custom-button">Купить</button>
                        <img src="images/kitchen.png" alt="" class="slider1_bg">
                    </div>
                    <div class="banners__item banners__slider1">
                        <div class="banners__slider1__subtitle">Новый взгляд на кухню</div>
                        <div class="banners__slider1__title">Киевская<br> мебельная фабрика</div>
                        <div class="banners__slider1__image">
                            <img src="images/ground.png" alt="">
                        </div>
                        <div class="banners__slider1__text">Скидка на линейку кухонь 2022 года</div>
                        <button class="custom-button main__custom-button">Купить</button>
                        <img src="images/kitchen.png" alt="" class="slider1_bg">
                    </div>
                    
                </div>
                <div class="banners__static">
                    <div class="banners__static_mask">
                        <img src="images/mask.png" alt="">
                        <div class="banners__static_info">
                            <span>под</span>
                            <span>0</span>
                            <span>%</span>
                        </div>
                    </div>
                    <div class="banners__static_title">Рассрочка</div>
                    <div class="banners__static_image">
                        <img src="images/ground.png" alt="">
                    </div>
                    <button class="custom-button banners__static__custom-button">
                        Подробнее
                    </button>
                </div>
            </div>
            {{!-- <div class="main__action hide">
                <button class="button main__action-button main__action-button_green">
                    <img src="images/phone.png" alt="">
                    <span>Позвонить</span>  
                </button>
                <button class="button main__action-button main__action-button_violet">
                    <img src="images/viber.png" alt="">
                    <span>Viber - чат</span>  
                </button>
                <div class="main__action-border"></div>
            </div> --}}
            <div class="main__example hide">
                <ul class="main__example-list">
                    <li class="main__example-item">
                        <a href="" class="main__example-link">
                            <img src="images/tkan.png" alt="">
                            <span>Образцы тканей</span>
                        </a>
                    </li>
                    <li class="main__example-item">
                        <a href="" class="main__example-link">
                            <img src="images/material.png" alt="">
                            <span>Образцы материалов</span>
                        </a>
                    </li>
                    <li class="main__example-item">
                        <a href="" class="main__example-link">
                            <img src="images/napolnitel.png" alt="">
                            <span>Образцы наполнителя</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main__bottom_mobile hide">
        <div class="main__bottom_mobile-title">Рассрочка платежей на весь ассортимент</div>
        <div class="banners__static_info">
            <span>под</span>
            <span>0</span>
            <span>%</span>
        </div>
    </div>
</section>
