<section class="news">
    <div class="container">
        <div class="sectionTitle">Новости</div>
        {{!-- <div class="news__wrapper"> --}}
            {{!-- <div class="news__next">
                <img src="images/arrow.png" alt="next">
            </div> --}}
            <div class="news__content">
                <ul class="news__list">
                    <li class="news__item">
                        <img src="images/news1.png" alt="">
                        <div class="news__info">
                            <div class="news__top">
                                <div class="news__category">
                                    <img src="images/label.png" alt="">
                                    <span>Категория</span>
                                </div>
                                <div class="news__date">23 Сентября 2022</div>
                            </div>
                            <div class="news__title">Название новости</div>
                            <a href="#" class="news__link">Читать далее</a>
                        </div>
                    </li>
                    <li class="news__item">
                        <img src="images/news1.png" alt="">
                        <div class="news__info">
                            <div class="news__top">
                                <div class="news__category">
                                    <img src="images/label.png" alt="">
                                    <span>Категория</span>
                                </div>
                                <div class="news__date">23 Сентября 2022</div>
                            </div>
                            <div class="news__title">Название новости</div>
                            <a href="#" class="news__link">Читать далее</a>
                        </div>
                    </li>
                    <li class="news__item">
                        <img src="images/news1.png" alt="">
                        <div class="news__info">
                            <div class="news__top">
                                <div class="news__category">
                                    <img src="images/label.png" alt="">
                                    <span>Категория</span>
                                </div>
                                <div class="news__date">23 Сентября 2022</div>
                            </div>
                            <div class="news__title">Название новости</div>
                            <a href="#" class="news__link">Читать далее</a>
                        </div>
                    </li>
                    <li class="news__item">
                        <img src="images/news1.png" alt="">
                        <div class="news__info">
                            <div class="news__top">
                                <div class="news__category">
                                    <img src="images/label.png" alt="">
                                    <span>Категория</span>
                                </div>
                                <div class="news__date">23 Сентября 2022</div>
                            </div>
                            <div class="news__title">Название новости</div>
                            <a href="#" class="news__link">Читать далее</a>
                        </div>
                    </li>
                </ul>
            </div>
        {{!-- </div> --}}
    </div>
    <ul class="news__list news__list_mobile">
                <li class="news__item">
                    <img src="images/news1.png" alt="">
                    <div class="news__info">
                        <div class="news__top">
                            <div class="news__category">
                                <img src="images/label.png" alt="">
                                <span>Категория</span>
                            </div>
                            <div class="news__date">23 Сентября 2022</div>
                        </div>
                        <div class="news__title">Название новости</div>
                        <a href="#" class="news__link">Читать далее</a>
                    </div>
                </li>
                <li class="news__item">
                    <img src="images/news1.png" alt="">
                    <div class="news__info">
                        <div class="news__top">
                            <div class="news__category">
                                <img src="images/label.png" alt="">
                                <span>Категория</span>
                            </div>
                            <div class="news__date">23 Сентября 2022</div>
                        </div>
                        <div class="news__title">Название новости</div>
                        <a href="#" class="news__link">Читать далее</a>
                    </div>
                </li>
                <li class="news__item">
                    <img src="images/news1.png" alt="">
                    <div class="news__info">
                        <div class="news__top">
                            <div class="news__category">
                                <img src="images/label.png" alt="">
                                <span>Категория</span>
                            </div>
                            <div class="news__date">23 Сентября 2022</div>
                        </div>
                        <div class="news__title">Название новости</div>
                        <a href="#" class="news__link">Читать далее</a>
                    </div>
                </li>
                <li class="news__item">
                    <img src="images/news1.png" alt="">
                    <div class="news__info">
                        <div class="news__top">
                            <div class="news__category">
                                <img src="images/label.png" alt="">
                                <span>Категория</span>
                            </div>
                            <div class="news__date">23 Сентября 2022</div>
                        </div>
                        <div class="news__title">Название новости</div>
                        <a href="#" class="news__link">Читать далее</a>
                    </div>
                </li>
        </ul>
</section>