<div class='notFound'>
  <div class='container'>
    <div class='notFound__content'>
        <img src="/images/404.svg" alt="404">
        <div class="notFound__title">Щось пішло не так...</div>
        <div class="notFound__desc">Ця сторінка відсутня або перенесена. Спробуйте повернутися на головну або обрати інший розділ.</div>
        <a class="custom-button" href="/">На головну</a>
    </div>
  </div>
</div>