<section class="ourAdvantages">
    <div class="container-big">
        <div class="ourAdvantages__content">
            <h2 class="sectionTitle">Наші переваги</h2>
            <div class="ourAdvantages__desc text-simple">Ми розвиваємось завдяки людям, відкритості й відповідальному підходу до кожного етапу виробництва. Наші принципи допомагають нам залишатись стабільними, чесними й сучасними — незалежно від часу та ринку.</div>
            <div class="ourAdvantages__items">
                <div class="ourAdvantages__item">
                    <img src="images/ourAdvantages_icon_1.svg" alt="" class="ourAdvantages__item-icon">
                    <div class="ourAdvantages__item-title">Власне сучасне виробництво</div>
                    <div class="ourAdvantages__item-desc text">Повний цикл виробництва, контроль якості на всіх етапах, сучасне обладнання.</div>
                </div>
                <div class="ourAdvantages__item">
                    <img src="images/ourAdvantages_icon_2.svg" alt="" class="ourAdvantages__item-icon">
                    <div class="ourAdvantages__item-title">Налагоджена логістика</div>
                    <div class="ourAdvantages__item-desc text">Надійні поставки по Україні та за кордон, гнучкі умови доставки.</div>
                </div>
                <div class="ourAdvantages__item">
                    <img src="images/ourAdvantages_icon_3.svg" alt="" class="ourAdvantages__item-icon">
                    <div class="ourAdvantages__item-title">Індивідуальний підхід</div>
                    <div class="ourAdvantages__item-desc text">Адаптація продукції під потреби клієнтів, персональний менеджер для кожного партнера.</div>
                </div>
                <div class="ourAdvantages__item">
                    <img src="images/ourAdvantages_icon_4.svg" alt="" class="ourAdvantages__item-icon">
                    <div class="ourAdvantages__item-title">Міжнародна сертифікація</div>
                    <div class="ourAdvantages__item-desc text">Відповідність вимогам ЄС, HACCP, Halal, QCR та іншим міжнародним стандартам.</div>
                </div>
            </div>
        </div>
    </div>
</section>