<section class="ourHistory">
    <div class="container-big">
        <div class="ourHistory__content">
            <h2 class="sectionTitle">Наша історія</h2>
            <div class="ourHistory__desc">Наша історія почалася у 1977 році, коли на Полтавщині запрацювало підприємство, яке мало одну мету — подарувати людям радість від справжнього морозива. Тоді все робили вручну: уважно добирали сировину, дотримувалися класичних рецептів і вкладали душу в кожну партію продукції.</div>
            <div class="timeline">
                <img src="images/ourPartners_component_1.png" alt="" class="timeline__component timeline__component_1">
                    <img src="images/ourHistory__component_1.png" alt="" class="timeline__component timeline__component_2">
                    <img src="images/ourPartners_component_3.png" alt="" class="timeline__component timeline__component_3">
                    <div class="timeline_inner">
                    <div class="timeline__items">
                        <div class="timeline__item">
                            <div class="timeline__item-year">1977</div>
                            <div class="timeline__item-title">Початок виробництва морозива</div>
                            <div class="timeline__item-desc">Запуск виробництва та створення першої фабрики морозива в Полтаві, що поклало початок розвитку бренду.</div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__item-year">2012</div>
                            <div class="timeline__item-title">HACCP</div>
                            <div class="timeline__item-desc">Впровадження системи HACCP, що гарантує контроль безпечності та якості продукції на всіх етапах виробництва.</div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__item-year">2018</div>
                            <div class="timeline__item-title">Дой-пак упаковка</div>
                            <div class="timeline__item-desc">Запуск сучасної упаковки doy-pack, яка забезпечує зручність використання та краще зберігає якість продукту.</div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__item-year">2019</div>
                            <div class="timeline__item-title">Сертифікація “Halal”</div>
                            <div class="timeline__item-desc">Отримання сертифікату Halal, що підтверджує відповідність продукції міжнародним вимогам та стандартам.</div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__item-year">2023</div>
                            <div class="timeline__item-title">Відповідність стандартам ЄС</div>
                            <div class="timeline__item-desc">Підтвердження відповідності виробництва європейським стандартам якості та безпечності харчових продуктів.</div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__item-year">2024</div>
                            <div class="timeline__item-title">Членство в QCR</div>
                            <div class="timeline__item-desc">Приєднання до QCR — міжнародної спільноти, що об’єднує компанії з високими стандартами якості та відповідальності.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>