<section class="ourProgress">
    <div class="container">
        <div class="ourProgress__content">
            <div class="ourProgress__info">
                    <div class="ourProgress__item">
                        <div class="ourProgress__count">2800</div>
                        <div class="ourProgress__description">Единиц проданного оборудования в текущем году</div>
                    </div>
                    <div class="ourProgress__item">
                        <div class="ourProgress__count">100</div>
                        <div class="ourProgress__description">Выигранных<br> тендеров</div>
                    </div>
                    <div class="ourProgress__item">
                        <div class="ourProgress__count">1000</div>
                        <div class="ourProgress__description">Товаров и комплектующих частей</div>
                    </div>
                    <div class="ourProgress__item">
                        <div class="ourProgress__count">400</div>
                        <div class="ourProgress__description">Единиц отремонтированного оборудования в 2021 году</div>
                    </div>
            </div>
            <div class="ourProgress__banner">
                <div class="banners__item banners__slider1">
                    <div class="banners__slider1__title">Ремонт любой сложности <br>за одно оборудование</div>
                    <div class="banners__slider1__text">“fixed price”</div>
                    <div class="banners__slider1__price">1500 руб</div>
                    {{> blocks / discover}}
                    <div class="banners__slider1_img">
                        <img src="images/man.png" alt="man">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>