<section class="ourProducts">
    <div class="container">
        <div class="ourProducts__content">
            <div class="blockTitle ourProducts__title">Наши товары</div>
            <div class="ourProducts__category_tab">
                <div class="ourProducts__category_item" tabindex='0'>Акции</div>
                <div class="ourProducts__category_item" tabindex='0'>Популярные товары</div>
                <div class="ourProducts__category_item" tabindex='0'>Новинки</div>
            </div>
            <div class="ourProducts__cards">
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
            </div>
            
        </div>
        
    </div>
    <button class="button ourProducts__button_more ourProducts__button_more_icon">Показать еще 8 товаров</button>
</section>