<section class="ourProducts">
    <img src="images/ourProducts_component_1.png" alt="" class="ourProducts__component ourProducts__component_1">
    <div class="container-big">
        <div class="ourProducts__content">
            
            <div class="ourProducts__heading">
                <h2 class="sectionTitle">Наша продукція</h2>
                <span class="text">Від класичних продуктів до сучасних рішень і напівфабрикатів — ми розширюємо асортимент, щоб задовольнити потреби кожного клієнта.</span>
            </div>
            <ul class="ourProducts__list">
                <li class="ourProducts__list-item">
                    <a href="" class="ourProducts__list-link">
                        <img src="images/category-1.png" alt="category">
                        <h4>Морозиво</h4>
                    </a>
                </li>
                <li class="ourProducts__list-item">
                    <a href="" class="ourProducts__list-link">
                        <img src="images/category-2.png" alt="category">
                        <h4>Хумус</h4>
                    </a>
                </li>
                <li class="ourProducts__list-item">
                    <a href="" class="ourProducts__list-link">
                        <img src="images/category-3.png" alt="category">
                        <h4>Заморожена продукція</h4>
                    </a>
                </li>
                <li class="ourProducts__list-item">
                    <a href="" class="ourProducts__list-link">
                        <img src="images/category-4.png" alt="category">
                        <h4>Напівфабрикати</h4>
                    </a>
                </li>
                <li class="ourProducts__list-item">
                    <a href="" class="ourProducts__list-link">
                        <img src="images/category-5.png" alt="category">
                        <h4>Закуски бутербродні</h4>
                    </a>
                </li>
            </ul>
            <a href="catalog.html" class="button" type="button">Перейти у каталог</a>
        </div>
    </div>
</section>