<section class="ourPartners">
    <img src="images/ourPartners_component_1.png" alt="" class="ourPartners__component ourPartners__component_1">
    <img src="images/ourPartners_component_2.png" alt="" class="ourPartners__component ourPartners__component_2">
    <img src="images/ourPartners_component_3.png" alt="" class="ourPartners__component ourPartners__component_3">
    <div class="container-big">
        <div class="ourPartners__content">
            <div class="ourPartners__info">
                <h2 class="sectionTitle">Наші партнери</h2>
                <div class="redactor_wp text-simple">
                    Ми віримо, що успіх народжується у співпраці. Саме тому ПОЛТАВАХОЛОД багато років розвиває партнерські відносини з українськими та міжнародними компаніями, які поділяють наші цінності якості, чесності й турботи про споживача.

                    Сьогодні ми є надійним постачальником продукції для національних торговельних мереж, локальних дистриб’юторів і закладів HoReCa. Нам довіряють десятки брендів і підприємств, для яких ми створюємо продукцію під Private Label — від морозива та десертів до сирів і хумусу.
                    Ми пропонуємо партнерам:
                    повний цикл виробництва — від розробки рецептури до пакування;
                    гнучкі рішення під конкретні потреби ринку;
                    стабільну якість і своєчасну логістику;
                    прозору комунікацію та підтримку на кожному етапі співпраці.

                    Для нас кожен партнер — це не просто клієнт, а частина спільної історії, у якій головне — довіра, розвиток і любов до продукту, який ми створюємо разом.
                </div>
            </div>
            <div class="ourPartners__logos">
                <a class="ourPartners__logos-link" href="#">
                    <img class="ourPartners__logos-img" src="images/ourPartners_logos_1.png" alt="partner">
                </a>
                <a class="ourPartners__logos-link" href="#">
                    <img class="ourPartners__logos-img" src="images/ourPartners_logos_2.png" alt="partner">
                </a>
                <a class="ourPartners__logos-link" href="#">
                    <img class="ourPartners__logos-img" src="images/ourPartners_logos_3.png" alt="partner">
                </a>
                <a class="ourPartners__logos-link" href="#">
                    <img class="ourPartners__logos-img" src="images/ourPartners_logos_4.png" alt="partner">
                </a>
                <a class="ourPartners__logos-link" href="#">
                    <img class="ourPartners__logos-img" src="images/ourPartners_logos_5.png" alt="partner">
                </a>
                <a class="ourPartners__logos-link" href="#">
                    <img class="ourPartners__logos-img" src="images/ourPartners_logos_6.png" alt="partner">
                </a>
            </div>
        </div>
    </div>
</section>