<section class="ourProducts ">
    <img src="images/ourProducts_component_1.png" alt="" class="ourProducts__component ourProducts__component_1">
    <div class="container-big">
        <div class="ourProducts__content">
            <div class="ourProducts__heading">
                <h2 class="sectionTitle">Наша продукція</h2>
                <span class="text">Від класичних продуктів до сучасних рішень і напівфабрикатів — ми розширюємо асортимент, щоб задовольнити потреби кожного клієнта.</span>
            </div>
        </div>
    </div>
    <div class="marquee-wrap">
    <ul class="ourProducts__list ourProducts__list-tovar">
        <li class="ourProducts__list-item">
            <a href="product.html" class="ourProducts__list-link">
                <img src="images/hinkali_pic.png" alt="product">
                <h4>вареники з печінкою та серцем</h4>
            </a>
        </li>
        <li class="ourProducts__list-item">
            <a href="product.html" class="ourProducts__list-link">
                <img src="images/perl.png" alt="product">
                <h4>морозиво пломбір “перлина dubaj”</h4>
            </a>
        </li>
        <li class="ourProducts__list-item">
            <a href="product.html" class="ourProducts__list-link">
                <img src="images/mango_boom.png" alt="product">
                <h4>морозиво манго та малина “mango boom”</h4>
            </a>
        </li>
        <li class="ourProducts__list-item">
            <a href="product.html" class="ourProducts__list-link">
                <img src="images/grey.png" alt="product">
                <h4>морозиво манго та малина “mango boom”</h4>
            </a>
        </li>
        <li class="ourProducts__list-item">
            <a href="product.html" class="ourProducts__list-link">
                <img src="images/ptaha.png" alt="product">
                <h4>морозиво пломбір “золота птаха”</h4>
            </a>
        </li>
        <li class="ourProducts__list-item">
            <a href="product.html" class="ourProducts__list-link">
                <img src="images/naggetsy.png" alt="product">
                <h4>нагетси класичні смажені “годівниця”</h4>
            </a>
        </li>
        <li class="ourProducts__list-item">
            <a href="product.html" class="ourProducts__list-link">
                <img src="images/stripsy.png" alt="product">
                <h4>стріпси курячі смажені “годівниця”</h4>
            </a>
        </li>
    </ul>
    </div>
    <a href="catalog.html" class="button" type="button">Перейти у каталог</a>
        
    
</section>