<section class="ourServiceCenter">
    <div class="container">
        <div class="service__title service__title_mobile text-left">Наш сервисный центр</div>
        <div class="ourServiceCenter__content">
            <div class="ourServiceCenter__left">
                <div class="service__title">Наш сервисный центр</div>
                <div class="ourServiceCenter__description">Лишь ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, своевременно верифицированы. </div>
                <ul class="ourServiceCenter__list">
                    <li class="ourServiceCenter__item">Лишь ключевые особенности структуры проекта, превозмогая </li>
                    <li class="ourServiceCenter__item">Лишь ключевые особенности структуры проекта, превозмогая </li>
                    <li class="ourServiceCenter__item">Лишь ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию.</li>
                </ul>
                <a href="#" class="discover">Заказать услугу</a>
            </div>
            <div class="ourServiceCenter__img">
                <div class="ourServiceCenter__icon">
                    <img src="images/logo_grey.png" alt="">
                </div>
                <div class="ourServiceCenter__img_filter"></div>
            </div>
        </div>
    </div>
</section>