<section class="ourServices">
    <div class="container">
        <div class="ourServices__content">
            <div class="blockTitle">Наши услуги</div>
            <div class="ourServices__blocks">
                <div class="ourServices-block">
                    <div class="ourServices-block__sale">Акция</div>
                    <div class="ourServices-block__title">Ремонт<br> оборудования</div>
                    {{> blocks / discover}}
                    <div class="ourServices-block__img">
                        <img src="images/service1.png" alt="">
                    </div>
                    <div class="ourServices-block__img_oval">
                        <img src="images/oval.png" alt="">
                    </div>
                </div>
                <div class="ourServices-block">
                    <div class="ourServices-block__title">Настройка<br> оборудования</div>
                    {{> blocks / discover}}
                    <div class="ourServices-block__img">
                        <img src="images/service2.png" alt="">
                    </div>
                    <div class="ourServices-block__img_oval">
                        <img src="images/oval.png" alt="">
                    </div>
                </div>
                <div class="ourServices-block">
                    <div class="ourServices-block__title">Диагностика <br>оборудования</div>
                    {{> blocks / discover}}
                    <div class="ourServices-block__img">
                        <img src="images/service5.png" alt="">
                    </div>
                    <div class="ourServices-block__img_oval">
                        <img src="images/oval.png" alt="">
                    </div>
                </div>
                <div class="ourServices-block">
                    <div class="ourServices-block__title">Аренда<br> оборудования</div>
                    {{> blocks / discover}}
                    <div class="ourServices-block__img">
                        <img src="images/service4.png" alt="">
                    </div>
                    <div class="ourServices-block__img_oval">
                        <img src="images/oval.png" alt="">
                    </div>
                </div>
                <div class="ourServices-block">
                    <div class="ourServices-block__title">Вызов<br> специалиста </div>
                    {{> blocks / discover}}
                    <div class="ourServices-block__img">
                        <img src="images/service5.png" alt="">
                    </div>
                    <div class="ourServices-block__img_oval">
                        <img src="images/oval.png" alt="">
                    </div>
                </div>
                <div class="ourServices-block">
                    <div class="ourServices-block__sale">Акция</div>
                    <div class="ourServices-block__title">Интеграции<br> WMS</div>
                    {{> blocks / discover}}
                    <div class="ourServices-block__img">
                        <img src="images/service6.png" alt="">
                    </div>
                    <div class="ourServices-block__img_oval">
                        <img src="images/oval.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>