<section class="ourValues">
    <img src="images/ourProducts_component_1.png" alt="" class="ourValues__component ourValues__component_1">
    <div class="container-big">
        <div class="ourValues__content">
            <h2 class="sectionTitle">Наші цінності</h2>
            <div class="ourValues__desc text-simple">Ми розвиваємось завдяки людям, відкритості й відповідальному підходу до кожного етапу виробництва. Наші принципи допомагають нам залишатись стабільними, чесними й сучасними — незалежно від часу та ринку.</div>
            <ul class="ourValues__items">
                <li class="ourValues__item">
                    <img class="ourValues__item-icon" src="images/ourValues_icon_1.svg" alt="">
                    <span class="ourValues__item-text">Відповідальність</span>
                </li>
                <li class="ourValues__item">
                    <img class="ourValues__item-icon" src="images/ourValues_icon_2.svg" alt="">
                    <span class="ourValues__item-text">Довіра та прозорість</span>
                </li>
                <li class="ourValues__item">
                    <img class="ourValues__item-icon" src="images/ourValues_icon_3.svg" alt="">
                    <span class="ourValues__item-text">Команда</span>
                </li>
                <li class="ourValues__item">
                    <img class="ourValues__item-icon" src="images/ourValues_icon_4.svg" alt="">
                    <span class="ourValues__item-text">Фокус на споживача</span>
                </li>
                <li class="ourValues__item">
                    <img class="ourValues__item-icon" src="images/ourValues_icon_5.svg" alt="">
                    <span class="ourValues__item-text">Партнерство</span>
                </li>
                <li class="ourValues__item">
                    <img class="ourValues__item-icon" src="images/ourValues_icon_6.svg" alt="">
                    <span class="ourValues__item-text">Міжнародний ринок</span>
                </li>
                <li class="ourValues__item">
                    <img class="ourValues__item-icon" src="images/ourValues_icon_7.svg" alt="">
                    <span class="ourValues__item-text">Результат</span>
                </li>
            </ul>
        </div>
    </div>
</section>