<div class='pageInfo'>
  <div class='container'>
    <div class='pageInfo__content'>
      <h2 class='sectionTitle'>Реалізовані проєкти та набутий досвід</h2>
      <div class="pageInfo__top-text">
        <p class='text_simple'>Група компаній “Каркас Груп” є підприємством, яке щорічно реалізовує
          понад 50000 м² готових проєктів різної складності та масштабу. Наші споруди відзначаються
          високою якістю та функціональністю: від об’єктів сільськогосподарського та виробничого
          призначення з повною автоматизацією, споруд для утримання худоби та пташників, до зернотоків
          та навісів для зберігання техніки. Всі металоконструкції сертифіковані та запроєктовані з
          урахуванням сейсмічних особливостей кожного регіону та навісного обладнання, передбаченого
          проєктом. Це гарантує надійність конструкції та безперебійну роботу підприємства Замовника.</p>
          <div class="line"></div>
          <p class='text_simple'>Обираючи ТОВ «Каркас Груп», ви отримуєте надійного партнера, який знає, як перетворити ваші
          ідеї в реальність. Наша команда завжди готова допомогти в реалізації будь-якого проєкту!</p>
        </div>
        <h3>Наші напрямки діяльності включають:</h3>
        <ul class="pageInfo__product-list">
            <li class="pageInfo__product-list__item">
                <img src="/images/product.jpg" alt="product">
                <div class="pageInfo__product-list__item-group">
                  <div class="pageInfo__product-list__item-group-text">
                    <h4>Будівництво зерносховищ та ангарів</h4>
                    <div class="text_simple">Зводимо надійні сховища, що дозволяють ефективно зберігати як монокультури, так і декілька видів зерна одночасно. Спеціальні секційні перегородки гарантують роздільне зберігання, запобігають змішуванню та створюють ідеальні умови для збереження якості вашого врожаю.</div>
                  </div>
                  <button class="custom-button custom-button_white" type="button">Переглянути металоконструкції</button>

                </div>
            </li>
            <li class="pageInfo__product-list__item">
                <img src="/images/product.jpg" alt="product">
                <div class="pageInfo__product-list__item-group">
                  <div class="pageInfo__product-list__item-group-text">
                    <h4>Будівництво зерносховищ та ангарів</h4>
                    <div class="text_simple">Зводимо надійні сховища, що дозволяють ефективно зберігати як монокультури, так і декілька видів зерна одночасно. Спеціальні секційні перегородки гарантують роздільне зберігання, запобігають змішуванню та створюють ідеальні умови для збереження якості вашого врожаю.</div>
                  </div>
                  <button class="custom-button custom-button_white" type="button">Переглянути металоконструкції</button>

                </div>
            </li>
        </ul>
        <h2 class="text-slogan">Міцність у кожній конструкції, впевненість у кожному рішенні</h2>
    </div>
  </div>
</div>