<section class='pageInfo'>
  <div class='container'>
    <div class='pageInfo__content'>
      <h2 class='sectionTitle'>Про навіси</h2>
      <div class='redactor_wp'>
        <p class='text_simple'>Навіси — це універсальні металоконструкції для захисту транспорту,
          техніки, сировини чи продукції від погодних умов. Ми виготовляємо односхилі, двосхилі,
          арочні та індивідуальні навіси — з урахуванням навантажень, особливостей локації та
          призначення.
        </p>

        <p class='text_simple'>Каркасні навіси з металопрофілю — швидкомонтовані рішення, що не
          потребують складного фундаменту. Їх встановлюють на фермах, елеваторах, автопарках,
          логістичних або будівельних майданчиках, а також для зберігання під відкритим небом. За
          потреби передбачене бічне закриття, ролети, водостоки чи снігозатримувачі.
        </p>

        <p class='text_simple'>
          Ми забезпечуємо повний цикл — від проєкту до логістики. Працюємо з типовими та
          індивідуальними запитами, гарантуючи готове рішення, що відповідає технічним вимогам,
          бюджету та строкам.
        </p>

        <strong>Ключові переваги навісів:</strong>
        <ul>
          <li>Швидкість виготовлення та монтажу</li>
          <li>Висока міцність і довговічність</li>
          <li>Можливість утеплення та додаткового оснащення</li>
          <li>Індивідуальне проєктування відповідно до завдань замовника</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class='pageInfo'>
  <div class='container'>
    <div class='pageInfo__content'>
      <h2 class='sectionTitle'>Кроквяні ферми</h2>
      <div class='product'>
        <div class='product__slider'>

          <div class='product__slider-item'>

            <div class='product__slider-images'>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
            </div>

            <div class='videoBlock product__slider-video'>
              <a
                href='/images/footer_video.mp4'
                class='video-fancybox-trigger gallery-item imgBox'
                data-type='video'
              ></a>

              <div class='videoBlockWrapper'>
                <img src='/images/close_white.svg' class='videoBlock__close' />
                <video class='video-element' playsinline muted poster='/images/poster.png'  loop>
                  <source src='/images/footer_video.mp4' type='video/mp4' />
                </video>
                <img src='/images/play_btn.svg' alt='play' class='play__btn' />
              </div>
            </div>

          </div>
          <div class='product__slider-item'>

            <div class='product__slider-images'>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
              <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
                  src='/images/product_slider.jpg'
                  alt='product'
                /></a>
            </div>

            <div class='videoBlock product__slider-video'>
              <a
                href='/images/footer_video.mp4'
                class='video-fancybox-trigger gallery-item imgBox'
                data-type='video'
              ></a>

              <div class='videoBlockWrapper'>
                <img src='/images/close_white.svg' class='videoBlock__close' />
                <video class='video-element' playsinline muted poster='/images/poster.png'  loop>
                  <source src='/images/footer_video.mp4' type='video/mp4' />
                </video>
                <img src='/images/play_btn.svg' alt='play' class='play__btn' />
              </div>
            </div>

          </div>

        </div>

        <div class='product__slider_mobile'>

          <a href='/images/product_slider.jpg' class='gallery-item imgBox ' data-type='image'><img
              src='/images/product_slider.jpg'
              alt='product'
            /></a>
          <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
              src='/images/product_slider.jpg'
              alt='product'
            /></a>
          <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
              src='/images/product_slider.jpg'
              alt='product'
            /></a>
          <a href='/images/product_slider.jpg' class='gallery-item imgBox' data-type='image'><img
              src='/images/product_slider.jpg'
              alt='product'
            /></a>

          <div class='videoBlock product__slider-video'>
              <a
                href='/images/footer_video.mp4'
                class='video-fancybox-trigger gallery-item imgBox'
                data-type='video'
              ></a>

              <div class='videoBlockWrapper'>
                <img src='/images/close_white.svg' class='videoBlock__close' />
                <video class='video-element' playsinline muted poster='/images/poster.png'  loop>
                  <source src='/images/footer_video.mp4' type='video/mp4' />
                </video>
                <img src='/images/play_btn.svg' alt='play' class='play__btn' />
              </div>
            </div>

        </div>

        <div class='product__info'>
          <p class='text_simple product__info-desc'>Кроквяні ферми — це ключові несучі елементи
            покрівлі, що забезпечують її міцність, стійкість та рівномірний розподіл навантаження.
            Виготовлені зі сталі високої якості та зібрані зварюванням або болтовими з’єднаннями,
            вони дозволяють перекривати великі прольоти без проміжних опор, що особливо важливо для
            промислових, складських і аграрних споруд. Завдяки легкій конструкції, швидкому монтажу
            та довговічності кроквяні ферми є оптимальним рішенням для надійних і ефективних
            покрівельних систем.</p>
          <div class='line line_vertical'></div>
          <div class='product__data'>
            <div class='product__location'>Вінницька обл.</div>
            <div class='text_simple'><b>ТОВ «АгроБуд Інвест»</b></div>
            <div class='text_simple product__data-val'>48 т МК</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='pageInfo'>
  <div class='container'>
    <div class='pageInfo__content'>
      <button class='custom-button btn-for-popup' data-popup="popup-rozrahunok" type='button'>Замовити Навіси</button>
      <h2 class='text-slogan'>Навіщо малювати в уяві,  коли краще побачити</h2>
    </div>
  </div>
</section>