<section class="template2 partners">
    <div class="container">
        <h2 class="sectionTitle">Наші партнери </h2>
        <div class="template2__content">
            <div class="partners__list">
                <div class="partners__list-item">
                    <img loading="lazy" src="/images/partner_1.svg" alt="partner" class="partners__list-item__img">
                </div>
                <div class="partners__list-item">
                    <img loading="lazy" src="/images/partner_2.svg" alt="partner" class="partners__list-item__img">
                </div>
                <div class="partners__list-item">
                    <img loading="lazy" src="/images/partner_3.svg" alt="partner" class="partners__list-item__img">
                </div>
                <div class="partners__list-item">
                    <img loading="lazy" src="/images/partner_4.svg" alt="partner" class="partners__list-item__img">
                </div>
                <div class="partners__list-item">
                    <img loading="lazy" src="/images/partner_5.svg" alt="partner" class="partners__list-item__img">
                </div>
                <div class="partners__list-item">
                    <img loading="lazy" src="/images/partner_1.svg" alt="partner" class="partners__list-item__img">
                </div>
            </div>
            <p class="text_simple partners__desc">Ми відкриті до довгострокового та взаємовигідного співробітництва з надійними партнерами, які поділяють наші цінності та прагнення до якості. Спільна робота дозволяє ефективніше реалізовувати масштабні аграрні та промислові проєкти, обмінюватись досвідом і розвивати бізнес. Якщо ви зацікавлені у співпраці з компанією, що має багаторічний досвід та репутацію на ринку, натискайте кнопку нижче, щоб запропонувати партнерство та розпочати діалог.</p>
            <button class="custom-button" type="button">Запропонувати співпрацю</button>
        </div>
    </div>
</section>