<section class="partnersList">
    <ul class="partnersList__list">
        <li class="partnersList__item">
            <div class="partnersList__item-logo">
                <img src="images/motorola.png" alt="">
            </div>
            <div class="partnersList__item-text">
                <div class="partnersList__item-brand">Motorola</div>
                <div class="partnersList__item-description">Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает актуальность дальнейших направлений развития. </div>
            </div>
            <a href="" class="partnersList__item-link">Перейти на сайт</a>
        </li>
        <li class="partnersList__item">
            <div class="partnersList__item-logo">
                <img src="images/zebra.png" alt="">
            </div>
            <div class="partnersList__item-text">
                <div class="partnersList__item-brand">Zebra</div>
                <div class="partnersList__item-description">Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает актуальность дальнейших направлений развития. </div>
            </div>
            <a href="" class="partnersList__item-link">Перейти на сайт</a>
        </li>
        <li class="partnersList__item">
            <div class="partnersList__item-logo">
                <img src="images/motorola.png" alt="">
            </div>
            <div class="partnersList__item-text">
                <div class="partnersList__item-brand">Motorola</div>
                <div class="partnersList__item-description">Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает актуальность дальнейших направлений развития. </div>
            </div>
            <a href="" class="partnersList__item-link">Перейти на сайт</a>
        </li>
        <li class="partnersList__item">
            <div class="partnersList__item-logo">
                <img src="images/zebra.png" alt="">
            </div>
            <div class="partnersList__item-text">
                <div class="partnersList__item-brand">Zebra</div>
                <div class="partnersList__item-description">Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает актуальность дальнейших направлений развития. </div>
            </div>
            <a href="" class="partnersList__item-link">Перейти на сайт</a>
        </li>
        <li class="partnersList__item">
            <div class="partnersList__item-logo">
                <img src="images/motorola.png" alt="">
            </div>
            <div class="partnersList__item-text">
                <div class="partnersList__item-brand">Motorola</div>
                <div class="partnersList__item-description">Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает актуальность дальнейших направлений развития. </div>
            </div>
            <a href="" class="partnersList__item-link">Перейти на сайт</a>
        </li>
    </ul>
</section>