<div class='main__group-btns'>
  <button class='main__group-btn btn-for-popup' data-popup='popup-rozrahunok' type='button'>
    <span>Отримати розрахунок</span>
    <img loading='lazy' src='/images/btn_icon_calc.svg' alt='calc' />
  </button>
  <a href='tel:+380770330000' class='main__group-btn' type='button'>
    <span>+38 (077) 033-00-00</span>
    <img loading='lazy' src='/images/btn_icon_phone.svg' alt='phone' />
  </a>
</div>