<div class="popup popup__simple" id="popup-form-send">
    <div class="popup__box">
        <div class="popup__inner">
            <h4 class="popup__title">Дякуємо за ваше звернення!</h4>
            <div class="popup__desc text">Ми отримали вашу заявку. Наша команда зв’яжеться з вами найближчим часом та надасть детальну інформацію.</div>
            <button class="button btn-for-close-popup" type="button">Гаразд</button>
        </div>
    </div>
</div>