<div class="popup popup__simple" id="popup-partners-send">
    <div class="popup__box">
        <div class="popup__inner">
            <h4 class="popup__title">Дякуємо за ваш інтерес до співпраці</h4>
            <div class="popup__desc text">Ми отримали вашу заявку на співпрацю. Наш менеджер зв’яжеться з вами, щоб обговорити можливості партнерства.</div>
            <button class="button btn-for-close-popup" type="button">Гаразд</button>
        </div>
    </div>
</div>