<div class="popup" id="popup-partners">
    <div class="popup__box">
        <div class="popup__inner">
            <h4 class="popup__title ">Готові до співпраці?</h4>
            <div class="popup__desc text">Ми відкриті до співпраці з дистриб’юторами, торговими мережами, HoReCa та роздрібними партнерами.Якщо ви шукаєте надійного постачальника продукції з бездоганною якістю та стабільною логістикою — залиште свої контакти, і ми зв’яжемося з вами, щоб обговорити деталі можливої співпраці..</div>
            <div class="form">
                <div class="form__content">
                    <form class="form__form form-partners" name="form" method="post" action="">
                        <div class="form__group-wrapper">
                            <div class="form__group">
                                <span class="form__group-label text">Ваше ім’я</span>
                                <input class="form__group-input text" type="text" name="name" placeholder="Марго">
                            </div>
                            <div class="form__group">
                                <span class="form__group-label text">Ваш Email</span>
                                <input class="form__group-input text" type="text" name="mail" placeholder="email_example@gmail.us">
                            </div>
                        </div>
                        <div class="form__group">
                            <span class="form__group-label text">Ваше питання</span>
                            <textarea class="form__group-input text" name="question" maxlength="300" rows="4" placeholder="Поділіться деталями — із задоволенням розглянемо співпрацю"></textarea>
                            <div class="form__group-count"><span class="form__group-count__value">0</span>/300</div>
                        </div>
                        <div class="form__btns">
                            <button class="button button-reverse btn-for-close-popup" type="button">Скасувати</button>
                            <button class="button" type="submit">Надіслати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>