<section class="popular">
    <div class="container">
        <div class="sectionTitle">Трендовые товары</div>
        <div class="popular__content">
            <aside class="popular__aside">
                <ul class="popular__aside-list">
                    <li class="popular__aside-item active">
                        <a href="#" class="popular__aside-link">Новинки</a>
                    </li>
                    <li class="popular__aside-item">
                        <a href="#" class="popular__aside-link">Акции</a>
                    </li>
                    <li class="popular__aside-item">
                        <a href="#" class="popular__aside-link">Распродажа</a>
                    </li>
                </ul>
                <div class="popular__aside-nav">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
            </aside>
            <div class="products">
                <div class="product">
                    <div class="product__label product__label_new">New</div>
                    <div class="product__icons">
                        <div class="product__icon product__icon_compare">
                            <img src="images/compare.png" alt="">
                        </div>
                        <div class="product__icon product__icon_favorite">
                            <img src="images/favorite.png" alt="">
                        </div>
                    </div>
                    <div class="product__image">
                        <a href="product.html" class="product__link">
                            <img src="images/product1.png" alt="">
                        </a>
                    </div>
                    <div class="product__description-top">
                        <div class="product__name">Chair</div>
                        <div class="product__articul">Код:02051</div>
                    </div>
                    <div class="product__title">
                        <a href="product.html" class="product__link">Dining chairs</a>
                    </div>
                    <div class="product__price">
                        <div class="product__price_current">100 UAH</div>
                        <div class="product__price_old">120 UAH</div>
                    </div>
                    <div class="product__bottom">
                        <div class="product__bottom_group">
                            <span>Размер спального места 100см*100см*100см</span>
                            <span>Размер Ш*В*Д 100см*100см*100см</span>
                        </div>
                        <div class="product__bottom_group">
                            <div class="product__bottom_img">
                                <img src="images/Shop.png" alt="">
                            </div>
                            <span>В корзину</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product__label product__label_sale">Sale</div>
                    <div class="product__icons">
                        <div class="product__icon product__icon_compare">
                            <img src="images/compare.png" alt="">
                        </div>
                        <div class="product__icon product__icon_favorite">
                            <img src="images/favorite.png" alt="">
                        </div>
                    </div>
                    <div class="product__image">
                        <a href="product.html" class="product__link">
                            <img src="images/product2.png" alt="">
                        </a>
                    </div>
                    <div class="product__description-top">
                        <div class="product__name">Chair</div>
                        <div class="product__articul">Код:02051</div>
                    </div>
                    <div class="product__title">
                        <a href="product.html" class="product__link">Minimal iconic chair</a>
                    </div>
                    <div class="product__price">
                        <div class="product__price_current">12000 UAH</div>
                        <div class="product__price_old">150000 UAH</div>
                    </div>
                    <div class="product__bottom">
                        <div class="product__bottom_group">
                            <span>Размер спального места 100см*100см*100см</span>
                            <span>Размер Ш*В*Д 100см*100см*100см</span>
                        </div>
                        <div class="product__bottom_group">
                            <div class="product__bottom_img">
                                <img src="images/Shop.png" alt="">
                            </div>
                            <span>В корзину</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product__label product__label_sale">Sale</div>
                    <div class="product__icons">
                        <div class="product__icon product__icon_compare">
                            <img src="images/compare.png" alt="">
                        </div>
                        <div class="product__icon product__icon_favorite">
                            <img src="images/favorite.png" alt="">
                        </div>
                    </div>
                    <div class="product__image">
                        <a href="product.html" class="product__link">
                            <img src="images/product3.png" alt="">
                        </a>
                    </div>
                    <div class="product__description-top">
                        <div class="product__name">Chair</div>
                        <div class="product__articul">Код:02051</div>
                    </div>
                    <div class="product__title">
                        <a href="product.html" class="product__link">Buskbo armchair</a>
                    </div>
                    <div class="product__price">
                        <div class="product__price_current">130 UAH</div>
                        <div class="product__price_old">190 UAH</div>
                    </div>
                    <div class="product__bottom">
                        <div class="product__bottom_group">
                            <span>Размер спального места 100см*100см*100см</span>
                            <span>Размер Ш*В*Д 100см*100см*100см</span>
                        </div>
                        <div class="product__bottom_group">
                            <div class="product__bottom_img">
                                <img src="images/Shop.png" alt="">
                            </div>
                            <span>В корзину</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>