<section class="production template1">
    <div class="container">
        <div class="template1__content template1__content-reverse"  style="margin-top: 0;">
            <div class="template1__image">
                <a href="/images/production_1.png" class="gallery-item"><img loading="lazy" src="/images/production_1.png" alt="production"></a>
                <a href="/images/production_2.png" class="gallery-item"><img loading="lazy" src="/images/production_2.png" alt="production"></a>
                <a href="/images/production_3.png" class="gallery-item"><img loading="lazy" src="/images/production_3.png" alt="production"></a>
                <a href="/images/production_4.png" class="gallery-item"><img loading="lazy" src="/images/production_4.png" alt="production"></a>
                <a href="/images/production_5.png" class="gallery-item"><img loading="lazy" src="/images/production_5.png" alt="production"></a>
                <a href="/images/production_6.png" class="gallery-item"><img loading="lazy" src="/images/production_6.png" alt="production"></a>
            </div>
            <div class="template1__info">
                <h2 class="sectionTitle">Виготовлення</h2>
                <div class="template1__info-texts">
                    <p class="text_simple" style="border-bottom: none;">Ми враховуємо всі нюанси — від типу об'єкта до бюджету клієнта, щоб створити надійне рішення під конкретне завдання. Процес розрахунку проєкту в Каркас Груп включає кілька важливих етапів, що забезпечують високу якість і надійність металоконструкцій:</p>
                    <ol class="template1__list">
                        <li class="template1__list-item text_simple">
                            Детально вивчаємо технічне завдання, особливості об’єкта та погоджуємо ключові вимоги з замовником.
                        </li>
                        <li class="template1__list-item text_simple">
                            Виконуємо точні розрахунки в CAD-системах і підбираємо матеріали відповідно до терміну служби та бюджету.
                        </li>
                        <li class="template1__list-item text_simple">
                            Створюємо повний комплект креслень КМ і КМД, забезпечуючи точність та відповідність стандартам.
                        </li>
                        <li class="template1__list-item text_simple">
                            Фінально перевіряємо проєкт, узгоджуємо всі деталі та готуємо його до запуску у виробництво.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>