<section class="productDuplicates">
<section class="productInfo">
    <div class="container">
        <div class="productInfo__content">
            <div class="productInfo__left">
                <div class="productInfo__image">
                    <div class="productInfo__guarantee">Год гарантии</div>
                    <a href="#" class="product-card__rent">Взять в аренду</a>
                    <img src="images/arrow.png" alt="" class="productInfo__arrow_left">
                    <img src="images/arrow.png" alt="" class="productInfo__arrow_right">
                    <div class="productInfo__action_group">
                        <div class="productInfo__action_img">
                            <img src="images/favorite.png" alt="" class="productInfo__favorite_btn">
                        </div>
                        <div class="productInfo__action_img">
                            <img src="images/filter.png" alt="" class="productInfo__filter_btn">
                        </div>
                    </div>
                    <div class="productInfo__img productInfo__img_slider">
                        <img src="images/spares.png" alt="">
                        <img src="images/spares.png" alt="">
                        <img src="images/spares.png" alt="">
                    </div>
                </div>
                <div class="manager">
                    <div class="manager__title">Ремонт и диагностика товара к которому принадлежит запчасть!</div>
                    <div class="manager__description"> А ещё сторонники тоталитаризма в науке могут быть функционально разнесены на независимые элементы. </div>
                    <a href="#" class="manager__button">Связаться с менеджером</a>
                </div>
                <div class="files">
                    <div class="files__title">Файлы</div>
                    <ul class="files__list">
                        <a href="#" class="files__item" download >Технические характеристики Honeywell ScanPal EDA51K</a>
                        <a href="#" class="files__item" download >Инструкция</a>
                    </ul>
                </div>
            </div>
            <div class="productInfo__right">
                <div class="productInfo__right-top">
                    <div class="productInfo__group">
                        <div class="productInfo__group-title">Бренд:</div>
                        <div class="productInfo__group-title productInfo__group-title_blue">GTS/Honeywell</div>
                    </div>
                    <div class="productInfo__group">
                        <div class="productInfo__group-title">Артикул:</div>
                        <div class="productInfo__group-title productInfo__group-title_blue">MC92N0-GL0SYEYA6W</div>
                    </div>
                    <div class="productInfo__group">
                        <div class="productInfo__group-title">Код товара:</div>
                        <div class="productInfo__group-title productInfo__group-title_blue">00009366</div>
                    </div>
                    <div class="productInfo__group productInfo__group_abs duplicates__productInfo__group">
                        <div class="productInfo__group-title_green">Мы – официальные представители бренда</div>
                    </div>
                    <div class="productInfo__group productInfo__group_abs">
                        <div class="productInfo__group_icon">
                            <div class="productInfo__icon">
                                <img src="images/favorite.png" alt="">
                            </div>
                            <a href="#" class="productInfo__group-action">Избранное</a>
                        </div>
                        <div class="productInfo__group_icon">
                            <div class="productInfo__icon">
                                <img src="images/filter.png" alt="">
                            </div>
                            <a href="#" class="productInfo__group-action">Сравнить</a>
                        </div>
                        <div class="productInfo__test_item">Бесплатная доставка</div>
                    </div>
                </div>
                <div class="productInfo__title">
                    Аккумуляторная батарея для Motorola MC92N0 (GTS/Honeywell)
                </div>
                <div class="productInfo__group productInfo__group_mobile">
                        <div class="productInfo__group-title_green">Мы – официальные представители бренда</div>
                    </div>
                <div class="productInfo__description">
                    <div class="productInfo__description-item">
                        <span class="productInfo__description-subtitle">Тип:</span>
                        <span class="productInfo__description-text">Li-ion</span>
                    </div>
                    <div class="productInfo__description-item">
                        <span class="productInfo__description-subtitle"> Напряжение:</span>
                        <span class="productInfo__description-text">7.4V/19.24Wh</span>
                    </div>
                    <div class="productInfo__description-item">
                        <span class="productInfo__description-subtitle">Емкость: </span>
                        <span class="productInfo__description-text">2600 мАч</span>
                    </div>
                </div>
                <div class="productInfo__configuration-title">Доступные конфигурации:</div>
                <ul class="productInfo__configuration-list">
                    <li class="productInfo__configuration-item">
                        <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="color-violet">
                        <label for="color-violet"></label>
                        <div class="productInfo__configuration-text"><span class="bold"> Battery Chem.</span> Li-Ion, Voltage 7.2V, Capacity 2200 mAh</div>
                    </li>
                    <li class="productInfo__configuration-item">
                        <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="color-violet2">
                        <label for="color-violet2"></label>
                        <div class="productInfo__configuration-text"><span class="bold"> Battery Chem.</span> Li-Ion, Voltage 7.2V, Capacity 2200 mAh</div>
                    </li>
                </ul>
                <div class="productInfo__availability">
                    <div class="productInfo__instock">Товар в наличии</div>
                    <div class="productInfo__check">Уточнить наличие</div>
                    <div class="productInfo__check">Уточнить цену</div>
                </div>
                <div class="product-card__group_price">
                    <div class="product-card__price">96 000 руб</div>
                    <form class="product-card__group_count">
                        <button type="button" class="product-card__minus">-</button>
                        <div class="product-card__count">02</div>
                        <button type="button" class="product-card__plus">+</button>
                    </form>
                </div>
                <div class="productInfo__buttons">
                    <button class="productInfo__button">В корзину</button>
                    <button class="productInfo__button">Купить в один клик</button>
                </div>
                <div class="productInfo__test_bottom">
                    <div class="productInfo__test_text-group">
                        <div class="productInfo__test_text">Отгрузим:</div>
                        <div class="productInfo__test_text_wrap">
                            <div class="productInfo__test_date">21.12.2021</div>
                            <div class="productInfo__test_text">до 18:00</div>
                        </div>
                    </div>
                        <a href="#" class="productInfo__test_link">Связаться</a>
                </div>

                {{!-- /////////// --}}
                <div class="characteristics__content">
            <div class="characteristics__title">Рабочие характеристики</div>
            <ul class="characteristics__list">
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Физические характеристики</div>
                    <div class="characteristics__item-text">122 г.</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Дисплей</div>
                    <div class="characteristics__item-text">41.4 x 24.2 x 74.6 м</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Емкость</div>
                    <div class="characteristics__item-text">2600 мАч</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Напряжение</div>
                    <div class="characteristics__item-text">7.4V/19.24Wh</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Партномер</div>
                    <div class="characteristics__item-text">HMC9000-Li(26)</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Производитель</div>
                    <div class="characteristics__item-text">GTS (Honeywell)</div>
                </li>
                <li class="characteristics__item">
                    <div class="characteristics__item-title">Тип</div>
                    <div class="characteristics__item-text">Li-ion</div>
                </li>
            </ul>
            <div class="files files_mobile">
                <div class="files__title">Файлы</div>
                <ul class="files__list">
                    <a href="#" class="files__item" download >Технические характеристики Honeywell ScanPal EDA51K</a>
                    <a href="#" class="files__item" download >Инструкция</a>
                </ul>
            </div>
        </div>
        </div>
                {{!-- /////////// --}}

            </div>
        </div>
    </div>
</section>
</section>