<section class="productPage">
    <div class="container">
        <div class="productPage__content">
            <section class="productPage__images">
                <div class="productPage__top productPage__top-mobile">
                    <div class="productPage__articul">
                        <span>Код товара:</span>
                        <span>3350</span>
                    </div>
                    <div class="productPage__status">
                        <img src="images/status.png" alt="">
                        <span>В наличии</span>
                    </div>
                </div>
                <div class="sectionTitle sectionTitle__mobile">Диван Мрия</div>
                <div class="productPage__slider">
                    <img src="images/product.png" alt="">
                    <img src="images/product.png" alt="">
                    <img src="images/product.png" alt="">
                    <img src="images/product.png" alt="">
                    <img src="images/product.png" alt="">
                </div>
                <div class="productPage__images_bottom">
                    <div class="productPage__nav-btns">
                        <img src="images/arrow.png" alt="prev">
                        <img src="images/arrow.png" alt="next">
                    </div>
                    <div class="productPage__slider-nav">
                        <img src="images/product.png" alt="">
                        <img src="images/product.png" alt="">
                        <img src="images/product.png" alt="">
                        <img src="images/product.png" alt="">
                        <img src="images/product.png" alt="">
                    </div>
                </div>
            </section>
            <div class="productPage__info">
                <div class="productPage__top">
                    <div class="productPage__articul">
                        <span>Код товара:</span>
                        <span>3350</span>
                    </div>
                    <div class="productPage__status">
                        <img src="images/status.png" alt="">
                        <span>В наличии</span>
                    </div>
                </div>
                <div class="sectionTitle">Диван Мрия</div>
                <div class="productPage__size">
                    <span>Габариты:</span>
                    <span>1 050 / 700 / 2 080</span>
                </div>
                <div class="productPage__icons">
                    <button type="button" class="productPage__icons-group">
                        <img src="images/Shop.png" alt="add">
                        <span>В корзину</span>
                    </button>
                    <button type="button" class="productPage__icons-group">
                        <div class="product__icon">
                            <img src="images/compare.png" alt="compare">
                        </div>
                        <span>Сравнить</span>
                    </button>
                    <button type="button" class="productPage__icons-group">
                        <div class="product__icon">
                            <img src="images/credit.png" alt="credit">
                        </div>
                        <span>Рассрочка</span>
                    </button>
                </div>
                <div class="productPage__buy">
                    <div class="productPage__buy-group">
                        <span class="productPage__buy-price">11 999 UAH</span>
                        <span class="productPage__buy-text">Нашли дешевле? Снизим цену</span>
                    </div>
                    <div class="productPage__buy-group__btns">
                        <button class="custom-button">Купить</button>
                        <button class="custom-button custom-button-byClick popup__button_byClick">Купить в один клик</button>
                    </div>
                </div>
                
                <div class="productPage__options">
                    <div class="productPage__options-title">Дополнительные опции</div>
                    <div class="productPage__options-content">
                        <label>
                            <select class="checkselect">
                                <option value="">Оббивка</option>
                                <option value="">Кожа</option>
                                <option value="">Поролон</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                        <label>
                            <select class="checkselect">
                                <option value="">Ножки</option>
                                <option value="">4</option>
                                <option value="">6</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                        <label>
                            <select class="checkselect">
                                <option value="">Каркас</option>
                                <option value="">Дерево</option>
                                <option value="">Чугун</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                        <label>
                            <select class="checkselect">
                                <option value="">Размер</option>
                                <option value="">Большой</option>
                                <option value="">Маленький</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                        <label>
                            <select class="checkselect">
                                <option value="">Пружинный блок</option>
                                <option value="">1 пружина</option>
                                <option value="">4 пружины</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                        <label>
                            <select class="checkselect">
                                <option value="">Механизм</option>
                                <option value="">Автомат</option>
                                <option value="">Механика</option>
                            </select>
                            <img src="images/arrow.png" alt="">
                        </label>
                    </div>
                </div>
                <div class="productPage__options">
                    <div class="productPage__options-title">Выбрать обивочную ткань:</div>
                    <ul class="productPage__options-list">
                        <li class="productPage__options-item">
                            <input type="checkbox" class="custom-checkbox" id="case1" name="case" value="yes">
                            <label for="case1">
                                <img src="images/tkan1.png" alt="">
                            </label>
                        </li>
                        <li class="productPage__options-item">
                            <input type="checkbox" class="custom-checkbox" id="case2" name="case" value="yes">
                            <label for="case2">
                                <img src="images/tkan2.png" alt="">
                            </label>
                        </li>
                        <li class="productPage__options-item">
                            <input type="checkbox" class="custom-checkbox" id="case3" name="case" value="yes">
                            <label for="case3">
                                <img src="images/tkan3.png" alt="">
                            </label>
                        </li>
                        <li class="productPage__options-item">
                            <input type="checkbox" class="custom-checkbox" id="case4" name="case" value="yes">
                            <label for="case4">
                                <img src="images/tkan4.png" alt="">
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="productPage__options">
                    <div class="productPage__options-title">Выбор стороны угла:</div>
                    <div class="productPage__options-content">
                        <div class="productPage__options-angle">
                            <input type="checkbox" class="custom-checkbox" id="case5" name="case" value="yes">
                            <label for="case5"></label>
                            <img src="images/angle.png" alt="">
                            <span>Угол Г</span>
                        </div>
                        <div class="productPage__options-angle">
                            <input type="checkbox" class="custom-checkbox" id="case6" name="case" value="yes">
                            <label for="case6"></label>
                            <img src="images/angle.png" alt="">
                            <span>Угол Г</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>