<section class="productTabs">
    <div class="container">
        <div class="productTabs__content">
            <div class="productTabs__tabs">
                <ul class="productTabs__list">
                    <li class="productTabs__item active">Описание</li>
                    <li class="productTabs__item">Характеристики</li>
                    <li class="productTabs__item">Доставка</li>
                    <li class="productTabs__item">Рассрочка</li>
                    <li class="productTabs__item">Отзывы</li>
                </ul>
            </div>
            <div class="productTabs__wrapper">
                <div class="productTabs__text">
                    <div class="sectionTitle">Диван Мрия</div>
                    <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                    </p>
                    <p>
                    При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
                </div>
                <div class="productTabs__wrapper-img">
                    <img src="images/product_pic.png" alt="">
                </div>
            </div>
            <div class="productTabs__wrapper">
                <div class="productTabs__wrapper-video video-container">
                    <iframe width="570" height="339" class="productTabs__iframe" src="https://www.youtube.com/embed/7V1IMLUmiRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="productTabs__text">
                    <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                    </p>
                    <p>
                    При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>