<section class="productInfo">
    <div class="container">
        <div class="productInfo__content">
            <div class="productInfo__left">
                <div class="productInfo__image">
                    <div class="productInfo__guarantee">Год гарантии</div>
                    <img src="images/arrow.png" alt="" class="productInfo__arrow_left">
                    <img src="images/arrow.png" alt="" class="productInfo__arrow_right">
                    <div class="productInfo__action_group">
                        <div class="productInfo__action_img">
                            <img src="images/favorite.png" alt="" class="productInfo__favorite_btn">
                        </div>
                        <div class="productInfo__action_img">
                            <img src="images/filter.png" alt="" class="productInfo__filter_btn">
                        </div>
                    </div>
                    <div class="productInfo__img productInfo__img_slider">
                        <img src="images/product1.png" alt="">
                        <img src="images/product1.png" alt="">
                        <img src="images/product1.png" alt="">
                    </div>
                </div>
                <div class="productInfo__test">
                    <div class="productInfo__test_top">
                        <a href="#" class="productInfo__test_item">
                            <div class="productInfo__test_img">
                                <img src="images/smartphone.png" alt="">
                            </div>
                            <div class="productInfo__test_title">Взять на тест</div> 
                            <div class="productInfo__test_available">товар доступен</div> 
                        </a>
                        <a href="#" class="productInfo__test_item">
                            <div class="productInfo__test_img">
                                <img src="images/rent.png" alt="">
                            </div>
                            <div class="productInfo__test_title">Взять в аренду</div> 
                            <div class="productInfo__test_available">товар доступен</div> 
                        </a>
                        <div class="productInfo__test_item">Бесплатная доставка</div>
                    </div>
                    <div class="productInfo__test_bottom">
                        <div class="productInfo__test_text">Отгрузим:</div>
                        <div class="productInfo__test_text_wrap">
                            <div class="productInfo__test_date">21.12.2021</div>
                            <div class="productInfo__test_text">до 18:00</div>
                        </div>
                        <a href="#" class="productInfo__test_link">Связаться</a>
                    </div>
                </div>
            </div>
            <div class="productInfo__right">
                <div class="productInfo__right-top">
                    <div class="productInfo__group">
                        <div class="productInfo__group-title">Бренд:</div>
                        <div class="productInfo__group-title productInfo__group-title_blue">Motorola, Symbol</div>
                    </div>
                    <div class="productInfo__group">
                        <div class="productInfo__group-title">Артикул:</div>
                        <div class="productInfo__group-title productInfo__group-title_blue">MC92N0-GL0SYEYA6W</div>
                    </div>
                    <div class="productInfo__group">
                        <div class="productInfo__group-title">Код товара:</div>
                        <div class="productInfo__group-title productInfo__group-title_blue">00009366</div>
                    </div>
                    <div class="productInfo__group productInfo__group_abs">
                        <div class="productInfo__group-title_green">Мы – официальные представители бренда</div>
                    </div>
                    <div class="productInfo__group productInfo__group_abs">
                        <a href="#" class="productInfo__group-action">Избранное</a>
                        <a href="#" class="productInfo__group-action">Сравнить</a>
                    </div>
                </div>
                <div class="productInfo__title">
                    Терминал сбора данных (ТСД) Zebra MC92N0-GL0SYEYA6WR
                </div>
                <div class="productInfo__group productInfo__group_mobile">
                        <div class="productInfo__group-title_green">Мы – официальные представители бренда</div>
                    </div>
                <div class="productInfo__description">
                    ТТСД Терминал сбора данных Zebra MC9200MC92N0-GL0SYEYA6WR Windows CE, пистолетная рукоять, 802.11 a/b/g/n/ac, RFID, Bluetooth, 2D дисплей 4,3 , 53 клавиши, батарея 2600 мАч, память 1ГБ/2ГБ
                </div>
                <div class="productInfo__configuration-title">Доступные конфигурации:</div>
                <ul class="productInfo__configuration-list">
                    <li class="productInfo__configuration-item">
                        <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="color-violet">
                        <label for="color-violet"></label>
                        <div class="productInfo__configuration-text"><span class="bold"> MC92N0-GA0SXAYA5WR</span> (1D Laser, 28 кл., CE 7.0, 512MB RAM/2GB Flash, Wi-Fi, BT)</div>
                    </li>
                    <li class="productInfo__configuration-item">
                        <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="color-violet2">
                        <label for="color-violet2"></label>
                        <div class="productInfo__configuration-text"><span class="bold">MC92N0-GA0SXAYA5WR</span> (1D Laser, 28 кл., CE 7.0, 512MB RAM/2GB Flash, Wi-Fi, BT)</div>
                    </li>
                    <li class="productInfo__configuration-item">
                        <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="color-violet3">
                        <label for="color-violet3"></label>
                        <div class="productInfo__configuration-text"><span class="bold">MC92N0-GA0SXAYA5WR</span> (1D Laser, 28 кл., CE 7.0, 512MB RAM/2GB Flash, Wi-Fi, BT)</div>
                    </li>
                    <li class="productInfo__configuration-item">
                        <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="color-violet4">
                        <label for="color-violet4"></label>
                        <div class="productInfo__configuration-text"><span class="bold">MC92N0-GA0SXAYA5WR</span> (1D Laser, 28 кл., CE 7.0, 512MB RAM/2GB Flash, Wi-Fi, BT)</div>
                    </li>
                    <li class="productInfo__configuration-item">
                        <input type="radio" class="productInfo__configuration-input custom-radio" name="configuration" id="color-violet5">
                        <label for="color-violet5"></label>
                        <div class="productInfo__configuration-text"><span class="bold">MC92N0-GA0SXAYA5WR</span> (1D Laser, 28 кл., CE 7.0, 512MB RAM/2GB Flash, Wi-Fi, BT)</div>
                    </li>
                </ul>
                <div class="productInfo__availability">
                    <div class="productInfo__instock">Товар в наличии</div>
                    <div class="productInfo__check">Уточнить наличие</div>
                    <div class="productInfo__check">Уточнить цену</div>
                </div>
                <div class="product-card__group_price">
                    <div class="product-card__price">96 000 руб</div>
                    <form class="product-card__group_count">
                        <button type="button" class="product-card__minus">-</button>
                        <div class="product-card__count">02</div>
                        <button type="button" class="product-card__plus">+</button>
                    </form>
                </div>
                <div class="productInfo__buttons">
                    <button class="productInfo__button">В корзину</button>
                    <button class="productInfo__button">Купить в один клик</button>
                </div>
            </div>
        </div>
    </div>
</section>