<div class="product-box">
<div class="product-wrapper">
<div class="product-card">
    <div class="product-card__group product-card__group_left">
        <div class="product-card__sale">Sale</div>
        <a href="#" class="product-card__rent">Взять в аренду</a>
    </div>
    <div class="product-card__group product-card__group_right">
        <form class="product-card__favorite" action="#" method="get"></form>
        <div class="product-card__filter">
            <img src="images/filter.png" alt="filter">
        </div>
    </div>
    <div class="product-card__img">
        <img src="images/product1.png" alt="product">
    </div>
    <div class="product-card__status">в наличии</div>
    <div class="product-card__status product-card__status_in-road">товар в дороге</div>
    <a class="product-card__title">ТСД Терминал сбора данных Motorola/Zebra MC9190 Gun сканер 2D</a>
    <div class="product-card__article">MC5590-PU0DURQA7WR</div>
    <div class="product-card__group-block">
        <div class="product-card__group_price">
            <div class="product-card__price">96 000 руб</div>
            <div class="product-card__price_old"><strike>117 506 руб</strike></div>
        </div>
        <form class="product-card__group_count">
            <button type="button" class="product-card__minus">-</button>
            <div class="product-card__count">02</div>
            <button type="button" class="product-card__plus">+</button>
        </form>
    </div>
    <div class="product-card__bottom">
        <div class="product-card__bottom_content">
            <form class="product-card__basket" action="#" method="get">
                <img src="images/basket.png" alt="basket">
            </form>
            <button type="submit" class="button product-card__button">Купить</button>
        </div>
    </div>
</div>
</div>
</div>