<section class="productPage">
    <div class="container">
        <div class="productPage__content">
            <section class="categorySlider">
                    <div class="categorySlider__content">
                        <div class="categorySlider__top">
                            <div class="slider-category">
                                <div class="slider-category-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-group">
                                    <img src="images/product.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="categorySlider__bottom">
                            <div class="categorySlider__bottom-btns">
                                <img src="images/arrow.png" alt="prev">
                                <img src="images/arrow.png" alt="next">
                            </div>
                            <div class="slider-category-nav">
                                <div class="slider-category-nav-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-nav-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-nav-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-nav-group">
                                    <img src="images/product.png" alt="">
                                </div>
                                <div class="slider-category-nav-group">
                                    <img src="images/product.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="productPage__info">
                <div class="productPage__top">
                    <div class="productPage__articul">
                        <span>Код товара:</span>
                        <span>3350</span>
                    </div>
                    <div class="productPage__status">
                        <img src="images/status.png" alt="">
                        <span>В наличии</span>
                    </div>
                </div>
                <div class="sectionTitle">Диван Мрия</div>
                <div class="productPage__size">
                    <span>Габариты:</span>
                    <span>1 050 / 700 / 2 080</span>
                </div>
                <div class="productPage__icons">
                    <div class="productPage__icons-group">
                        <img src="images/Shop.png" alt="add">
                        <span>В корзину</span>
                    </div>
                    <div class="productPage__icons-group">
                        <img src="images/compare.png" alt="compare">
                        <span>Сравнить</span>
                    </div>
                    <div class="productPage__icons-group">
                        <img src="images/credit.png" alt="compare">
                        <span>Рассрочка</span>
                    </div>
                </div>
                <div class="productPage__buy">
                    <div class="productPage__buy-group">
                        <span class="productPage__buy-price">11 999 UAH</span>
                        <span class="productPage__buy-text">Нашли дешевле?</span>
                        <span class="productPage__buy-text"> Снизим цену</span>
                    </div>
                    <button class="custom-button">Купить</button>
                    <button class="custom-button custom-button-byClick">Купить в один клик</button>
                </div>
                <div class="productPage__options">
                    
                </div>
            </div>
        </div>
    </div>
</section>