<section class="template1">
    <div class="container">
        <div class="template1__content">
            <div class="template1__info">
                <h2 class="sectionTitle">Проєктування</h2>
                <div class="template1__info-texts">
                    <p class="text_simple">Розробляємо проєкти КМ і КМД відповідно до норм, бюджету та умов вашого об’єкта — точно, швидко, без зайвих правок.</p>
                    <p class="text_simple">Проєктування є ключовим етапом у створенні надійних і довговічних металевих конструкцій. У Каркас Груп ми маємо власну проєктну групу, що складається з досвідчених інженерів та конструкторів, які працюють із застосуванням сучасних CAD-систем та нормативної бази. Наші фахівці розробляють повний пакет проектної документації, що включає в себе конструкції металевого каркасу (КМ) та детальну робочу документацію (КМД). Ми приділяємо особливу увагу точності розрахунків, відповідності нормам безпеки та адаптації проєкту під конкретні умови будівництва, щоб гарантувати максимальну ефективність та надійність конструкцій.</p>
                </div>
            </div>
            <div class="template1__image">
                <img src="/images/projecting_img.png" alt="projecting">
            </div>
        </div>
        <button class="custom-button" type="button">Розробити проєкт КМ та КМД</a>
    </div>
</section>