<section class="proposal">
    <div class="container">
        <div class="proposal__content">
            <div class="proposal__item proposal__item_active">
                <div class="proposal__count">01</div>
                <div class="proposal__img">
                    <img src="images/phone_icon.png" alt="icon">
                </div>
                <div class="proposal__title">Мы всегда на связи, для Вашего удобства</div>
                <div class="proposal__description">Круглосуточная поддержка 24\7 </div>
                <a href="callto:+7926912-69-50" class="proposal__phone">+7  (926 ) 912-69-50</a>
            </div>
            <div class="proposal__item">
                <div class="proposal__count">02</div>
                <div class="proposal__img">
                    <img src="images/diamond.png" alt="icon">
                </div>
                <div class="proposal__title">Скорость и качество в приоритете</div>
                <div class="proposal__description">Быстро и качественно оказываем услуги </div>
            </div>
            <div class="proposal__item">
                <div class="proposal__count">03</div>
                <div class="proposal__img">
                    <img src="images/basket_price.png" alt="icon">
                </div>
                <div class="proposal__title">Реальные цены</div>
                <div class="proposal__description">Всегда актуальная цена и наличие</div>
            </div>
            <div class="proposal__item">
                <div class="proposal__count">04</div>
                <div class="proposal__img">
                    <img src="images/operator.png" alt="icon">
                </div>
                <div class="proposal__title">Найдем подход к каждому клиенту!</div>
                <div class="proposal__description">Личный менеджер, и возможность умеренного торга с ним </div>
            </div>
        </div>
        
    </div>
    <div class="proposal__content_mobile proposal__slider">
        <div class="proposal__item proposal__item_active">
            <div class="proposal__count">01</div>
            <div class="proposal__img">
                <img src="images/phone_icon.png" alt="icon">
            </div>
            <div class="proposal__title">Мы всегда на связи, для Вашего удобства</div>
            <div class="proposal__description">Круглосуточная поддержка 24\7 </div>
            <a href="callto:+7926912-69-50" class="proposal__phone">+7  (926 ) 912-69-50</a>
        </div>
        <div class="proposal__item">
            <div class="proposal__count">02</div>
            <div class="proposal__img">
                <img src="images/diamond.png" alt="icon">
            </div>
            <div class="proposal__title">Скорость и качество в приоритете</div>
            <div class="proposal__description">Быстро и качественно оказываем услуги </div>
        </div>
        <div class="proposal__item">
            <div class="proposal__count">03</div>
            <div class="proposal__img">
                <img src="images/basket_price.png" alt="icon">
            </div>
            <div class="proposal__title">Реальные цены</div>
            <div class="proposal__description">Всегда актуальная цена и наличие</div>
        </div>
        <div class="proposal__item">
            <div class="proposal__count">04</div>
            <div class="proposal__img">
                <img src="images/operator.png" alt="icon">
            </div>
            <div class="proposal__title">Найдем подход к каждому клиенту!</div>
            <div class="proposal__description">Личный менеджер, и возможность умеренного торга с ним </div>
        </div>
    </div>
    <div class="proposal__nav">
        <div class="proposal__arrow">
            <div class="proposal__arrow_left"></div>
        </div> 
        <div class="proposal__arrow">
            <div class="proposal__arrow_right"></div>
        </div>
    </div>
</section>