<section class='proZavod' style='border: none;'>
  <div class='container'>
    <div class='proZavod__content'>
      <h2 class='sectionTitle'>Про завод металоконструкцій</h2>
      <p class='text_simple'>Наш завод — це сучасне виробництво з повним циклом: від проєктування до
        виготовлення та контролю якості. Ми працюємо на площі понад 5000 м², щомісяця виготовляємо
        до 500 тонн металоконструкцій і забезпечуємо стабільну якість завдяки автоматизованому
        обладнанню, власному технічному контролю та команді досвідчених інженерів. Завод оснащено
        всім необхідним для виготовлення точних і надійних рішень для промисловості, агро- та
        комерційного сектору.</p>
      <div class='proZavod__row'>
        <div class='redactor_wp'>
         <strong>Наші переваги: </strong> 
         <ul>
            <li>Висока продуктивність і точність</li>
            <li>Швидке виготовлення без простоїв</li>
            <li>Можливість адаптації проєктів під замовника</li>
            <li>Повний контроль якості на кожному етапі</li>
         </ul>
        </div>
        <div class="proZavod__info">
            <div class="proZavod__info-title text_simple">Виробничі потужності</div>
            <div class="proZavod__info-box">
                <div class="proZavod__info-box__item">
                    <h2 class="proZavod__info-box__value">
                        <span>500т</span>/міс
                    </h2>
                    <div class="proZavod__info-box__location text_simple">
                        м.Запоріжжя
                    </div>
                </div>
                <div class="proZavod__info-box__item">
                    <h2 class="proZavod__info-box__value">
                        <span>500т</span>/міс
                    </h2>
                    <div class="proZavod__info-box__location text_simple">
                        м.Київ
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="proZavod__row">
        <div class='videoBlock videoBlockSimple'>
          <div class='videoBlockWrapper'>
            <img src="/images/close_white.svg" class="videoBlock__close">
            <video class='video-element' width='640' height='360' playsinline muted>
              <source src='/images/logistics.mp4' type='video/mp4' />
              Ваш браузер не підтримує відео.
            </video>
            <img loading="lazy" src='/images/play_btn.svg' alt='play' class='play__btn' />
          </div>
        </div>
        <div class='videoBlock videoBlockSimple'>
          <div class='videoBlockWrapper'>
            <img src="/images/close_white.svg" class="videoBlock__close">
            <video class='video-element' width='640' height='360' playsinline muted>
              <source src='/images/logistics.mp4' type='video/mp4' />
              Ваш браузер не підтримує відео.
            </video>
            <img loading="lazy" src='/images/play_btn.svg' alt='play' class='play__btn' />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>