<section class="question">
    <div class="container">
        <div class="question__content">
            <div class="question__title">Часто задаваемые вопросы</div>
            <ul class="question__list">
                <li class="question__item">Вопрос номер 1</li>
                <li class="question__answer">
                    <span> Предварительные выводы неутешительны: высокое качество позиционных исследований предопределяет высокую востребованность как самодостаточных, так и внешне зависимых концептуальных решений. Сложно сказать, почему интерактивные прототипы превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Также как выбранный нами инновационный путь предполагает независимые способы реализации благоприятных перспектив.</span></li>
                <li class="question__item">Вопрос номер 2</li>
                <li class="question__answer"><span> Предварительные выводы неутешительны: высокое качество позиционных исследований предопределяет высокую востребованность как самодостаточных, так и внешне зависимых концептуальных решений. Сложно сказать, почему интерактивные прототипы превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Также как выбранный нами инновационный путь предполагает независимые способы реализации благоприятных перспектив.</span></li>
                <li class="question__item">Вопрос номер 3</li>
                <li class="question__answer"><span> Предварительные выводы неутешительны: высокое качество позиционных исследований предопределяет высокую востребованность как самодостаточных, так и внешне зависимых концептуальных решений. Сложно сказать, почему интерактивные прототипы превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Также как выбранный нами инновационный путь предполагает независимые способы реализации благоприятных перспектив.</span></li>
                <li class="question__item">Вопрос номер 4</li>
                <li class="question__answer"><span> Предварительные выводы неутешительны: высокое качество позиционных исследований предопределяет высокую востребованность как самодостаточных, так и внешне зависимых концептуальных решений. Сложно сказать, почему интерактивные прототипы превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Также как выбранный нами инновационный путь предполагает независимые способы реализации благоприятных перспектив.</span></li>
            </ul>
        </div>
    </div>
</section>