<section class="related" style="border: none;">
    <div class="container">
        <div class="related__content">
            <h2 class="sectionTitle">Вас можуть зацікавити:</h2>
            <div class="related__slider">
                <div class="related__slider-item">
                    <img src="/images/related.jpg" alt="product">
                    <span>Свинарники</span>
                </div>
                <div class="related__slider-item">
                    <img src="/images/related.jpg" alt="product">
                    <span>Промислові та виробничі склади</span>
                </div>
                <div class="related__slider-item">
                    <img src="/images/related.jpg" alt="product">
                    <span>Корівники</span>
                </div>
                <div class="related__slider-item">
                    <img src="/images/related.jpg" alt="product">
                    <span>Навіси</span>
                </div>
            </div>
        </div>
    </div>
</section> 