<div class='reviews'>
  <div class='reviews__slider'>
    <div class='reviews__slide'>
      <div class='reviews__slide-quote text_simple'>
        <img loading='lazy' src='/images/quote_open.svg' alt='quote' class='quote quote__open' />
        <span>
          Висловлюємо щиру подяку команді «Каркас Груп» за професійне виконання будівельних робіт та
          постачання металоконструкцій для нашого складу. Особливо відзначаємо оперативність,
          уважність до деталей і готовність знаходити оптимальні рішення у процесі роботи. Завдяки
          вашій команді проєкт був реалізований швидко, з високою якістю та відповідно до всіх
          технічних вимог. Співпраця з «Каркас Груп» підтвердила, що надійний партнер – це не лише
          про роботу, а й про взаєморозуміння та підтримку.
        </span>
        <img loading='lazy' src='/images/quote_close.svg' alt='quote' class='quote quote__close' />

      </div>
      <div class='reviews__slide-info'>
        <div class='reviews__slide-name'><b>Ірина Мельник</b></div>
        <div class='reviews__slide-job'>Керівниця ФГ «Аделаїда»</div>
      </div>
      <div class='reviews__slide-bottom'>
        <div class='reviews__slide-project'>
          <div class='reviews__slide-project__title'>Проєкт клієнта</div>
          <div class='reviews__slide-project__images'>
            <a
              href='/images/product.jpg'
              data-fancybox='reviews-slide-project-image'
              class='gallery-item imgBox'
            >
              <img loading='lazy' src='/images/product.jpg' alt='reviews' />
            </a>
            <a
              href='/images/product.jpg'
              data-fancybox='reviews-slide-project-image'
              class='gallery-item imgBox'
            >
              <img loading='lazy' src='/images/product.jpg' alt='reviews' />
            </a>
            <a
              href='/images/product.jpg'
              data-fancybox='reviews-slide-project-image'
              class='gallery-item imgBox'
            >
              <img loading='lazy' src='/images/product.jpg' alt='reviews' />
            </a>
          </div>
        </div>
        <a href='#' class='reviews__slide-project__logo'>
          <img src='/images/reviews_slide_project_logo.svg' alt='' />
        </a>
      </div>
    </div>
  </div>
</div>