<section class="reviews">
    <div class="container">
        <div class="sectionTitle">Отзывы</div>
        <div class="reviews__content">
            <div class="reviews__wrapper">
                <div class="reviews__nav">
                    <div class="reviews__nav_prev">
                        <img src="images/arrow.png" alt="prev">
                    </div>
                    <div class="reviews__nav_next">
                        <img src="images/arrow.png" alt="next">
                    </div>
                </div>
                <ul class="reviews__list">
                    <li class="reviews__item">
                        <div class="reviews__avatar">
                            <img src="images/avatar.png" alt="avatar">
                        </div>
                        <div class="reviews__title">Название товара</div>
                        <div class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque suscipit deserunt dignissimos fugiat commodi sequi iste hic doloremque dolorum optio, veniam maiores sapiente velit reprehenderit aliquid recusandae, nobis ut minima?</div>
                        <div class="reviews__rating">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                        </div>
                    </li>
                    <li class="reviews__item">
                        <div class="reviews__avatar">
                            <img src="images/avatar.png" alt="avatar">
                        </div>
                        <div class="reviews__title">Название товара</div>
                        <div class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque suscipit deserunt dignissimos fugiat commodi sequi iste hic doloremque dolorum optio, veniam maiores sapiente velit reprehenderit aliquid recusandae, nobis ut minima?</div>
                        <div class="reviews__rating">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                        </div>
                    </li>
                    <li class="reviews__item">
                        <div class="reviews__avatar">
                            <img src="images/avatar.png" alt="avatar">
                        </div>
                        <div class="reviews__title">Название товара</div>
                        <div class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque suscipit deserunt dignissimos fugiat commodi sequi iste hic doloremque dolorum optio, veniam maiores sapiente velit reprehenderit aliquid recusandae, nobis ut minima?</div>
                        <div class="reviews__rating">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                            <img src="images/star.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="reviews__list reviews__list_mobile">
        <li class="reviews__item">
            <div class="reviews__avatar">
                <img src="images/avatar.png" alt="avatar">
            </div>
            <div class="reviews__title">Название товара</div>
            <div class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque suscipit deserunt dignissimos fugiat commodi sequi iste hic doloremque dolorum optio, veniam maiores sapiente velit reprehenderit aliquid recusandae, nobis ut minima?</div>
            <div class="reviews__rating">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
            </div>
        </li>
        <li class="reviews__item">
            <div class="reviews__avatar">
                <img src="images/avatar.png" alt="avatar">
            </div>
            <div class="reviews__title">Название товара</div>
            <div class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque suscipit deserunt dignissimos fugiat commodi sequi iste hic doloremque dolorum optio, veniam maiores sapiente velit reprehenderit aliquid recusandae, nobis ut minima?</div>
            <div class="reviews__rating">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
            </div>
        </li>
        <li class="reviews__item">
            <div class="reviews__avatar">
                <img src="images/avatar.png" alt="avatar">
            </div>
            <div class="reviews__title">Название товара</div>
            <div class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque suscipit deserunt dignissimos fugiat commodi sequi iste hic doloremque dolorum optio, veniam maiores sapiente velit reprehenderit aliquid recusandae, nobis ut minima?</div>
            <div class="reviews__rating">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
                <img src="images/star.png" alt="">
            </div>
        </li>
    </ul>
</section>