<section class="rules">
    <div class="container">
        <h2 class="sectionTitle">Lorem ipsum</h2>
        <div class="rules__content redactor_wp">
            
        </div>
    </div>
</section>