<section class="policy">
    <div class="container-big">
        <h2 class="policy__content">Умови та положення</h2>
        <div class="redactor_wp text-simple">
            <b>1. Загальні умови</b>
            <br><br>
            Ці Умови та положення регулюють використання вебсайту компанії «Полтава Холод». Користуючись цим сайтом, ви погоджуєтесь з наведеними правилами та умовами.
            <br><br>
            Компанія «Полтава Холод» є українським виробником харчової продукції, зокрема морозива та інших заморожених продуктів. Сайт створений для ознайомлення користувачів із продукцією компанії, новинами, контактною інформацією та можливостями співпраці.
            <br><br>
            Якщо ви не погоджуєтесь із цими умовами, будь ласка, припиніть використання сайту.
            <br><br>
            <b>2. Використання матеріалів сайту</b>
            <br><br>
            Усі матеріали, розміщені на сайті (тексти, зображення, дизайн, логотипи та інший контент), належать компанії «Полтава Холод» або використовуються на законних підставах.
            <br><br>
            Будь-яке копіювання, поширення або використання матеріалів сайту без письмового дозволу компанії заборонено, за винятком випадків, передбачених чинним законодавством України.
            <br><br>
            <b>3. Інформація на сайті</b>
            <br><br>
            Компанія «Полтава Холод» прагне забезпечити актуальність і точність інформації на сайті. Однак компанія не гарантує повну відсутність технічних помилок, неточностей або застарілої інформації.
            <br><br>
            Ми залишаємо за собою право змінювати, оновлювати або видаляти будь-яку інформацію на сайті без попереднього повідомлення.
            <br><br>
            <b>4. Посилання на сторонні ресурси</b>
            <br><br>
            На сайті можуть бути розміщені посилання на сторонні вебресурси. Компанія «Полтава Холод» не несе відповідальності за зміст, політику конфіденційності або діяльність таких сайтів.
            <br><br>
            Перехід на сторонні ресурси здійснюється користувачем на власний розсуд.
            <br><br>
            <b>5. Обмеження відповідальності</b>
            <br><br>
            Компанія «Полтава Холод» не несе відповідальності за будь-які прямі або непрямі збитки, що можуть виникнути внаслідок використання або неможливості використання цього вебсайту.
            <br><br>
            Користувачі самостійно несуть відповідальність за використання інформації, розміщеної на сайті.
            <br><br>
            <b>6. Зміни умов</b>
            <br><br>
            Компанія «Полтава Холод» залишає за собою право змінювати або оновлювати ці Умови та положення у будь-який час. Оновлена версія документа публікується на цій сторінці.
            <br><br>
            Рекомендуємо періодично переглядати цю сторінку, щоб бути в курсі актуальних умов використання сайту.
            <br><br>
        </div>
    </div>
</section>