<section class="sertificate">
    <div class="container-big">
        <div class="sertificate__content">
            <div class="sertificate__info">
                <h2 class="sectionTitle">Сертифікована міжнародна якість</h2>
                <div class="redactor_wp text-simple">
                    Ми дбаємо про кожен етап виробництва — від ретельного відбору сировини до створення готового продукту, що відповідає найвищим вимогам галузі. На всіх стадіях ми контролюємо якість, впроваджуємо сучасні технології та забезпечуємо прозорість процесів, щоб кожен клієнт отримував саме той результат, на який він розраховує.

                    Наша продукція відповідає вимогам міжнародних стандартів, включно з HACCP, Halal, QCR та нормами Європейського Союзу. Це свідчить про відповідальне ставлення до безпеки харчових продуктів, дотримання суворих норм виробництва та постійне вдосконалення внутрішніх процесів.

                    Дотримання цих стандартів гарантує стабільну якість, надійність і безпеку нашої продукції, а також формує довіру споживачів не лише в Україні, а й у багатьох країнах світу. Ми пишаємося тим, що можемо забезпечувати клієнтів продукцією, якій можна довіряти.
                </div>
                <div class="sertificate__images">
                    <img class="sertificate__img" src="images/sertificate_1.png" alt="sertificate">
                    <img class="sertificate__img" src="images/sertificate_2.png" alt="sertificate">
                    <img class="sertificate__img" src="images/sertificate_3.png" alt="sertificate">
                </div>
            </div>
            <img class="sertificate__img" src="images/sertificate_img.jpg" alt="sertificate">
        </div>
    </div>
</section>