<section class="serviceGaranty">
    <div class="container">
        <div class="serviceGaranty__content">
            <img src="images/serviceGaranty.png" alt="" class="serviceGaranty__img">
            <div class="serviceGaranty__text">
                <div class="serviceGaranty__title">Гарантия на услугу</div>
                <div class="serviceGaranty__description">В своём стремлении повысить качество жизни, они забывают, что сложившаяся структура организации обеспечивает широкому кругу </div>
            </div>
        </div>
    </div>
</section>