<section class="serviceProducts">
    <div class="container">
        <div class="serviceProducts__content">  
            <div class="service__title">Товары относящиеся к этой услуге</div>
            <div class="ourProducts__cards">
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
                {{> blocks / productCard}}
            </div>
        </div>  
    </div>
</section>