<section class="serviceCategory">
    <div class="container">
        <div class="serviceCategory__content">
            <ul class="serviceCategory__list">
                <li class="serviceCategory__item serviceCategory__item_active">Подкатегория 1</li>
                <li class="serviceCategory__item">Подкатегория 2</li>
                <li class="serviceCategory__item">Подкатегория 3</li>
                <li class="serviceCategory__item">Подкатегория 4</li>
                <li class="serviceCategory__item">Подкатегория 5</li>
                <li class="serviceCategory__item">Подкатегория 6</li>
            </ul>
            <div class="serviceCategory__result_list">
                <div class="serviceCategory__result serviceCategory__result_active">
                    <div class="serviceCategory__title">Диагностика сканера штрихкода</div>
                    <div class="serviceCategory__description">Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает актуальность дальнейших направлений развития. А ещё сторонники тоталитаризма в науке могут быть функционально разнесены на независимые элементы. </div>
                    <a href="#" class="discover">Заказать услугу</a>
                </div>
                <div class="serviceCategory__result">
                    <div class="serviceCategory__title">Lorem, ipsum dolor.</div>
                    <div class="serviceCategory__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam error possimus porro tempora cum eum neque quidem dolorum, ex odit. </div>
                    <a href="#" class="discover">Заказать услугу</a>
                </div>
                <div class="serviceCategory__result">
                    <div class="serviceCategory__title">Lorem, ipsum dolor.55555</div>
                    <div class="serviceCategory__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam error possimus porro </div>
                    <a href="#" class="discover">Заказать услугу</a>
                </div>
                <div class="serviceCategory__result">
                    <div class="serviceCategory__title">test test test</div>
                    <div class="serviceCategory__description">Lorem ipsum test test testpisicing elit. Quibusdam error ptest test test</div>
                    <a href="#" class="discover">Заказать услугу</a>
                </div>
                <div class="serviceCategory__result">
                    <div class="serviceCategory__title">test</div>
                    <div class="serviceCategory__description">Lorem </div>
                    <a href="#" class="discover">Заказать услугу</a>
                </div>
            </div>
        </div>
    </div>
</section>