<section class="servicePlus">
    <div class="container">
        <div class="servicePlus__content">
            <div class="service__title">Преимущества сервисного центра</div>
            <ul class="servicePlus__list">
                <li class="servicePlus__item">
                    <img src="images/phone_icon.png" alt="" class="servicePlus__img">
                    <span class="servicePlus__item-title">Режим работы 24\7</span>
                    <span class="servicePlus__item-count">01</span>
                </li>
                <li class="servicePlus__item">
                    <img src="images/basket_price.png" alt="" class="servicePlus__img">
                    <span class="servicePlus__item-title">Режим работы 24\7</span>
                    <span class="servicePlus__item-count">02</span>
                </li>
                <li class="servicePlus__item">
                    <img src="images/free-delivery.png" alt="" class="servicePlus__img">
                    <span class="servicePlus__item-title">Режим работы 24\7</span>
                    <span class="servicePlus__item-count">03</span>
                </li>
                <li class="servicePlus__item">
                    <img src="images/clock.png" alt="" class="servicePlus__img">
                    <span class="servicePlus__item-title">Режим работы 24\7</span>
                    <span class="servicePlus__item-count">04</span>
                </li>
                <li class="servicePlus__item">
                    <img src="images/manager.png" alt="" class="servicePlus__img">
                    <span class="servicePlus__item-title">Режим работы 24\7</span>
                    <span class="servicePlus__item-count">05</span>
                </li>
                <li class="servicePlus__item">
                    <img src="images/diamond.png" alt="" class="servicePlus__img">
                    <span class="servicePlus__item-title">Режим работы 24\7</span>
                    <span class="servicePlus__item-count">06</span>
                </li>
            </ul>
        </div>
    </div>
</section>