<section class="serviceNews">
    <div class="container">
        <div class="serviceNews__content">
            <div class="service__title">Новости в этой отрасли</div>
            <ul class="serviceNews__list">
                <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/sort_money.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Новинка! Сортировщик банкнот Hitachi iH-210</div>
                        <div class="serviceNews__item-description">В продажу поступил трёхкарманный сортировщик банкнот Hitachi iH-210</div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
                <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/shreder.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Новинка! Шредеры SHREDCAT</div>
                        <div class="serviceNews__item-description">В продажу поступили 3 модели шредеров SHREDCAT:<br>8250 CC<br>8280 CC<br>8285 CC </div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
                <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/boxes.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Изменения в режиме работы магазина 3-7 ноября 2021 года</div>
                        <div class="serviceNews__item-description">Лишь ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, своевременно верифицированы. </div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
                <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/scanner.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Скоро в продаже! Сканеры штрихкода Datalogic серии QuickScan 2500</div>
                        <div class="serviceNews__item-description">Лишь ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, своевременно верифицированы. </div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
            <div class="service__title service__title__mob">Новости в этой отрасли</div>
    </div>
    <div class="proposal__content_mobile proposal__slider">
        
        <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/sort_money.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Новинка! Сортировщик банкнот Hitachi iH-210</div>
                        <div class="serviceNews__item-description">В продажу поступил трёхкарманный сортировщик банкнот Hitachi iH-210</div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
        <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/shreder.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Новинка! Шредеры SHREDCAT</div>
                        <div class="serviceNews__item-description">В продажу поступили 3 модели шредеров SHREDCAT:<br>8250 CC<br>8280 CC<br>8285 CC </div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
        <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/boxes.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Изменения в режиме работы магазина 3-7 ноября 2021 года</div>
                        <div class="serviceNews__item-description">Лишь ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, своевременно верифицированы. </div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
        <li class="serviceNews__item">
                    <div class="serviceNews__img">
                        <img src="images/scanner.png" alt="">
                    </div>
                    <div class="serviceNews__item-text">
                        <div class="serviceNews__item-title">Скоро в продаже! Сканеры штрихкода Datalogic серии QuickScan 2500</div>
                        <div class="serviceNews__item-description">Лишь ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, своевременно верифицированы. </div>
                    </div>
                    <a href="#" class="serviceNews__item-button">Читать</a>
                </li>
    </div>
    <div class="proposal__nav">
        <div class="proposal__arrow">
            <div class="proposal__arrow_left"></div>
        </div> 
        <div class="proposal__arrow">
            <div class="proposal__arrow_right"></div>
        </div>
    </div>
</section>