<section class="service">
    <div class="container">
        <div class="service__content">
            <ul class="service__list">
                <li class="service__item">
                    <img src="images/delivery.png" alt="">
                    <div class="service__item-group">
                        <div class="service__item-title">Доставка</div>
                        <div class="service__item-description">Доставка по всей Украине</div>
                    </div>
                </li>
                <li class="service__item">
                    <img src="images/shield.png" alt="">
                    <div class="service__item-group">
                        <div class="service__item-title">Гарантия</div>
                        <div class="service__item-description">На весь товар 18 месяцев</div>
                    </div>
                </li>
                <li class="service__item">
                    <img src="images/wallet.png" alt="">
                    <div class="service__item-group">
                        <div class="service__item-title">Кредит/Рассрочка</div>
                        <div class="service__item-description">Работаем с популярными банками</div>
                    </div>
                </li>
                <li class="service__item">
                    <img src="images/headphone.png" alt="">
                    <div class="service__item-group">
                        <div class="service__item-title">Сервис</div>
                        <div class="service__item-description">Мебель под заказ</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>