<section class="serviceOurService">
    <div class="container">
        <div class="serviceOurService__content">
            <div class="service__title">Услуги нашего сервиса</div>
            <ul class="serviceOurService__list">
                <li class="serviceOurService__item">
                    Диагностика <br>оборудования
                    <img src="images/service2.png" alt="" class="serviceOurService__img_upper">
                    <img src="images/oval1.png" alt="" class="serviceOurService__img">
                </li>
                <li class="serviceOurService__item">
                    Настройка <br>оборудования
                    <img src="images/service5.png" alt="" class="serviceOurService__img_upper">
                    <img src="images/oval2.png" alt="" class="serviceOurService__img">
                </li>
                <li class="serviceOurService__item">
                    Название <br>услуги
                    <img src="images/service4.png" alt="" class="serviceOurService__img_upper">
                    <img src="images/oval3.png" alt="" class="serviceOurService__img">
                </li>
                <li class="serviceOurService__item">
                    Название <br>услуги
                    <img src="images/serv4.png" alt="" class="serviceOurService__img_upper">
                    <img src="images/oval4.png" alt="" class="serviceOurService__img">
                </li>
            </ul>
        </div>
    </div>
</section>