<a href='#' class='socials__icon'>
    <img class="social__icon-default" loading='lazy' src='images/tiktok.svg' alt='tiktok' />
    <img class="social__icon-colored" loading='lazy' src='images/tiktok_colored.svg' alt='tiktok' />
</a>
<a href='#' class='socials__icon'>
    <img
     class="social__icon-default"
    loading='lazy'
    src='images/telegram.svg'
    alt='telegram'
  />
    <img
    class="social__icon-colored"
    loading='lazy'
    src='images/telegram_colored.svg'
    alt='telegram'
  />
  </a>
<a href='#' class='socials__icon'>
    <img
     class="social__icon-default"
    loading='lazy'
    src='images/instagram.svg'
    alt='instagram'
  />
    <img
    class="social__icon-colored"
    loading='lazy'
    src='images/instagram_colored.svg'
    alt='instagram'
  />
  </a>
<a href='#' class='socials__icon'>
    <img
     class="social__icon-default"
    loading='lazy'
    src='images/facebook.svg'
    alt='facebook'
  />
    <img
    class="social__icon-colored"
    loading='lazy'
    src='images/facebook_colored.svg'
    alt='facebook'
  />
  </a>
<a href='#' class='socials__icon'>
    <img class="social__icon-default" loading='lazy' src='images/youtube.svg' alt='youtube' />
    <img class="social__icon-colored" loading='lazy' src='images/youtube_colored.svg' alt='youtube' />
    </a>