<section class="sort-info">
    <div class="container">
        <div class="sort-info__content">
            <div class="sort-info__title">Этикетки</div>
            <ul class="sort-info__list sort-info__list_initial">
                <li class="sort-info__item">
                Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня прекрасно подходит для реализации кластеризации усилий. Элементы политического процесса могут быть объединены в целые кластеры себе подобных. </li>
                <li class="sort-info__item">Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня прекрасно подходит для реализации кластеризации усилий. Элементы политического процесса могут быть объединены в целые кластеры себе подобных. Кстати, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. </li>
                <li class="sort-info__item">В частности, внедрение современных методик предполагает независимые способы реализации прогресса профессионального сообщества.</li>
                <li class="sort-info__item">И нет сомнений, что представители современных социальных резервов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе.</li>
            </ul>
            <div class="sort-info__title">Идейные соображения высшего порядка</div>
            <ul class="sort-info__list">
                <li class="sort-info__item ">Кстати, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. В частности, внедрение современных методик предполагает независимые способы реализации прогресса профессионального сообщества.</li>
                <li class="sort-info__item sort-info__item_p">А ещё ключевые особенности структуры проекта неоднозначны и будут объединены в целые кластеры себе подобных. Повседневная практика показывает, что начало повседневной работы по формированию позиции не оставляет шанса для соответствующих условий активизации. </li>
            </ul>
        </div>
    </div>
</section>