
<section class="sort">
    <div class="container">
        <div class="sort__content">
            <div class="sort__left">
                {{> blocks / filter}} 
                <div class="sort__banner">
                    <div class="sort__banner-img">
                        <img src="images/sort_banner.png" alt="">
                    </div>
                    <div class="sort__banner-title">WMS-Системы</div>
                    <div class="sort__banner-description">Разнообразный и богатый опыт говорит нам, что сложившаяся структура организации обеспечивает актуальность благоприятных перспектив.</div>
                    {{> blocks / discover}} 
                </div>
            </div>
            <div class="sort__result">
                <div class="sort__result-top">
                    <button class="sort__result-sort">Сортировать по</button>
                    <button class="sort__result-open_filter">Открыть фильтр</button>
                    <div class="sort__result-view">
                        <div class="sort__result-view_grid">
                            <img src="images/sort_view_grid.png" alt="grid">
                        </div>
                        <div class="sort__result-view_list">
                            <img src="images/sort_view_list.png" alt="list">
                        </div>
                    </div>
                </div>
                <div class="sort__result-bottom">
                    <div class="ourProducts__cards">
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                        {{> blocks / productCard}}
                    </div>
                </div>
                <button type="button" class="sort__button-more">Показать ещё</button>
                <button class="button ourProducts__button_more ourProducts__button_more_icon">Показать еще</button>
            </div>
        </div>
    </div>
</section>