<section class="stage">
    <div class="container">
        <div class="stage__content">
            <div class="moduleTitle">Этапы нашей работы</div>
            <div class="stage__blocks">
                <div class="stage__block">
                    <div class="stage__block-img"></div>
                    <div class="stage__block-count">01</div>
                    <div class="stage__block-title">Оформление заказа</div>
                    <div class="stage__block-description">Вы оставляете заявку на сайте или по телефону</div>
                </div>
                <div class="stage__block">
                    <div class="stage__block-img"></div>
                    <div class="stage__block-count">02</div>
                    <div class="stage__block-title">Подтверждение заказа</div>
                    <div class="stage__block-description">Менеджер связываеться с Вами для подтверждения заказа</div>
                </div>
                <div class="stage__block">
                    <div class="stage__block-img"></div>
                    <div class="stage__block-count">03</div>
                    <div class="stage__block-title">Доставка</div>
                    <div class="stage__block-description">Мы доставляем Ваш заказ по указаному адресу</div>
                </div>
                <div class="stage__block">
                    <div class="stage__block-img"></div>
                    <div class="stage__block-count">04</div>
                    <div class="stage__block-title">Получение товара</div>
                    <div class="stage__block-description">Любым для Вас удобным способом</div>
                </div>
            </div>
        </div>
    </div>
</section>