<section class="steps">
    <div class="container">
        <div class="steps__content">
             <h2 class="sectionTitle">Етапи проєктування</h2>
             <div class="steps__desc">Чіткий процес дозволяє уникнути переробок, знизити витрати й пришвидшити запуск об’єкта.</div>
             <div class="steps__box">
                <ol class="steps__list">
                    <li class="steps__list-item">
                        <span class="steps__list-item__title text_simple">Аналіз технічного завдання та вимог замовника</span>
                        <span class="steps__list-item__desc">Вивчаємо специфіку об’єкта, вимоги до функціональності, дизайну, бюджету та строків виконання.</span>
                    </li>
                    <li class="steps__list-item">
                        <span class="steps__list-item__title text_simple">Аналіз технічного завдання та вимог замовника</span>
                        <span class="steps__list-item__desc">Вивчаємо специфіку об’єкта, вимоги до функціональності, дизайну, бюджету та строків виконання.</span>
                    </li>
                    <li class="steps__list-item">
                        <span class="steps__list-item__title text_simple">Аналіз технічного завдання та вимог замовника</span>
                        <span class="steps__list-item__desc">Вивчаємо специфіку об’єкта, вимоги до функціональності, дизайну, бюджету та строків виконання.</span>
                    </li>
                    <li class="steps__list-item">
                        <span class="steps__list-item__title text_simple">Аналіз технічного завдання та вимог замовника</span>
                        <span class="steps__list-item__desc">Вивчаємо специфіку об’єкта, вимоги до функціональності, дизайну, бюджету та строків виконання.</span>
                    </li>
                    <li class="steps__list-item">
                        <span class="steps__list-item__title text_simple">Аналіз технічного завдання та вимог замовника</span>
                        <span class="steps__list-item__desc">Вивчаємо специфіку об’єкта, вимоги до функціональності, дизайну, бюджету та строків виконання.</span>
                    </li>
                    <li class="steps__list-item">
                        <span class="steps__list-item__title text_simple">Аналіз технічного завдання та вимог замовника</span>
                        <span class="steps__list-item__desc">Вивчаємо специфіку об’єкта, вимоги до функціональності, дизайну, бюджету та строків виконання.</span>
                    </li>
                    <li class="steps__list-item">
                        <span class="steps__list-item__title text_simple">Аналіз технічного завдання та вимог замовника</span>
                        <span class="steps__list-item__desc">Вивчаємо специфіку об’єкта, вимоги до функціональності, дизайну, бюджету та строків виконання.</span>
                    </li>
                </ol>
                <img src="/images/related.jpg" alt="steps" class="steps__img">
             </div>
        </div>
    </div>
</section>