<section class="template2 trackingBlock">
    <div class="container">
        <h2 class="sectionTitle">Відстежуйте свої замовлення в режимі реального часу</h2>
        <div class="template2__content">
            <div class="template2__text-group">
                <p class="text-simple">У Каркас Груп ми розуміємо, наскільки важливо бути впевненими у прогресі свого проєкту. Тому в особистому кабінеті клієнта реалізована зручна система трекінгу замовлень, яка дозволяє вам завжди знати, де саме знаходиться ваше замовлення — від виготовлення металоконструкцій до завершення монтажу.</p>
                <p>Крім відстеження статусу виконання проєкту з історією змін, у кабінеті ви знайдете всі важливі документи:</p>
            </div>
            <ul class="template2__list">
                <li class="template2__list-item">
                    <img src="/images/tracking_1.svg" alt="" class="template2__list-item__img">
                    <span class="template2__list-item__text text-simple">Договори з контрагентами</span>
                </li>
                <li class="template2__list-item">
                    <img src="/images/tracking_2.svg" alt="" class="template2__list-item__img">
                    <span class="template2__list-item__text text-simple">Рахунки з актуальним статусом</span>
                </li>
                <li class="template2__list-item">
                    <img src="/images/tracking_3.svg" alt="" class="template2__list-item__img">
                    <span class="template2__list-item__text text-simple">Робоча документація</span>
                </li>
                <li class="template2__list-item">
                    <img src="/images/tracking_4.svg" alt="" class="template2__list-item__img">
                    <span class="template2__list-item__text text-simple">Актуальний фотозвіт</span>
                </li>
            </ul>
            <p>Також доступний графік виконання робіт і контакти відповідального менеджера, що забезпечує повну прозорість і комфорт у співпраці.</p>
            <p>Слідкуйте за виготовленням, пакуванням, доставкою і монтажем металоконструкцій, плануйте свої роботи без затримок і будь-яких сюрпризів.</p>
            <button class="custom-button" type="button">Трекінг замовлень</button>
        </div>
    </div>
</section>