<section class="virtualTourBlock" style="border: none;">
    <div class="virtualTour">
        {{!-- <div class="videoBlock virtualTour__video">
            <video class="video-element" playsinline muted >
                <source src="/images/virtualTour_1.mp4" type="video/mp4">
            </video>
            <img loading="lazy" src="/images/play_btn.svg" alt="play" class="play__btn">
        </div> --}}
        <div class='videoBlock virtualTour__video videoBlockSimple'>
          <div class='videoBlockWrapper'>
            {{!-- <img src="/images/close_white.svg" class="videoBlock__close"> --}}
            <video class='video-element' width='640' height='360' playsinline muted  poster="/images/virt_tour_poster.png">
              <source src='/images/virtualTour_1.mp4' type='video/mp4' />
              Ваш браузер не підтримує відео.
            </video>
            <img loading="lazy" src='/images/play_btn.svg' alt='play' class='play__btn' />
          </div>
        </div>
        <div class="virtualTour__content">
            <div class="virtualTour__toggle">
                <div class="virtualTour__toggle-btn temporary-btn-clear active" data-video="/images/virtualTour_1.mp4" data-link="https://zskua.com/3dtour/index2.html">Завод в Запоріжжі</div>
                <div class="virtualTour__toggle-btn temporary-btn" data-video="/images/departments.jpg" data-link="https://zskua.com/3dtour/index3.html">Завод в Києві</div>
            </div>
            <a class="custom-button virtualTour__link" href="https://zskua.com/3dtour/index2.html">Віртуальний тур заводом</a>
        </div>
    </div>
</section>