<section class="virtualTourBlock" style="border: none;">
    <div class="virtualTour">
        <div class="videoBlock virtualTour__video">
            <video class="video-element" src="/images/virtualTour_1.mp4"></video>
            <img loading="lazy" src="/images/play_btn.svg" alt="play" class="play__btn">
        </div>
        <div class="virtualTour__content">
            <div class="virtualTour__toggle">
                <div class="virtualTour__toggle-btn active" data-video="/images/virtualTour_1.mp4" data-link="https://zskua.com/3dtour/index2.html">Завод в Запоріжжі</div>
                <div class="virtualTour__toggle-btn" data-video="/images/video_test.mp4" data-link="https://zskua.com/3dtour/index3.html">Завод в Києві</div>
            </div>
            <a class="custom-button virtualTour__link" href="https://zskua.com/3dtour/index2.html">Віртуальний тур заводом</a>
        </div>
    </div>
</section>