<section class="whyUs">
    <img src="images/whyUs_img.png" alt="picture" class="whyUs__img">
    <div class="whyUs__info">
        <div class="whyUs__title">ЧОМУ САМЕ МИ?</div>
        <div class="whyUs__mobile">
            <div class="whyUs__title">ЧОМУ САМЕ МИ?</div>
        </div>
        <div class="whyUs__wrapper">
            <div class="whyUs__wrapper-slider-nav">
                <img src="images/btn_next.png" alt="next" class="btn__next">
                <img src="images/btn_next.png" alt="next" class="btn__next">
            </div>
            <div class="whyUs__group">
                <div class="whyUs__subtitle">Власний імпорт сталі</div>
                <div class="whyUs__description">наша команда вже понад 10 років успішно займається імпортом європейської рулонної сталі від провідних виробників індустрії;</div>
            </div>
            <div class="whyUs__group">
                <div class="whyUs__subtitle">Сучасні виробництва та потужність</div>
                <div class="whyUs__description">провідне новітнє обладнання європейського зразку та досвід дозволяють нам виробляти до 3000м2 профнастилу на кожній з ліній обох підприємств;</div>
            </div>
            <div class="whyUs__group">
                <div class="whyUs__subtitle">Збалансована система логістики</div>
                <div class="whyUs__description">швидке планування та організація поставки товару замовнику у будь-яку точку України у найкоротші терміни.</div>
            </div>
            <div class="whyUs__group">
                <div class="whyUs__subtitle">Міжнародні стандарти</div>
                <div class="whyUs__description">системи менеджмента якості ISO 9001 успішно впроваджені на наших підприємствах</div>
            </div>
            <div class="whyUs__group">
                <div class="whyUs__subtitle">Бездоганна репутація</div>
                <div class="whyUs__description">відгуки клієнтів - обличчя компанії, для нас важливий кожен замовник</div>
            </div>
            <div class="whyUs__group">
                <div class="whyUs__subtitle">Сервіс</div>
                <div class="whyUs__description"> комплексний підхід до кожного замовлення, можливість виконання спектра робіт від проєктування до монтажу</div>
            </div>
        </div>
    </div>
</section>