<section class="wmsSystem">
    <div class="container">
        <div class="wmsSystem__content">
            <div class="banners__item banners__slider1">
                <div class="banners__slider1__title">Комплексная система <br>автоматизации склада интеграция</div>
                <div class="banners__slider1__text">“fixed price”</div>
                <div class="banners__slider1__price">1500 руб</div>
                {{> blocks / discover}}
                <div class="banners__slider1_img">
                    <img src="images/smart_system.png" alt="telephone">
                </div>
            </div>
            <ul class="wmsSystem__uppers">
                <li class="wmsSystem__upper">
                    <span class="wmsSystem__upper_count">01</span>
                    <div class="wmsSystem__upper_img">
                        <img src="images/wmsSystem_img1.png" alt="">
                    </div>
                    <div class="wmsSystem__upper_title">Повышение пропускной способности склада за счетинтеграции</div>
                </li>
                <li class="wmsSystem__upper">
                    <span class="wmsSystem__upper_count">02</span>
                    <div class="wmsSystem__upper_img">
                        <img src="images/wmsSystem_img2.png" alt="">
                    </div>
                    <div class="wmsSystem__upper_title">Повышающаяся производительность труда</div>
                </li>
                <li class="wmsSystem__upper">
                    <span class="wmsSystem__upper_count">03</span>
                    <div class="wmsSystem__upper_img">
                        <img src="images/wmsSystem_img3.png" alt="">
                    </div>
                    <div class="wmsSystem__upper_title">Оптимизация складского пространства</div>
                </li>
                <li class="wmsSystem__upper">
                    <span class="wmsSystem__upper_count">04</span>
                    <div class="wmsSystem__upper_img">
                        <img src="images/wmsSystem_img4.png" alt="">
                    </div>
                    <div class="wmsSystem__upper_title">Сокращение бумажной работы</div>
                </li>
                <li class="wmsSystem__upper">
                    <span class="wmsSystem__upper_count">05</span>
                    <div class="wmsSystem__upper_img">
                        <img src="images/wmsSystem_img5.png" alt="">
                    </div>
                    <div class="wmsSystem__upper_title">Прозрачность и точность операций</div>
                </li>
            </ul>
            <div class="wmsSystem__scope">
                <div class="wmsSystem__scope_title">Возможности WMS</div>
                <ul class="wmsSystem__scope_list">
                    <li class="wmsSystem__scope_item">
                        <span class="wmsSystem__scope_item-title">Внедрение комплексной системы автоматизации склада</span>
                    </li>
                    <li class="wmsSystem__scope_item">
                        <span class="wmsSystem__scope_item-title">Проектирование информационной системы</span>
                    </li>
                    <li class="wmsSystem__scope_item">
                        <span class="wmsSystem__scope_item-title">3D моделирование склада</span>
                    </li>
                    <li class="wmsSystem__scope_item">
                        <span class="wmsSystem__scope_item-title">Логистическое проектирование и консалтинг</span>
                    </li>
                    <li class="wmsSystem__scope_item">
                        <span class="wmsSystem__scope_item-title">Разработка SLA на ИТ-сервис</span>
                    </li>
                    <li class="wmsSystem__scope_item">
                        <span class="wmsSystem__scope_item-title">Инжиниринг складских бизнес-процессов</span>
                    </li>
                </ul>
            </div>
            <div class="wmsSystem__services">
                <div class="wmsSystem__scope_title">Услуги WMS</div>
                <ul class="wmsSystem__services_list">
                    <li class="wmsSystem__services_item">
                        <div class="wmsSystem__services_item-title">WMS</div>
                        <div class="wmsSystem__services_item-description">
                            Ситема автоматизации и управления складской деятельности, позволяющая в режиме реального времени управлять всеми технологическими операциями на складе, а так же производить биллинг(просчет) складских услуг и иных услуг.
                        </div>
                        <a href="#" class="wmsSystem__services_item-link">Подробнее</a>
                        <div class="wmsSystem__services_item-img">
                            <img src="images/servises_img1.png" alt="">
                        </div>
                    </li>
                    <li class="wmsSystem__services_item">
                        <div class="wmsSystem__services_item-title">Склад под ключ</div>
                        <div class="wmsSystem__services_item-description">
                            Ведь если не апробированы технологии, не обучен персонал и не испытана техника – под угрозой сроки завершения проекта, возможны срывы обязательств по обслуживанию клиентов, а это не только дополнительные затраты, но и нанесение урона деловой репутации. 
                        </div>
                        <a href="#" class="wmsSystem__services_item-link">Подробнее</a>
                        <div class="wmsSystem__services_item-img">
                            <img src="images/servises_img2.png" alt="">
                        </div>
                    </li>
                    <li class="wmsSystem__services_item">
                        <div class="wmsSystem__services_item-title">Биллинг услуг</div>
                        <div class="wmsSystem__services_item-description">
                            Подсистема спроектирована таким образом, что с одной стороны внедрение новых клиентов с типовыми условиями договора можно произвести двумя кликами мыши, просто привязав нового клиента к стандартному тарифному плану и получить готовый настроенный механизм расчета и выставления счетов за отчетный период.
                        </div>
                        <a href="#" class="wmsSystem__services_item-link">Подробнее</a>
                        <div class="wmsSystem__services_item-img">
                            <img src="images/servises_img3.png" alt="">
                        </div>
                    </li>
                    <li class="wmsSystem__services_item">
                        <div class="wmsSystem__services_item-title">Складские процессы</div>
                        <div class="wmsSystem__services_item-description">
                            В целом, конечно, понимание сути ресурсосберегающих технологий позволяет выполнить важные задания по разработке глубокомысленных рассуждений.
                        </div>
                        <a href="#" class="wmsSystem__services_item-link">Подробнее</a>
                        <div class="wmsSystem__services_item-img">
                            <img src="images/servises_img4.png" alt="">
                        </div>
                    </li>
                    <li class="wmsSystem__services_item">
                        <div class="wmsSystem__services_item-title">Процессы РЦ </div>
                        <div class="wmsSystem__services_item-description">
                            В целом, конечно, понимание сути ресурсосберегающих технологий позволяет выполнить важные задания по разработке глубокомысленных рассуждений.
                        </div>
                        <a href="#" class="wmsSystem__services_item-link">Подробнее</a>
                        <div class="wmsSystem__services_item-img">
                            <img src="images/servises_img5.png" alt="">
                        </div>
                    </li>
                    <li class="wmsSystem__services_item">
                        <div class="wmsSystem__services_item-title">SLA на IT сервис</div>
                        <div class="wmsSystem__services_item-description">
                            Увеличение объемов ИТ-аутсорсинга в России приводит к необходимости однозначно фиксировать договоренности сторон, качество предоставляемых услуг, сроки, цели сотрудничества, его продолжительность и экономическую эффективность
                        </div>
                        <a href="#" class="wmsSystem__services_item-link">Подробнее</a>
                        <div class="wmsSystem__services_item-img">
                            <img src="images/servises_img6.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>