<section class='redactor_wp'>
  <div class='container'>
    <h2 class="sectionTitle">ПРО НАВІСИ</h2>
    <div class='section__content'>
      <p class='text_simple'>Навіси — це універсальні металоконструкції для захисту транспорту,
        техніки, сировини чи продукції від погодних умов. Ми виготовляємо односхилі, двосхилі,
        арочні та індивідуальні навіси — з урахуванням навантажень, особливостей локації та
        призначення.
      </p>

      <p class='text_simple'>Каркасні навіси з металопрофілю — швидкомонтовані рішення, що не
        потребують складного фундаменту. Їх встановлюють на фермах, елеваторах, автопарках,
        логістичних або будівельних майданчиках, а також для зберігання під відкритим небом. За
        потреби передбачене бічне закриття, ролети, водостоки чи снігозатримувачі.
      </p>

      <p class='text_simple'>
        Ми забезпечуємо повний цикл — від проєкту до логістики. Працюємо з типовими та
        індивідуальними запитами, гарантуючи готове рішення, що відповідає технічним вимогам,
        бюджету та строкам.
      </p>

      <strong>Ключові переваги навісів:</strong>
      <ul>
        <li>Швидкість виготовлення та монтажу</li>
        <li>Висока міцність і довговічність</li>
        <li>Можливість утеплення та додаткового оснащення</li>
        <li>Індивідуальне проєктування відповідно до завдань замовника</li>
      </ul>
    </div>
  </div>
</section>