<div class="category">
  <div class="container-big">
    <div class="category__tabs">
      <button class="cat__tab text active" data-cat="all">Морозиво</button>
      <button class="cat__tab text button" data-cat="humus">Хумус</button>
      <button class="cat__tab text button" data-cat="zakusky">Закуски бутербродні</button>
      <button class="cat__tab text button" data-cat="napiv">Напівфабрикати</button>
      <button class="cat__tab text button" data-cat="frozen">Заморожена продукція</button> 
    </div>
  </div>
</div>