<aside class="filters">
    <div class="filters-title text-simple">Фільтри</div>
    <button class="filter-item active" data-filter="all">Всі продукти</button>
    <button class="filter-item" data-filter="new">Новинки <span class="filter-count">(3)</span></button>
    <button class="filter-item" data-filter="rizhky">Ріжки <span class="filter-count">(2)</span></button>
    <button class="filter-item" data-filter="frukt">Фруктовий лід <span class="filter-count">(8)</span></button>
    <button class="filter-item" data-filter="eskimo">Ескімо <span class="filter-count">(13)</span></button>
    <button class="filter-item" data-filter="vafel">Вафельний стаканчик <span class="filter-count">(5)</span></button>
    <button class="filter-item" data-filter="stakanchyk">Стаканчик <span class="filter-count">(23)</span></button>
    <button class="filter-item" data-filter="vagove">Вагове <span class="filter-count">(9)</span></button>
    <button class="filter-item" data-filter="vidro">У відерку <span class="filter-count">(4)</span></button>
    <button class="filter-item" data-filter="lotok">У лотку <span class="filter-count">(4)</span></button>
</aside>