<div class="oblastResult">
    <div class="oblastResult__title">Партнери в <span>Запорізькій</span> області:</div>
    <ul class="oblastResult__list">
        <li class="oblastResult__list-item">
            <a class="oblastResult__list-link" href="#">
                <img class="oblastResult__logo" src="images/map_logo_1.svg" alt="">
                <span class="oblastResult__company">Рудь</span>
            </a>
        </li>
        <li class="oblastResult__list-item">
            <a class="oblastResult__list-link" href="#">
                <img class="oblastResult__logo" src="images/map_logo_2.svg" alt="">
                <span class="oblastResult__company">Ласунка</span>
            </a>
        </li>
        <li class="oblastResult__list-item">
            <a class="oblastResult__list-link" href="#">
                <img class="oblastResult__logo" src="images/map_logo_3.svg" alt="">
                <span class="oblastResult__company">АЙС</span>
            </a>
        </li>
        <li class="oblastResult__list-item">
            <a class="oblastResult__list-link" href="#">
                <img class="oblastResult__logo" src="images/map_logo_4.svg" alt="">
                <span class="oblastResult__company">Mountain</span>
            </a>
        </li>
    </ul>
</div>