<div class="selectOblast">
    <div class='selectOblast__current'>Оберіть область</div>
    <div class='selectOblast__list'>
        <div class='selectOblast__list-inner'>
            <span id='11'>АР Крим</span>
            <span id='2'>Вінницька</span>
            <span id='3'>Волинська</span>
            <span id='4'>Дніпропетровська</span>
            <span id='5'>Донецька</span>
            <span id='12'>Житомирська</span>
            <span id='26'>Закарпатська</span>
            <span id='6'>Запорізька</span>
            <span id='25'>Івано-Франківська</span>
            <span id='7'>Київська</span>
            <span id='8'>Кіровоградська</span>
            <span id='9'>Луганська</span>
            <span id='10'>Львівська</span>
            <span id='16'>Миколаївська</span>
            <span id='17'>Одеська</span>
            <span id='18'>Полтавська</span>
            <span id='13'>Рівненська</span>
            <span id='19'>Сумська</span>
            <span id='24'>Тернопільська</span>
            <span id='20'>Харківська</span>
            <span id='21'>Херсонська</span>
            <span id='22'>Хмельницька</span>
            <span id='23'>Черкаська</span>
            <span id='14'>Чернівецька</span>
            <span id='15'>Чернігівська</span>
        </div>
    </div>
  </div>