<section class='constructionsList'>
  <div class='container'>
    <div class='constructionsList__content'>
      <div class='constructionsList__item'>
        <h2 class='sectionTitle'>Зерносховище | 2028 м²</h2>
        <div class='constructionsList__item-row'>
          <div class='constructionsList__item-row__top'>
            <div class='videoBlock videoBlockSimple'>
              <a
                href='/images/footer_video.mp4'
                class='video-fancybox-trigger gallery-item'
                data-type='video'
              ></a>
              <div class='videoBlockWrapper'>
                <img src='/images/close_white.svg' class='videoBlock__close' />
                <video class='video-element footer-video-element' playsinline muted>
                  <source src='/images/footer_video.mp4' type='video/mp4' />
                </video>
                <img loading='lazy' src='/images/play_btn.svg' alt='play' class='play__btn' />
              </div>
            </div>
            <div class='charBox'>
              <div class='charBox__title text-36'>Характеристики</div>
              <ul class='charBox__list'>
                <li class='charBox__row'>
                  <span class="text_simple">Ширина</span>
                  <span class="text_simple">26 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Довжина</span>
                  <span class="text_simple">78 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Висота</span>
                  <span class="text_simple">9 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Ухил скату</span>
                  <span class="text_simple">6 °</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Підпірна стіна</span>
                  <span class="text_simple">2,5 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Обсяг</span>
                  <span class="text_simple">9600 м³</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Підлогова вентиляція</span>
                  <span class="text_simple">
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='28'
                      height='20'
                      viewBox='0 0 28 20'
                      fill='none'
                    >
                      <path
                        d='M26.325 1.125L9.525 17.925L1.125 9.525'
                        stroke='#F46D06'
                        stroke-width='2.25'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                    </svg>
                  </span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Бетонна підлога</span>
                  <span class="text_simple"><svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='28'
                      height='20'
                      viewBox='0 0 28 20'
                      fill='none'
                    >
                      <path
                        d='M26.325 1.125L9.525 17.925L1.125 9.525'
                        stroke='#F46D06'
                        stroke-width='2.25'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                    </svg></span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Освітлення</span>
                  <span class="text_simple"><svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='28'
                      height='20'
                      viewBox='0 0 28 20'
                      fill='none'
                    >
                      <path
                        d='M26.325 1.125L9.525 17.925L1.125 9.525'
                        stroke='#F46D06'
                        stroke-width='2.25'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                    </svg></span>
                </li>
              </ul>
              <button class="custom-button" type="button">Переглянути фото
            </button>
            </div>
          </div>
          <div class='constructionsList__item-row__bottom'>
            <div class='product__info'>
                <div class="product__info-desc__btn">Читати опис</div>
              <div class='text_simple product__info-desc'>Склад оснащено транспортером для верхнього
                завантаження зерна, що дозволяє збільшити обсяг зберігання на 45 %. Загальна
                місткість кукурудзи та пшениці перевищує 20 000 тонн. Опорна конструкція заввишки 5
                метрів забезпечує формування правильного насипу висотою 17 метрів по центру без
                використання додаткової техніки, що підвищує швидкість та ефективність роботи. У
                складі реалізована інноваційна технологія “Розумний Ангар”, яка включає контроль
                освітлення, моніторинг вологості та температури за допомогою датчиків, дистанційне
                керування вентиляційними решітками та промисловими вентиляторами, а також
                налаштування таймерів та тривалості роботи. Всі ці функції доступні через
                спеціальний мобільний додаток, що дозволяє здійснювати повний контроль з будь-якого
                куточка світу. Комплекс від “Каркас Груп” поєднує сучасну інженерію та передові
                технології, створюючи ідеальні умови для зберігання зернових навалом.</div>
                
              <div class='line line_vertical'></div>
              <div class='product__data'>
                <div class='product__location'>Вінницька обл.</div>
                <div class='text_simple'><b>ТОВ «АгроБуд Інвест»</b></div>
                <div class='text_simple product__data-val'>48 т МК</div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class='constructionsList__item'>
        <h2 class='sectionTitle'>Зерносховище | 2028 м²</h2>
        <div class='constructionsList__item-row'>
          <div class='constructionsList__item-row__top'>
            <div class='videoBlock videoBlockSimple'>
              <a
                href='/images/footer_video.mp4'
                class='video-fancybox-trigger gallery-item'
                data-type='video'
              ></a>
              <div class='videoBlockWrapper'>
                <img src='/images/close_white.svg' class='videoBlock__close' />
                <video class='video-element footer-video-element' playsinline muted>
                  <source src='/images/footer_video.mp4' type='video/mp4' />
                </video>
                <img loading='lazy' src='/images/play_btn.svg' alt='play' class='play__btn' />
              </div>
            </div>
            <div class='charBox'>
              <div class='charBox__title text-36'>Характеристики</div>
              <ul class='charBox__list'>
                <li class='charBox__row'>
                  <span class="text_simple">Ширина</span>
                  <span class="text_simple">26 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Довжина</span>
                  <span class="text_simple">78 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Висота</span>
                  <span class="text_simple">9 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Ухил скату</span>
                  <span class="text_simple">6 °</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Підпірна стіна</span>
                  <span class="text_simple">2,5 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Обсяг</span>
                  <span class="text_simple">9600 м³</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Підлогова вентиляція</span>
                  <span class="text_simple">
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='28'
                      height='20'
                      viewBox='0 0 28 20'
                      fill='none'
                    >
                      <path
                        d='M26.325 1.125L9.525 17.925L1.125 9.525'
                        stroke='#F46D06'
                        stroke-width='2.25'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                    </svg>
                  </span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Бетонна підлога</span>
                  <span class="text_simple"><svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='28'
                      height='20'
                      viewBox='0 0 28 20'
                      fill='none'
                    >
                      <path
                        d='M26.325 1.125L9.525 17.925L1.125 9.525'
                        stroke='#F46D06'
                        stroke-width='2.25'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                    </svg></span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Освітлення</span>
                  <span class="text_simple"><svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='28'
                      height='20'
                      viewBox='0 0 28 20'
                      fill='none'
                    >
                      <path
                        d='M26.325 1.125L9.525 17.925L1.125 9.525'
                        stroke='#F46D06'
                        stroke-width='2.25'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                    </svg></span>
                </li>
              </ul>
              <button class="custom-button" type="button">Переглянути фото
            </button>
            </div>
          </div>
          <div class='constructionsList__item-row__bottom'>
            <div class='product__info'>
                <div class="product__info-desc__btn">Читати опис</div>
              <div class='text_simple product__info-desc'>Склад оснащено транспортером для верхнього
                завантаження зерна, що дозволяє збільшити обсяг зберігання на 45 %. Загальна
                місткість кукурудзи та пшениці перевищує 20 000 тонн. Опорна конструкція заввишки 5
                метрів забезпечує формування правильного насипу висотою 17 метрів по центру без
                використання додаткової техніки, що підвищує швидкість та ефективність роботи. У
                складі реалізована інноваційна технологія “Розумний Ангар”, яка включає контроль
                освітлення, моніторинг вологості та температури за допомогою датчиків, дистанційне
                керування вентиляційними решітками та промисловими вентиляторами, а також
                налаштування таймерів та тривалості роботи. Всі ці функції доступні через
                спеціальний мобільний додаток, що дозволяє здійснювати повний контроль з будь-якого
                куточка світу. Комплекс від “Каркас Груп” поєднує сучасну інженерію та передові
                технології, створюючи ідеальні умови для зберігання зернових навалом.</div>
                
              <div class='line line_vertical'></div>
              <div class='product__data'>
                <div class='product__location'>Вінницька обл.</div>
                <div class='text_simple'><b>ТОВ «АгроБуд Інвест»</b></div>
                <div class='text_simple product__data-val'>48 т МК</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class='text-slogan'>Більше 200 проєктів по Україні — досвід, на який можна покластися</h2>
  </div>
</section>