<section class='constructionsDescription' style="border: none; padding-bottom: 0;">
  <div class='container'>
    <div class='redactor_wp'>
      <p style="border-bottom: 1px solid #CBCBCB; margin-bottom: 0; padding-bottom: 50px;">Будівництво споруд з металоконструкцій — це швидке та вигідне рішення для промислових, аграрних і комерційних об'єктів. Ми виконуємо роботи «під ключ» — від проєктування та виготовлення до монтажу, забезпечуючи контроль якості, дотримання термінів і оптимізацію витрат для замовника.</p>
    </div>
  </div>
</section>