<section class='constructionsAreas areas' style='border: none;'>
  <div class='container'>
    <div class='areas__content'>
      <h2 class='sectionTitle'>Про генпідряд</h2>
      <p class='text_simple'>Компанія «Каркас Груп» пропонує комплексний сервіс генпідряду для
        будівництва різних типів сільськогосподарських та промислових споруд. Наші фахівці
        забезпечують повний цикл робіт — від проєктування до здачі об’єкта «під ключ». Основні
        категорії генпідряду:</p>
      <div class='areas__grid'>
        <div class='areas__grid-item'>
          <img src='/images/area.jpg' alt='area' />
          <div class='areas__grid-item__text'>
            <div class='areas__grid-item__title text_simple'>Ферми КРС</div>
            <div class='areas__grid-item__desc redactor_wp'>
              <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для
                здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують
                стабільний мікроклімат.Приміщення розроблені для безпеки тварин та зручності
                персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати
                групи тварин.</p>
            </div>
          </div>
          <img src='/images/touch_icon.svg' alt='touch' class='touch_icon' />
        </div>
        <div class='areas__grid-item'>
          <img src='/images/area.jpg' alt='area' />
          <div class='areas__grid-item__text'>
            <div class='areas__grid-item__title text_simple'>Свиноферми</div>
            <div class='areas__grid-item__desc redactor_wp'>
              <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для
                здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують
                стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності
                персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати
                групи тварин.</p>
            </div>
          </div>
          <img src='/images/touch_icon.svg' alt='touch' class='touch_icon' />
        </div>
        <div class='areas__grid-item'>
          <img src='/images/area.jpg' alt='area' />
          <div class='areas__grid-item__text'>
            <div class='areas__grid-item__title text_simple'>Птахоферми</div>
            <div class='areas__grid-item__desc redactor_wp'>
              <p>Приміщення з оптимальними умовами для птиці та автоматизованим годуванням.
                Вентиляція і температурний режим підтримують високу продуктивність. Легкий догляд і
                зонування по вікових групах підвищують ефективність. Освітлення та підлоги
                забезпечують безпеку та комфорт для поголів’я.</p>
            </div>
          </div>
          <img src='/images/touch_icon.svg' alt='touch' class='touch_icon' />
        </div>
        <div class='areas__grid-item'>
          <img src='/images/area.jpg' alt='area' />
          <div class='areas__grid-item__text'>
            <div class='areas__grid-item__title text_simple'>Зерносховища з автоматизацією</div>
            <div class='areas__grid-item__desc redactor_wp'>
              <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для
                здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують
                стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності
                персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати
                групи тварин.</p>
            </div>
          </div>
          <img src='/images/touch_icon.svg' alt='touch' class='touch_icon' />
        </div>
        <div class='areas__grid-item'>
          <img src='/images/area.jpg' alt='area' />
          <div class='areas__grid-item__text'>
            <div class='areas__grid-item__title text_simple'>Холодильники</div>
            <div class='areas__grid-item__desc redactor_wp'>
              <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для
                здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують
                стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності
                персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати
                групи тварин.</p>
            </div>
          </div>
          <img src='/images/touch_icon.svg' alt='touch' class='touch_icon' />
        </div>
        <div class='areas__grid-item'>
          <img src='/images/area.jpg' alt='area' />
          <div class='areas__grid-item__text'>
            <div class='areas__grid-item__title text_simple'>Логістичні склади (А, 4+)</div>
            <div class='areas__grid-item__desc redactor_wp'>
              <p>Сучасні комплекси для утримання великої рогатої худоби з оптимальними умовами для
                здоров’я і росту. Автоматизовані системи годування, поїння та вентиляції підтримують
                стабільний мікроклімат. Приміщення розроблені для безпеки тварин та зручності
                персоналу. Зонування дозволяє ефективно використовувати площу та окремо утримувати
                групи тварин.</p>
            </div>
          </div>
          <img src='/images/touch_icon.svg' alt='touch' class='touch_icon' />
        </div>
      </div>
    </div>
  </div>
</section>