.ourProducts {
    background: #f5f3fe;
    border-radius: 40px;
    padding: 60px 0;
    & .container {
        @include max-md {
            padding: 0;
        }
    }
    @include max-md {
        padding: 24px 20px;
    }
    &__content {
    }
    &__title {
    }
    &__category_tab {
        margin-top: 37px;
        display: flex;
        @include max-md {
            margin-top: 14px;
        }
    }
    &__category_item {
        margin-right: 20px;
        padding: 16px 26px;
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1f1f1f;
        &:focus {
            background-color: #5a37e9;
            color: #fff;
            font-weight: 600;
        }
        @include max-md {
            font-size: 12px;
            padding: 8px 14px;
            margin-right: 0;
        }
        &:not(:first-child) {
            @include max-md {
                margin-left: 8px;
            }
        }
    }
    &__cards {
        //display: flex;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 17px;
        min-height: 508px;
        gap: 20px;
        @include max-lg {
            margin-top: 23px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
    &__button_more {
        margin: 50px auto 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 30px;
        color: #1f1f1f;
        background: #ffffff;
        border-radius: 60px;
        padding: 15px 33px 15px 78px;
        display: block;
        position: relative;
        z-index: 10;
        @include max-xlmidle {
            margin: 0 auto 0;
        }
        @include max-lg {
            margin: 19px auto 0;
            font-size: 12px;
            line-height: 18px;
            padding: 16px 18px 16px 58px;
        }
        &_icon::before {
            content: "";
            background-image: url(../images/products_loading.png);
            position: absolute;
            width: 30px;
            height: 30px;
            background-size: contain;
            left: 33px;
            top: 14px;
            transform: rotateZ(0);
            @include max-lg {
                left: 18px;
                top: 9px;
            }
        }
        &_animate::before {
            content: "";
            background-image: url(../images/products_loading.png);
            position: absolute;
            width: 30px;
            height: 30px;
            background-size: contain;
            // left: 33px;
            // top: 14px;
            transition: 2s;
            transform: rotateZ(1800deg);
            @include max-md {
                left: 18px;
                top: 9px;
            }
        }
    }
}
