.product-box {
    position: relative;
    width: 100%;
    z-index: 20;
    min-height: 508px;
    margin-top: 20px;
    @include max-xxxl {
        min-height: 532px;
    }
    @include max-md {
        min-height: initial;
    }
}
.product-wrapper {
    position: absolute;
    @include max-lg {
        position: initial;
    }
}
.product-card {
    padding: 20px 18px 32px;
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    max-width: 297px;
    @include md {
        max-width: 500px;
    }
    @include max-xlmidle {
        padding: 13px 13px 21px;
    }
    @include max-md {
        max-width: initial;
    }
    &__group {
        position: absolute;
    }
    &__group_left {
        top: 10px;
        left: 10px;
    }
    &__sale {
        background: linear-gradient(92.59deg, #cc76ff -15.44%, #e1b2fc 139.56%);
        border-radius: 20px;
        font-weight: 800;
        font-size: 10px;
        line-height: 12px;
        color: #ffffff;
        padding: 8px 14px;
        max-width: fit-content;
        @include max-md {
            font-size: 8px;
            line-height: 12px;
            padding: 4px 7px;
            border-radius: 4px;
        }
    }
    &__rent {
        background: linear-gradient(92.1deg, #87b0f3 -15.8%, #8bd5fb 110.62%);
        border-radius: 20px;
        font-weight: 800;
        font-size: 10px;
        line-height: 12px;
        color: #ffffff;
        padding: 8px;
        margin-top: 6px;
        cursor: pointer;
        display: block;
        @include max-md {
            font-size: 8px;
            padding: 4px 8px;
        }
    }
    &__group_right {
        top: 21px;
        right: 20px;
    }
    &__favorite {
        opacity: 0.3;
        cursor: pointer;
        width: 16px;
        height: 17px;
        background-image: url(../images/favorite.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        &_active {
            background-image: url(../images/favorite_active.png);
            background-repeat: no-repeat;
            opacity: 1;
            cursor: pointer;
            width: 16px;
            height: 17px;
            background-size: contain;
            display: block;
        }
        @include max-md {
            width: 13px;
            height: 13px;
        }
    }
    &__filter {
        margin-top: 16px;
        opacity: 0.3;
        cursor: pointer;
        width: 16px;
        height: 16px;
        @include max-md {
            width: 13px;
            height: 13px;
        }
    }
    &__img {
        max-width: 261px;
        cursor: pointer;
        margin: auto;
    }
    &__status {
        font-weight: 600;
        font-size: 10px;
        line-height: 11px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #00d1bc;
        display: flex;
        align-items: center;
        margin-top: 21px;
        @include max-md {
            margin-top: 13px;
            display: flex;
            justify-content: center;
            align-items: baseline;
        }
        &::before {
            content: "";
            background-image: url(../images/status.png);
            width: 6px;
            height: 6px;
            background-size: contain;
            display: block;
            margin-right: 8px;
            @include max-md {
                margin-right: 6px;
            }
        }
        &_in-road {
            color: #bdbdbd;
            @include max-md {
                font-size: 8px;
            }
            &::before {
                content: "";
                background-image: url(../images/in-road.png);
                width: 6px;
                height: 6px;
                background-size: contain;
                display: block;
                margin-right: 8px;
            }
        }
    }
    &__title {
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
        color: #1f1f1f;
        margin-top: 10px;
        display: block;
        cursor: pointer;
        @include max-md {
            font-size: 11px;
            line-height: 16px;
            text-align: center;
        }
    }
    &__article {
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #828282;
        margin-top: 10px;
        @include max-md {
            font-size: 9px;
            text-align: center;
        }
    }
    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #5a37e9;
        margin-top: 18px;
        @include max-md {
            font-size: 14px;
            line-height: 14px;
        }
    }
    &__price_old {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: line-through;
        color: #bdbdbd;
        @include max-md {
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__group-block {
        display: flex;
        justify-content: space-between;
        @include max-xl {
            flex-direction: column;
        }
        @include max-lg {
            flex-direction: row;
        }
        @include max-md {
            flex-direction: column;
            align-items: center;
        }
    }
    &__group_count {
        display: flex;
        align-items: center;
        display: none;
        @include max-xxl {
            margin-top: 12px;
        }
        @include max-lg {
            display: flex;
        }
    }
    &__count {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #1f1f1f;
        padding: 11px 23px;
        background: #f5f3fe;
        border-radius: 10px;
        margin-right: 10px;
        @include max-md {
            font-size: 12px;
            padding: 5px 25px;
        }
    }
    &__minus {
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        color: #e0e0e0;
        margin-right: 10px;
        cursor: pointer;
        background: none;
    }
    &__plus {
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        color: #00d1bc;
        cursor: pointer;
        background: none;
    }
    &__bottom {
        display: none;
        @include max-lg {
            display: block;
        }
    }
    &__bottom_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 23px;
        @include max-md {
            margin-top: 16px;
        }
    }
    &__basket {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5a37e9;
        cursor: pointer;
        @include max-md {
            width: 45px;
            height: 45px;
        }
        @include max-sm {
            width: 40px;
            height: 40px;
        }
        &_active {
            background-color: #f5f3fe;
        }

        & img {
            width: 24px;
            height: 24px;
            @include max-md {
                width: 20px;
                height: 20px;
            }
            @include max-sm {
                width: 17px;
                height: 17px;
            }
        }
    }
    &__button {
        background: #00d1bc;
        border-radius: 60px;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #ffffff;
        padding: 18px 61px;
        @include max-xl {
            padding: 15px 25px;
            font-size: 12px;
        }
        @include max-lg {
            padding: 15px 50px;
            font-size: 12px;
        }
        @include max-md {
            padding: 11px 25px;
            font-size: 11px;
        }
        @include max-iph {
            padding: 8px 20px;
            font-size: 11px;
        }
    }
}
@media (max-width: 1584px) {
    .product-box {
        //min-height: 530px;
    }
}
@media (max-width: 360px) {
    .product-card__basket {
        width: 35px;
        height: 35px;
    }
    .product-card__basket img {
        width: 14;
        height: 14;
    }
    .product-card__button {
        padding: 9px 15px;
    }
    .product-card__count {
        padding: 5px 15px;
    }
    .ourProducts__category_item {
        padding: 8px 5px;
    }
}
