.ourProducts {
  position: relative;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include max-lg {
      gap: 20px;
    }
  }
  &__component {
    position: absolute;
    right: -30px;
    bottom: 20%;
    max-width: 100px;
    height: initial;
    object-fit: contain;
    display: flex;
    @include max-lg {
      right: 20%;
      bottom: 5%;
      max-width: 70px;
    }
    @include max-md {
      right: 10%;
      bottom: 7%;
      max-width: 50px;
    }
    @include max-sm {
      right: 5%;
      bottom: 10%;
    }
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    @include max-lg {
      flex-direction: column;
      gap: 12px;
    }
    & .text {
      max-width: 460px;
    }
  }
  &__list {
    display: flex;
    gap: 20px;
    @include max-lg {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-tovar {
      display: flex;
      overflow: hidden;
      list-style: none;
      margin: 40px 0;
      padding: 0;
      mask-image: linear-gradient(to right, transparent 0%, black 8%, black 92%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 8%,
        black 92%,
        transparent 100%
      );

      & h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        @include max-lg {
          -webkit-line-clamp: 2;
        }
      }
      & .ourProducts__list-item {
        min-width: 228px;
        @include max-lg {
          min-width: 168px;
        }
      }
    }
    &-item {
      @include max-lg {
        max-width: 47%;
      }
      @include max-ip {
        max-width: 45%;
      }
      & h4 {
        color: #4a2c21;
        text-align: center;
        @include max-ip {
          font-size: 16px;
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include max-lg {
        gap: 10px;
      }
    }
  }
  &__track {
    display: flex;
    width: max-content;
    animation: marquee 28s linear infinite;
    gap: 10px;
    &:hover {
      animation-play-state: paused;
    }
  }
  & .button {
    width: max-content;
    display: block;
    margin: 0 auto 0;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
