.wmsSystem {
    & .banners__item {
        overflow: hidden;
        padding-bottom: 0 !important;
        @include max-md {
            padding: 30px;
        }
    }
    & .banners__slider1 {
        background-image: url(../images/wms_banner_bg.png);
        background-size: cover;
    }
    & .banners__slider1__title {
        max-width: 730px;
        font-size: 38px;
        line-height: 50px;
        @include max-md {
            font-size: 22px;
            line-height: 32px;
        }
    }
    & .banners__slider1__text {
        text-transform: uppercase;
        @include max-md {
            margin-top: 14px;
        }
    }
    & .banners__slider1__price {
        display: flex;
        align-items: center;
        @include max-md {
            margin-top: 12px;
        }
    }
    & .banners__slider1__price::before {
        content: "";
        background-image: url(../images/label.png);
        width: 19px;
        height: 19px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 9px;
        display: block;
    }
    & .banners__slider1_img {
        transform: rotateY(180deg);
        bottom: -3px;
        position: absolute !important;
        width: calc(465px + (535 - 200) * ((100vw - 375px) / (1920 - 375)));
        @include max-ip {
            width: calc(305px + (535 - 200) * ((100vw - 375px) / (1920 - 375)));
        }
    }
    & .discover {
        margin-top: 30px;
    }
    &__uppers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 95px;
        @include max-md {
            gap: 8px;
            margin-top: 19px;
        }
        @include max-sm {
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
    &__upper {
        flex: 0 31%;
        padding: 23px 30px;
        background: #f5f3fe;
        border-radius: 10px;
        position: relative;
        @include max-xl {
            flex: 0 30%;
        }
        @include max-md {
            padding: 23px 17px;
            flex: 0 31%;
        }
    }
    &__upper:nth-child(1) {
        flex: 0 52%;
        @include max-xl {
            flex: 0 50%;
        }
        @include max-md {
            flex: 0 52%;
        }
    }
    &__upper:nth-child(2) {
        flex: 0 45%;
        @include max-md {
        }
    }
    &__upper_count {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #00d1bc;
        position: absolute;
        top: 20px;
        right: 40px;
        @include max-md {
            top: 18px;
            right: 17px;
            font-size: 14px;
            line-height: 14px;
        }
    }
    &__upper_img {
        max-width: 63px;
        @include max-md {
            max-width: 40px;
        }
    }
    &__upper_title {
        font-weight: 700;
        font-size: 16px;
        line-height: 155%;
        color: #5a37e9;
        margin-top: 21px;
        @include max-md {
            font-size: 14px;
            line-height: 18px;
        }
    }
    &__scope {
        padding: 100px 0 0;
        @include max-md {
            padding: 27px 0 0;
        }
    }
    &__scope_title {
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        color: #1f1f1f;
        text-align: center;
        @include max-md {
            font-size: 22px;
            line-height: 32px;
        }
    }
    &__scope_list {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        @include max-xl {
            gap: 20px;
        }
        @include max-md {
            margin-top: 22px;
            gap: 10px;
        }
        @include max-sm {
            gap: 4px;
        }
    }
    &__scope_item {
        min-height: 300px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        padding: 0 0 34px 30px;
        display: flex;
        align-items: flex-end;
        @include max-md {
            flex: 0 100% !important;
            padding: 0 0 24px 24px;
            min-height: 140px;
        }
    }
    &__scope_item:nth-child(1) {
        background-image: url(../images/scope1.png);
        background-size: cover;
        flex: 0 30%;
        @include max-xl {
            flex: 0 29%;
        }
    }
    &__scope_item:nth-child(2) {
        background-image: url(../images/scope2.png);
        background-size: cover;
        flex: 0 38%;
        @include max-xl {
            flex: 0 38%;
        }
    }
    &__scope_item:nth-child(3) {
        background-image: url(../images/scope3.png);
        background-size: cover;
        flex: 0 26%;
        @include max-xl {
            flex: 0 25%;
        }
    }
    &__scope_item:nth-child(4) {
        background-image: url(../images/scope4.png);
        background-size: cover;
        flex: 0 35%;
        @include max-xl {
            flex: 0 34%;
        }
    }
    &__scope_item:nth-child(5) {
        background-image: url(../images/scope5.png);
        background-size: cover;
        flex: 0 27%;
        @include max-xl {
            flex: 0 26%;
        }
    }
    &__scope_item:nth-child(6) {
        background-image: url(../images/scope6.png);
        background-size: cover;
        flex: 0 32%;
        @include max-xl {
            flex: 0 31%;
        }
    }
    &__scope_item-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #ffffff;
        max-width: 330px;
        @include max-xl {
            font-size: 16px;
            max-width: 200px;
        }
        @include max-md {
            max-width: initial;
            font-size: 15px;
            line-height: 150%;
        }
    }
    &__services {
        padding: 100px 0 0;
        @include max-md {
            padding: 35px 0 0;
        }
    }
    &__services_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 40px;
        @include max-md {
            margin-top: 24px;
        }
        @include max-md {
            grid-template-columns: 1fr;
            gap: 11px;
        }
    }
    &__services_item {
        position: relative;
        overflow: hidden;
        background: #f5f3fe;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
        border-radius: 16px;
        padding: 40px 30px;
        @include max-md {
            padding: 20px 15px 45px;
        }
    }
    &__services_item-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        color: #1f1f1f;
        @include max-md {
            font-size: 16px;
            line-height: 18px;
        }
    }
    &__services_item-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1f1f1f;
        margin-top: 10px;
        height: 144px;
        @include max-xl {
            height: 180px;
        }
        @include max-lg {
            height: 180px;
            font-size: 14px;
        }
        @include max-md {
            font-size: 13px;
            line-height: 20px;
            margin-top: 14px;
            height: 110px;
        }
        @include max-sm {
            height: 205px;
        }
        @include max-ip {
            height: 230px;
            font-size: 12px;
        }
    }
    &__services_item-link {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #5a37e9;
        margin-top: 55px;
        display: block;
        @include max-md {
            margin-top: 25px;
            font-size: 14px;
            line-height: 150%;
        }
        @include max-sm {
            text-align: right;
        }
    }
    &__services_item-img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 163px;
        @include max-xl {
            max-width: 100px !important;
        }
        @include max-lg {
            max-width: 80px !important;
        }
        @include max-sm {
            max-width: 60px !important;
            left: 20px;
            bottom: 38px;
        }
    }
}
@media (max-width: 1350px) {
    .wmsSystem__services_item-img {
        max-width: 140px;
    }
}
