.hero {
  @include max-lg {
    padding-bottom: 40px;
  }
  &__banners {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 40px;
    padding: 40px 0;
    position: relative;
    @include max-xxxl {
      gap: 20px;
    }
    @include max-lg {
      display: flex;
      flex-direction: column-reverse;
      gap: 16px;
      padding: 16px 0;
    }
  }
  &__banner {
    object-fit: cover;
    border-radius: 32px;
  }
  &__slider-wrapper {
    overflow: hidden;
    border-radius: 32px;
    height: 100%;
    position: relative;
  }
  &__slider {
    position: relative;
    height: 100%;
    & .slick-arrow {
      display: none;
    }
    & .slick-list,
    & .slick-track {
      height: 100%;
    }
    &-arrows {
      display: flex;
      align-items: center;
      gap: 20px;
      position: absolute;
      bottom: 45px;
      left: 45px;
      z-index: 1;
      @include max-xxxl {
        left: 30px;
        bottom: 36px;
      }
      @include max-lg {
        left: 14px;
        bottom: 24px;
      }
      @include max-sm {
        bottom: 14px;
      }
      & svg {
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 50%;
        @include max-lg {
          min-width: 48px;
          width: 48px;
          height: 48px;
        }
        &:hover {
          border-color: #cd7f23;
          & rect {
            fill: #552914;
          }
          & path {
            fill: #cd7f23;
          }
        }
      }
    }
    &-count {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 26px;
      line-height: 100%;
      color: #f8e1ad;
      @include max-lg {
        font-size: 18px;
        line-height: 24px;
      }
      &-current {
      }
      &-total {
      }
    }
    &_component {
      position: absolute;
      top: 0;
      right: 0;
      object-fit: contain;
      height: initial;
      &_1 {
        top: 50px;
        left: -20px;
        max-width: 68px;
        transform: rotate(180deg);
        @include max-xxxl {
          max-width: 48px;
          top: 15px;
        }
        @include max-md {
          max-width: 35px;
          top: 5px;
          left: -5px;
        }
      }
      &_2 {
        top: -20px;
        right: 30%;
        max-width: 68px;
        transform: rotate(225deg);
        @include max-md {
          max-width: 40px;
          top: -20px;
          right: 20%;
        }
      }
      &_3 {
        top: 0;
        right: 30px;
        max-width: 150px;
        transform: rotate(95deg);
        @include max-xl {
          max-width: 100px;
          top: 5%;
        }
        @include max-lg {
          max-width: 60px;
          top: 0%;
        }
        @include max-md {
          max-width: 40px;
          top: 0%;
          right: 0;
        }
      }
      &_4 {
        top: 30%;
        right: 40%;
        max-width: 65px;
        transform: rotateY(180deg);
        @include max-xxxl {
          max-width: 40px;
          top: 25%;
          right: 32%;
        }
        @include max-md {
          max-width: 30px;
          top: 15%;
          right: 15%;
        }
      }
      &_5 {
        top: 40%;
        right: 20%;
        max-width: 55px;
        @include max-sm {
          max-width: 30px;
          top: 55%;
        }
      }
      &_6 {
        top: 30%;
        right: -30px;
        max-width: 250px;
        @include max-xl {
          max-width: 100px;
          top: 65%;
          right: -30px;
        }
        @include max-lg {
          top: 50%;
          right: 0px;
        }
        @include max-sm {
          max-width: 80px;
          top: 60%;
          right: -20px;
        }
      }
      &_7 {
        top: 50%;
        right: 17%;
        max-width: 230px;
        transform: rotate(345deg);
        @include max-xl {
          max-width: 100px;
          top: 72%;
          right: 50px;
        }
        @include max-lg {
          top: 55%;
          right: 100px;
        }
        @include max-sm {
          max-width: 75px;
          top: 70%;
          right: 45px;
        }
      }
      &_8 {
        top: 65%;
        right: 65%;
        max-width: 80px;
        transform: rotate(345deg);
        @include max-xxxl {
          top: 70%;
        }
        @include max-md {
          max-width: 50px;
          top: 65%;
          right: 50%;
        }
        @include max-sm {
          max-width: 30px;
          top: 75%;
          right: 50%;
        }
      }
      &_9 {
        top: unset;
        right: 26%;
        bottom: 20px;
        max-width: 150px;
        transform: rotateY(180deg);
        @include max-xxxl {
          top: unset;
          max-width: 110px;
          right: 28%;
          bottom: 30px;
        }
        @include max-xl {
          max-width: 70px;
          right: 20%;
          bottom: 30px;
        }
        @include max-lg {
          max-width: 60px;
          right: unset;
          left: -10px;
          top: 300px;
          bottom: unset;
        }
        @include max-md {
          max-width: 60px;
          right: unset;
          top: 320px;
          bottom: unset;
        }
        @include max-sm {
          max-width: 40px;
          right: unset;
          top: 320px;
          bottom: unset;
        }
      }
    }
  }
  &__slide {
    background-color: #552914;
    border-radius: 32px;
    padding: 108px 325px 263px 45px;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    @include max-xxxl {
      padding: 60px 250px 200px 30px;
    }
    @include max-lg {
      padding: 24px 250px 192px 14px;
    }
    @include max-sm {
      padding: 24px 48px 192px 14px;
      min-height: 425px;
      max-height: 425px;
    }

    &-content {
      height: 100%;
    }
    &-title {
      text-transform: uppercase;
      color: #f6e1a8;
    }
    &-desc {
      color: #f6e1a8;
      margin-top: 20px;
    }
    &-button {
      background-color: #cd7f23;
      margin-top: 40px;
      display: flex;
      width: max-content;
      @include max-lg {
      margin-top: 20px;
    }
    }
  }
}
