<div
  class='popup popupPassComplete'
  id='popup-pass-complete'
>
  <div class='popup__inner'>
    <div class='popup__header'>
      <img src='images/popup_close.svg' alt='close' class='popup__close' />
      <div class='popup__title'>Пароль оновлено</div>
    </div>
    <div class='popupLogin__instruction'>
      <p>Ваш пароль успішно змінено. Тепер ви можете увійти до свого особистого кабінету з новим паролем.</p>
    </div>
    <div class='popup__btn-group'>
      <button class='custom-button popup__button btn-for-popup-login' type='button'>Перейти до авторизації</button>
      <div class='popup__notation'>Допомога із входом у кабінет:
        <a href='tel:+380970001397'>+380970001397</a></div>
    </div>
  </div>
</div>