<div class='popup' id='popup-spasibi'>
  <div class='popup__inner'>
    <img src='images/popup_close.svg' alt='close' class='popup__close' />
    <div class='popup__title'>Дякуємо за звернення!</div>
    <p class='text_simple'>Ваш запит надійшов у роботу. Наші спеціалісти вже його опрацьовують.
      Очікуйте на дзвінок протягом найближчих робочих днів, ми уточнимо деталі та надамо відповідь.</p>
    <div class='socials popup__socials'>
      <a href='#' class='socials__icon'><img
          loading='lazy'
          src='images/tiktok.svg'
          alt='tiktok'
        /></a>
      <a href='#' class='socials__icon'><img
          loading='lazy'
          src='images/telegram.svg'
          alt='telegram'
        /></a>
      <a href='#' class='socials__icon'><img
          loading='lazy'
          src='images/instagram.svg'
          alt='instagram'
        /></a>
      <a href='#' class='socials__icon'><img
          loading='lazy'
          src='images/facebook.svg'
          alt='facebook'
        /></a>
      <a href='#' class='socials__icon'><img
          loading='lazy'
          src='images/youtube.svg'
          alt='youtube'
        /></a>
    </div>
    <button class='custom-button popup__button btn-for-close-popup' type='button'>Гаразд</button>
  </div>
</div>