<div
  class='popup popupInstructionsComplete'
  id='popup-instructions-complete'
>
  <div class='popup__inner'>
    <div class='popup__header'>
      <img src='images/popup_close.svg' alt='close' class='popup__close' />
      <div class='popup__title'>Інструкції надіслано</div>
    </div>
    <div class='popupLogin__instruction'>
      <p>Перевірте вашу електронну пошту. Ми надіслали лист з посиланням для відновлення паролю.
        Якщо лист не прийшов протягом кількох хвилин, перевірте папку "Спам" або зверніться до
        адміністратора.</p>
    </div>
    <div class='popup__btn-group'>
      <button class='custom-button popup__button btn-for-popup' type='button'>Продовжити</button>
      <div class='popup__notation'>Допомога із входом у кабінет:
        <a href='tel:+380970001397'>+380970001397</a></div>
    </div>
  </div>
</div>