<div class="popup" id="popup-lang">
    <div class="popup__inner">
        <img src="images/popup_close.svg" alt="close" class="popup__close">
        <div class="popup__title">Продовжити перегляд українською мовою?</div>
        <p class="text_simple">Для вашої зручності ми запам’ятаємо цей вибір і надалі не турбуватимемо вас повторним запитом.</p>
        <button class="custom-button popup__button btn-for-close-popup lang__btn--ua" type="button">Так, давайте!</button>
        <button class="custom-button custom-button_white popup__button btn-for-close-popup" type="button">Ні, залишити ru</button>
    </div>
</div>