<div class='popup popupLogin' id='popup-login'>
    <div class='popup__inner'>
      <div class="popup__header">
        <img src='images/popup_close.svg' alt='close' class='popup__close' />
        <div class='popup__title'>Авторизація замовника</div>
      </div>
      <div class="popupLogin__instruction">
        <p>Доступ тільки для клієнтів Заводу Металоконструкцій "Каркас Україна"</p>
        <p>Увійти можна за допомогою корпоративної електронної адреси, вказаної при укладанні угоди, і паролю, який вам надали після її підписання.</p>
        </div>
      <form action='login.php' name='form' method='post' class='form'>
        
          <div class='form__group'>
            <label for='name' class='form__group-label'>Email*</label>
            <input
              type='text'
              class='form__group-input'
              name='name'
              placeholder='Введіть свою електрону адресу'
            />
          </div>
          <div class="form__group">
            <label for="password" class="form__group-label">Пароль*</label>

            <div class="input-wrapper">
              <input
                type="password"
                class="form__group-input"
                name="password"
                placeholder="Введіть пароль"
              />

              <img
                src="/images/pass_hide.svg"
                alt="Показати пароль"
                class="toggle-password"
                data-show="/images/pass_show.svg"
                data-hide="/images/pass_hide.svg"
              >
            </div>

            <button type="button" class="button-remember-pass">Забули пароль?</button>
          </div>

          <div class='form__group'>
        <label>
          <input type='checkbox' class='checkbox-input' name='remember-me' />
          <span>Запам’ятати мене</span>
        </label>
      </div>
          <div class='popup__btn-group'>
            <button class='custom-button popup__button btn-form' type='button'>Увійти</button>
            <div class='popup__notation'>Допомога із входом у кабінет: <a href="tel:+380970001397">+380970001397</a></div>
          </div>
        </div>
      </form>
</div>