.header {
    &-top {
        background: #76321f;
        &__content {
            padding: 16px 0 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
    }
    &__menu {
        display: flex;
        column-gap: 15px;
        @include max-lg {
            column-gap: 10px;
        }
        @include max-md {
            display: none;
        }
        &-item {
        }
        &-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
            @include max-lg {
                font-size: 12px;
            }
        }
        &_mobile {
            display: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            padding: 0 30px 30px;
            background: #76321f;
            z-index: 20;
            &.active {
                display: flex;
                flex-direction: column;
                width: 100%;
                column-gap: 20px;
            }
            & .header__menu-item {
                background: #76321f;
                position: relative;
                &.active::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -17px;
                    margin: auto;
                    color: #fff;
                    background: #fff;
                    width: 9px;
                    height: 1px;
                }
            }
            & .header__menu-link {
                font-weight: 400;
                font-size: 18px;
                line-height: 50px;
                color: #ffffff;
            }
        }
    }
    &__burger {
        display: none;
        width: 24px;
        height: 24px;
        @include max-md {
            display: block;
        }
    }
    &__setting {
        display: flex;
        @include max-md {
            display: none;
        }
        & select {
            background: inherit;
            outline: none;
            border: none;
            color: #fff;
            & option {
                color: #000;
            }
        }
        &-location {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #ffffff;
            margin-right: 29px;
            @include max-lg {
                font-size: 12px;
                margin-right: 5px;
            }
            & select {
                text-decoration-line: underline;
            }
        }
        &-lang {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            @include max-lg {
                font-size: 13px;
            }
        }
    }
    &__icons {
        display: none;
        position: relative;
        @include max-md {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
        & input {
            display: none;
            position: absolute;
            left: -130%;
            top: 0;
            bottom: 0;
            margin: auto;
            @include max-sm {
                max-width: 120px;
                left: -85%;
            }
            @include max-ip {
                max-width: 100px;
                left: -67%;
            }
        }
    }
    &__item {
        width: 24px;
        position: relative;
    }
    &__link {
        
    }
    &__count {
        position: absolute;
        top: 0;
        right: -2px;
        font-weight: 400;
        font-size: 7px;
        line-height: 8px;
        color: #ffffff;
        background: #0c0c0c;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-middle {
        &__content {
            display: flex;
            justify-content: space-between;
            padding: 19px 0 15px;
            @include max-lg {
                padding: 10px 0;
            }
        }
        & .logo {
            max-width: 132px;
            display: block;
            @include max-lg {
                max-width: 100px;
            }
        }
        &__right {
            display: flex;
            align-items: center;
        }
        &__contacts {
            display: flex;
            align-items: center;
            margin-right: 65px;
            column-gap: 14px;
            @include max-xl {
                margin-right: 25px;
            }
            @include max-md {
                margin-right: 0;
            }
        }
        &__tel {
            display: flex;
            flex-direction: column;
            & span {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #000000;
                @include max-lg {
                    font-size: 13px;
                }
            }
        }
        &__contacts img {
            max-width: 33px;
            @include max-lg {
                max-width: 28px;
            }
            @include max-md {
                max-width: 31px;
                filter: hue-rotate(1deg);
            }
        }
        &__custom-button {
            margin-right: 27px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            padding: 12px 16px;
            @include max-xl {
                margin-right: 15px;
            }
            @include max-lg {
                font-size: 13px;
                padding: 10px 14px;
            }
            @include max-md {
                display: none;
            }
        }
        &__search {
            display: flex;
            border: 2px solid #323232;
            border-radius: 8px;
            margin-right: 26px;
            overflow: hidden;
            max-height: 40px;
            @include max-xl {
                margin-right: 15px;
            }
            @include max-lg {
                max-height: 36px;
                max-width: 150px;
            }
            @include max-md {
                display: none;
            }
        }
        &__input {
            padding: 13px 14px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #b0b0b0;
            border: none;
            outline: none;
            &-icon {
                background: #323232;
                width: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    max-width: 19px;
                }
            }
        }
        &__input::placeholder {
            color: #b0b0b0;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
        &__input-icon {
            max-width: 38px;
            height: 37px;
        }
        & .header__icons {
            display: flex;
            align-items: center;
            column-gap: 14px;
            @include max-xl {
                column-gap: 10px;
            }
            @include max-md {
                display: none;
            }
        }
        & .header__item img {
            filter: invert(0.7);
        }
        & .header__count {
            background: #c17465;
        }
    }
    &-bottom {
        background: #f7f8fa;
        &__content {
            display: flex;
            align-items: center;
            @include max-xxl {
                // width: calc(100% - 20px);
            }
            
        }
        &__custom-button {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            padding: 22px 30px;
            max-width: 260px;
            min-width: 260px;
            width: 100%;
            border-radius: 0;
            @include max-md {
                display: none;
            }
            & img {
                max-width: 24px;
            }
        }
        &__category-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 10px;
            //width: 78%;
            width: calc(100% - 260px);
            @include max-lg {
                column-gap: 0;
            }
            @include max-md {
                width: 100%;
                padding: 10px 0;
            }
        }
        &__category {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-left: 17px;
            touch-action: none;
            -ms-touch-action: none;
            &-item {
                text-align: center;
            }
            & .owl-nav {
                display: none;
            }
            & .owl-dots {
                display: none;
            }
            & .owl-stage {
                // column-gap: 15px;
            }
            & .owl-item {
                width: auto;
                &:hover {
                    // background: #c17465;
                }
                &:hover .header-bottom__category-link span {
                    color: #c17465;
                }
            }
            &-link {
                //display: table-caption;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 5px;
                // max-width: 55px;
                @include max-xl {
                    display: flex;
                }
                @include max-lg {
                    display: table-caption;
                }
                @include max-md {
                    display: flex;
                }
                & img {
                    width: 40px;
                    height: 35px;
                }
                & span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #555555;
                    width: max-content;
                }
            }
            &-button {
                text-align: center;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                & img {
                    width: 13px;
                }
                & span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #555555;
                    @include max-md {
                        display: none;
                    }
                }
            }
            
        }
        &__catalog__button {
            position: relative;
        }
        &__catalog {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: left;
            background: #F7F8FA;
            z-index: 30;
            &-item {
                padding: 10px 0 12px 30px;
                &:hover {
                    background: #c17465;
                }
                &:hover .header-bottom__catalog-link {
                    color: #fff;
                }
            }
            &-item:not(:first-child) {
                border-top: 1px solid #E3E3E3;
            }
            &-link {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.02em;
                color: #555555;
            }
        }
    }
}
