.header {
    width: 100%;
    background: #111010;
    @include max-md {
        position: fixed;
        top: 36px;
        background: none;
        z-index: 10;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 3px;
        @include max-xl {
            padding: 5px 0 3px;
        }
        @include max-lg {
            padding: 10px 0 5px;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        max-width: calc(100% - 450px);
        width: 100%;
        @include max-md {
            width: initial;
        }
    }
    &__logo {
        max-width: 213px;
        min-width: 150px;
        @include max-lg {
            min-width: 130px;
        }
        @include max-md {
            display: none;
        }
    }
    &__menu {
        margin: 0 119px 0 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include max-xxxl {
            margin: 0 0 0 50px;
        }
        @include max-xxl {
            justify-content: start;
        }
        @include max-xl {
            margin: 0 0 0 20px;
        }
        @include max-md {
            display: none;
        }
        &-item:not(:first-child) {
            @include max-xxl {
                margin-left: 20px;
            }
            @include max-lg {
                margin-left: 10px;
            }
        }
        &-link {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #ffffff;
            @include max-xxl {
                font-size: 18px;
            }
            @include max-xl {
                font-size: 16px;
            }
            @include max-lg {
                font-size: 14px;
            }
        }
        &-link:hover {
            color: #f59900;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        @include max-md {
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }
    }
    &__phone {
        margin-right: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        background: #f59900;
        border-radius: 30px;
        color: #ffffff;
        padding: 9px 47px 5px;
        @include max-xxl {
            font-size: 18px;
            padding: 5px 30px;
        }
        @include max-xl {
            font-size: 16px;
        }
        @include max-lg {
            font-size: 13px;
            padding: 3px 20px;
            margin-right: 10px;
        }
        @include max-md {
            display: none;
        }
    }
    &__lang {
        display: flex;
        column-gap: 6px;
        @include max-lg {
            column-gap: 3px;
        }
        & .button:first-child {
            margin-right: -10px;
        }
        & .button {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
            cursor: pointer;
            width: 55px;
            height: 55px;
            @include max-xxl {
                font-size: 16px;
            }
            @include max-xl {
                font-size: 14px;
                width: 40px;
                height: 40px;
            }
            @include max-lg {
                font-size: 12px;
                width: 30px;
                height: 30px;
            }
            @include max-md {
                font-size: 18px;
                line-height: 23px;
                width: 55px;
                height: 55px;
            }
        }
        & .button:hover {
            color: #f59900;
        }
        & .button__active {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(213, 207, 207, 0.47);
            border-radius: 27.5px;
            @include max-xl {
                width: 40px;
                height: 40px;
            }
            @include max-lg {
                width: 30px;
                height: 30px;
            }
            @include max-md {
                font-size: 18px;
                line-height: 23px;
                width: 55px;
                height: 55px;
                background: rgba(0, 0, 0, 0.47);
                border-radius: 27.5px;
            }
        }
    }
    &__burger {
        display: none;
        @include max-md {
            display: block;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.47);
            border-radius: 27.5px;
        }
        & img {
            width: 25px;
            height: 19px;
        }
    }
}
.burger {
    &__menu {
        background: #111010;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateX(100%);
        transition: .5s;
        &.active {
        transform: translateX(0);
        transition: .5s;
        & .header__lang {
            margin: 40px 20px;
            & .button__active {
                background: rgba(213, 207, 207, 0.47);
            }
        }
    }
    &-item {
        margin-top: 20px;
        padding: 0 20px;
        & a {
            font-size: 20px;
        }
    }
    &-item:first-child {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & img {
            max-width: 250px;
            @include max-sm {
                max-width: 200px;
            }
        }
    }
    
    }
    &__close {
        width: 30px;
    }
}
