.menu {
    padding: 0 69px 0 71px;
    @include max-xxl {
        padding: 0 20px;
    }
    @include max-lg {
        padding: 0;
    }
    @include max-md {
        padding: 0 20px 0;
    }
    @include max-md {
        display: none;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 40px;
        @include max-xxl {
            column-gap: 0;
            justify-items: center;
        }
        @include max-xl {
            column-gap: 5px;
        }
        @include max-md {
            display: none;
        }
    }
    &__item {
        width: max-content;
    }
    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #4f4f4f;
        @include max-xl {
            font-size: 12px;
            line-height: 16px;
        }
    }
}
.mobile__menu_close {
    width: 16px;
    height: 16px;
    display: none;
}
body.open .burger__menu .menu__list {
    grid-template-columns: 1fr;
    justify-items: start;
}
body.open .contact {
    justify-items: start;
}