<section class='projectAuditExpertise'>
  <div class='container'>
    <div class='projectAuditExpertise__content'>
      <h2 class='sectionTitle'>Наша експериза</h2>
      <div class='projectAuditExpertise__desc redactor_wp text_simple'>
        Маємо понад 10 років досвіду в аудиті проєктної документації для промислових обʼєктів по
        всій Україні — від ангарів до логістичних центрів. Ми не просто перевіряємо креслення, а
        виявляємо технічні недоліки, перевитрати та допомагаємо зробити проєкт більш ефективним. Наш
        підхід дозволяє клієнтам зекономити ресурси та уникнути ризиків ще до старту будівництва.
      </div>
      <div class='projectAuditExpertise__slider'>
        <div class='projectAuditExpertise__slide'>
          <div class="projectAuditExpertise__slide-group">
            <div class="projectAuditExpertise__imgbox">
              <img src="/images/projectAuditExpertise_img_1.jpg" alt="">
              <span>Запроєктовано</span>
            </div>
            <p class="text_simple">Результат: ТОВ «Каркас Груп» збудувало теплий промисловий склад без центральних колон, що забезпечує зручну роботу техніки та розміщення обладнання. Стіни й покрівля виконані з сендвіч-панелей PIR 150 мм з високими теплоізоляційними властивостями. Проєкт включав складські приміщення з охолоджувальною секцією, а також розширення й надбудову адміністративної будівлі з усією необхідною інфраструктурою. Об’єкт введено в експлуатацію наприкінці 2019 року.</p>
          </div>
        </div>
        <div class='projectAuditExpertise__slide'>
          <div class="projectAuditExpertise__slide-group">
            <div class="projectAuditExpertise__imgbox">
              <img src="/images/projectAuditExpertise_img_2.jpg" alt="">
              <span>Оптимізовано</span>
            </div>
            <div class='charBox'>
              <div class='charBox__region'>Полтавська обл.</div>
              <div class='charBox__title text_simple'>Склад готової продукції | 1524 м²</div>
              <ul class='charBox__list'>
                <li class='charBox__row'>
                  <span class="text_simple">Ширина</span>
                  <span class="text_simple">24 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Довжина</span>
                  <span class="text_simple">60 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Висота</span>
                  <span class="text_simple">6 м</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Утеплення</span>
                  <span class="text_simple">PIR 150 мм</span>
                </li>
                <li class='charBox__row'>
                  <span class="text_simple">Температурний режим</span>
                  <span class="text_simple">+17 °С</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>