<section class='projectAuditOrder'>
  <div class='container'>
    <div class='projectAuditOrder__content'>
      <h2 class='sectionTitle'>Чому варто замовити аудит саме в Carcass Group</h2>
      <ul class='steps__list projectAuditHow__steps'>
        <li class='steps__list-item'>
          <span class='steps__list-item__title text_simple'>Початкове ознайомлення з проєктом</span>
          <span class='steps__list-item__desc text_simple'>Ми вивчаємо надану проєктну документацію, щоб
            зрозуміти її структуру, обсяг та технічні особливості. На цьому етапі визначаються
            потенційно проблемні зони, які потребують особливої уваги.</span>
        </li>
        <li class='steps__list-item'>
          <span class='steps__list-item__title text_simple'>Технічний аудит рішень та розрахунків</span>
          <span class='steps__list-item__desc text_simple'>Проводиться глибокий технічний аналіз проєкту:
            перевірка правильності архітектурних рішень, конструктивних елементів, розрахунків
            міцності та надійності. Оцінюється відповідність нормам ДБН, стандартам безпеки та
            сучасним вимогам до енергоефективності.</span>
        </li>
        <li class='steps__list-item'>
          <span class='steps__list-item__title text_simple'>Оцінка матеріалів і технологій</span>
          <span class='steps__list-item__desc text_simple'>Аналізуємо використані матеріали, вибір технічних
            рішень та технологій. Визначаємо, чи є можливість оптимізувати витрати без шкоди для
            якості та функціональності проєкту.</span>
        </li>
        <li class='steps__list-item'>
          <span class='steps__list-item__title text_simple'>Підготовка детального звіту та
            рекомендацій</span>
          <span class='steps__list-item__desc text_simple'>Формується докладний аудит-звіт, у якому зазначено
            виявлені помилки, ризики, а також надаються практичні поради щодо їх усунення. Також
            включається оцінка можливих покращень у проєкті.</span>
        </li>
      </ul>
    </div>
  </div>
</section>