<section class='projectAuditRequest'>
  <div class='container'>
    <div class='projectAuditRequest__content'>
      <h2 class='sectionTitle'>Готові отримати детальний аналіз вашого проєкту?</h2>
      <div class='projectAuditRequest__info'>
        <p class='projectAuditRequest__desc redactor_wp text_simple'>
          Заповніть форму, і наші експерти проведуть аудит проєкту з урахуванням технічних і
          нормативних вимог, щоб зменшити ризики та гарантувати якість будівництва. Зробіть перший
          крок до успіху вже сьогодні!
        </p>
        <button
          class='main__group-btn btn-for-popup'
          type='button'
          data-popup="popup-projectAudit"
        >
          <span>Запросити проєктний аудит</span>
          <img loading='lazy' src='/images/btn_icon_arrow.svg' alt='btn-arrow' />
        </button>
      </div>
    </div>
  </div>
</section>