.geografic {
    padding: 63px 0 0;
    &__content {
        padding: 41px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include max-md {
            flex-direction: column;
            row-gap: 69px;
        }
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 35px;
        column-gap: 35px;
        @include max-lg {
            row-gap: 25px;
        }
        @include max-md {
            padding-left: 15px;
            column-gap: 25px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #c17465;
        @include max-xl {
            width: 40px;
            height: 40px;
        }
        @include max-lg {
            width: 35px;
            height: 35px;
        }
        @include max-md {
            width: 30px;
            height: 30px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        margin-top: 20px;
        color: #000000;
        @include max-lg {
            font-size: 18px;
            margin-top: 10px;
        }
        @include max-md {
            font-size: 14px;
            line-height: 21px;
        }
    }
    &__map {
        max-width: 659px;
    }
}
