.geografic {
    & .container {
        padding: 0;
    }
    &__content {
        display: flex;
        @include max-lg {
            flex-direction: column-reverse;
        }
    }
    &__banners {
        padding: 77px 29px 70px 81px;
        width: 50%;
        padding-right: 81px;
        border-radius: 40px 0px 0px 40px;
        background: #f5f3fe;
        @include max-xl {
            padding: 30px;
        }
        @include max-lg {
            width: 100%;
            border-radius: 0 0px 40px 40px;
            padding: 30px;
        }
        @include max-md {
            padding: 20px;
        }
    }
    &__banner {
        border-radius: 20px;
        position: relative;
        padding: 30px 0 36px 38px;
        min-height: 270px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: right bottom !important;
        @include max-xxl {
            max-width: 575px;
        }

        @include max-lg {
            max-width: initial;
        }
        @include max-md {
            padding: 22px 25px 50px 25px;
        }
    }
    &__banner:nth-child(1) {
        background: #5a37e9;
        background-image: url(../images/man2.png);
    }
    &__banner:nth-child(1) .discover {
        background: #f5f3fe;
        color: #1f1f1f;
    }
    &__banner:nth-child(2) {
        background-color: #fff;
        margin-top: 30px;
        background-image: url(../images/woman.png);
    }
    &__banner:nth-child(2) {
        background-color: #fff;
        & .geografic__banner_title {
            color: #1f1f1f;
        }
        & .geografic__banner_description {
            color: #828282;
        }
    }
    &__banner:nth-child(2) img {
        max-width: 175px;
    }
    &__banner_title {
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        color: #ffffff;
        max-width: 404px;
        @include max-xxl {
            padding-right: 100px;
        }
        @include max-lg {
            max-width: initial;
            padding-right: 150px;
        }
        @include max-sm {
            padding-right: calc(100% - 250px);
        }
        & span {
            color: #5a37e9;
        }
    }
    &__banner_description {
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        color: #ffffff;
        margin-top: 8px;
        max-width: 352px;
        @include max-xxl {
            padding-right: 100px;
        }
        @include max-lg {
            max-width: initial;
            padding-right: 150px;
        }
        @include max-sm {
            padding-right: 100px;
        }
    }
    & .discover {
        margin-top: 26px;
        @include max-sm {
            padding: 10px 28px;
            font-size: 12px;
        }
    }
    &__map {
        padding: 77px 29px 70px 81px;
        width: 50%;
        padding-left: 29px;
        background: linear-gradient(92.1deg, #87b0f3 -15.8%, #8bd5fb 110.62%);
        text-align: center;
        border-radius: 0 40px 40px 0;
        @include max-xl {
            padding: 30px;
        }
        @include max-lg {
            width: 100%;
            border-radius: 40px 40px 0 0;
            padding: 57px 29px 50px 61px;
        }
        @include max-sm {
            padding: 26px 24px 29px 22px;
        }
    }
    &__map_title {
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
        color: #ffffff;
        text-align: center;
        @include max-lg {
            text-align: left;
        }
        @include max-md {
            font-size: 30px;
            line-height: 40px;
        }
        @include max-sm {
            font-size: 26px;
            line-height: 36px;
        }
    }
    &__map_description {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #ffffff;
        margin-top: 17px;
        text-align: center;
        @include max-lg {
            text-align: left;
        }
    }
    &__map_img {
        margin: 60px auto 0;
        max-width: 645px;
        position: relative;
        @include max-md {
            margin: 28px auto 0;
        }
    }
    &__map_point {
        position: absolute;
        width: calc(60px + (80 - 60) * ((100vw - 375px) / (1920 - 375)));
        background-image: url(../images/map_point_blue.png);
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-size: contain;
        &1 {
            top: 40%;
            left: 20%;
            @include max-lg {
                top: 40%;
                left: 10%;
            }
        }
        &3 {
            left: 45%;
            top: 40%;
            @include max-lg {
                top: 20%;
                left: 65%;
            }
        }
        &2 {
            bottom: 10%;
            left: 40%;
            @include max-lg {
                bottom: 0;
            }
        }
    }
    &__map_point_info {
        position: relative;
        min-width: 213px;
        max-width: 213px;
        margin-left: -67px;
        z-index: 30;
        display: none;
        @include max-xxl {
            margin-left: -71px;
        }
        @include max-lg {
            margin-left: -73px;
        }
        @include max-md {
            margin-left: -40px;
            display: block;
            min-width: 142px;
            max-width: 142px;
        }
    }
    &__map_point_info img {
        display: none;
    }
    &__map_point3 .geografic__map_point_info {
        display: block;
    }
    &__map_point_info::after {
        content: "";
        background-image: url(../images/triangle.png);
        background-size: contain;
        width: 27px;
        height: 14px;
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__map_point_info span {
        position: absolute;
        top: -65px;
        display: block;
        background-color: #fff;
        padding: 8px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #1f1f1f;
        @include max-md {
            font-size: 10px;
            line-height: 13px;
            top: -70px;
            padding: 8px 5px;
        }
    }
}
.map__point_active {
    background-image: url(../images/map_point_green.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    background-size: contain;
}
@media (max-width: 450px) {
    .geografic__banner {
        background-size: 80% !important;
    }
    .geografic__banner:nth-child(2) {
        background-size: 55% !important;
    }
}
