.contacts {
    padding: 90px 0 0;
    @include max-md {
        padding: 7px 0 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @include max-md {
            flex-direction: column;
        }
    }
    &__text {
        padding: 59px 44px;
        background: #f5f3fe;
        border-radius: 20px 0 0 20px;
        width: 100%;
        max-width: 520px;
        @include max-lg {
            padding: 30px;
        }
        @include max-md {
            padding: 17px 20px 28px;
            border-radius: 20px 20px 0 0;
            max-width: initial;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #1f1f1f;
        @include max-md {
            font-size: 22px;
            line-height: 32px;
        }
    }
    &__info {
        margin-top: 30px;
        @include max-md {
            margin-top: 14px;
        }
    }
    &__group {
    }
    &__group:not(:first-child) {
        margin-top: 28px;
        @include max-md {
            margin-top: 18px;
        }
    }
    &__group_title {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #1f1f1f;
        @include max-md {
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__group_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #5a37e9;
        margin-top: 6px;
        @include max-md {
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__group_title-thin {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #5a37e9;
        @include max-md {
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__group_text-big {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #1f1f1f;
        @include max-md {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__map {
        width: 100%;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
        @include max-xl {
            max-width: 450px;
        }
        @include max-lg {
            max-width: 330px;
        }
        @include max-md {
            max-width: 100%;
            border-radius: 0 0 20px 20px;
            height: 340px;
        }
        // & img {
        //     height: 100%;
        //     object-fit: cover;
        // }
        & div {
            height: 100%;
            width: 100%;
            //object-fit: cover;
        }
    }
}
