.category {
    padding: 14px 0 0;
    &__content {
        display: flex;
        justify-content: space-between;
        @include max-md {
            flex-direction: column-reverse;
        }
    }
    &__info {
        @include max-md {
            margin-top: 30px;
        }
    }
    & .blockTitle {
    }
    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1f1f1f;
        margin-top: 20px;
        max-width: 630px;
        @include xxxl {
            max-width: initial;
            padding-right: 30px;
        }
        @include max-xlmidle {
            padding-right: 20px;
        }
        @include max-md {
            font-size: 14px;
            line-height: 26px;
            margin-top: 7px;
        }
    }
    & .discover {
        margin-top: 48px;
        @include max-md {
            margin-top: 20px;
        }
    }
    &__banner {
        max-width: 550px;
        min-height: 312px;
        width: 100%;
        position: relative;
        background-color: #f5f3fe;
        overflow: hidden;
        border-radius: 20px;
        @include max-xlmidle {
            max-width: 400px;
        }
        @include max-lg {
            max-width: 300px;
        }
        @include max-md {
            min-height: 200px;
            max-width: 100%;
            border-radius: 10px;
        }
        & img {
            position: absolute;
            right: -30px;
            bottom: -70px;
            @include max-lg {
                right: -10px;
                bottom: -10px;
            }
            @include max-md {
                right: 0;
                bottom: 0;
                left: 0;
                top: 0;
                margin: auto;
                max-width: 300px;
            }
        }
    }
    &__count {
        background: #00d1bc;
        border-radius: 20px;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: #ffffff;
        padding: 12px 23px;
        width: fit-content;
        position: absolute;
        top: 27px;
        right: 27px;
        z-index: 20;
        @include max-md {
            font-size: 10px;
            border-radius: 4px;
            padding: 8px;
            top: 17px;
            right: 16px;
        }
    }
     & .categoryWall {
        & .container {
            @include max-sm {
                padding-right: 0;
            }
        }
        padding: 0;
        @include max-md {
            padding: 0;
        }
        &__blockTitle {
            display: none;
        }
        &__blocks {
            margin-top: 30px;
            display: flex;
            flex-wrap: nowrap;
            overflow: scroll;
            column-gap: 20px;
            @include max-xxl {
                column-gap: 26px;
            }
            @include max-md {
                margin-top: 11px;
                column-gap: 15px;
            }
            @include max-sm {
                column-gap: 5px;
                margin-top: 30px;
            }
        }
    
        &-block {
            min-height: 134px;
            min-width: 275px;
            @include max-xxl {
                min-width: 300px;
            }
            @include max-sm {
                min-width: 194px;
                margin-top: 0;
                min-height: 113px;
                border-radius: 10px;
            }
        }
        &-block__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-block__burger {
            width: 17px;
            height: 13px;
        }
        &-block__count {
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 8px;
            column-gap: 5px;
            background: #00d1bc;
            @include max-sm {
                border-radius: 4px;
                padding: 6px 8px;
            }
            @include max-iph {
                padding: 5px;
            }
            & span {
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                color: #fff;
                @include max-lg {
                    font-size: 11px;
                }
                @include max-sm {
                    font-size: 10px;
                }
                @include max-iph {
                    font-size: 9px;
                }
            }
        }
        &-block__title {
            margin-top: 27px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #1f1f1f;
            @include max-md {
                font-size: 14px;
                line-height: 18px;
            }
            @include max-sm {
                margin-top: 14px;
            }
        }
        &-block__img {
            max-width: 180px;
            position: absolute;
            bottom: 0;
            right: 0;
            display: none;
        }
    }
    
}
