.stage {
    &__content {
        margin: 100px 0;
        @include max-sm {
            margin: 45px 0;
        }
    }
    & .moduleTitle {
    }
    &__blocks {
        display: flex;
        justify-content: space-between;
        margin-top: 42px;
        column-gap: 20px;
        @include max-lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
        }
        @include max-sm {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 10px;
            margin-top: 26px;
        }
    }
    &__block {
        padding: 30px;
        border: 2px solid #5a37e9;
        border-radius: 20px;
        width: 100%;
        @include max-sm {
            padding: 26px;
            position: relative;
        }
    }
    &__block:nth-child(1) .stage__block-img {
        background-image: url(../images/stage_phone.png);
    }
    &__block:nth-child(2) .stage__block-img {
        background-image: url(../images/operator.png);
    }
    &__block:nth-child(3) .stage__block-img {
        background-image: url(../images/stage_delivery.png);
    }
    &__block:nth-child(4) .stage__block-img {
        background-image: url(../images/stage_bag.png);
    }
    &__block-img {
        width: auto;
        height: 70px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__block-count {
        margin-top: 35px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #5a37e9;
        @include max-sm {
            font-size: 18px;
            line-height: 21px;
            position: absolute;
            top: -16px;
            right: 18px;
        }
    }
    &__block-title {
        margin-top: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #1f1f1f;
        @include max-sm {
            font-size: 15px;
            margin-top: 20px;
        }
    }
    &__block-description {
        margin-top: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #1f1f1f;
        @include max-sm {
            font-size: 14px;
        }
        
    }
}
