.aboutUs {
    position: relative;
  &__component {
    position: absolute;
    width: 100%;
    height: initial;
    z-index: -1;
    &_1 {
        top: -30px;
        left: 0;
        max-width: 250px;
        @keyframes floatRotate_aboutus_1 {
          0% {
            transform: translateY(0) rotate(0) scale(1);
          }

          50% {
            transform: translateY(-10px) rotate(-15deg) scale(0.8);
          }

          100% {
            transform: translateY(0) rotate(0) scale(1);
          }
        }
        animation: floatRotate_aboutus_1 8s 1s ease-in-out infinite;
        @include max-xxxl {
          max-width: 150px;
          top: 30px;
        }
        @include max-lg {
          max-width: 100px;
          top: 40%;
          left: -20px;
        }
        @include max-md {
          top: 50%;
        }
        @include max-sm {
          top: 65%;
        }
    }
    &_2 {
        top: -110px;
        right: 20%;
        max-width: 220px;
        @keyframes floatRotate_aboutus_2 {
          0% {
            transform: translateY(0) rotate(0) scale(1);
          }

          50% {
            transform: translateY(-20px) rotate(15deg) scale(0.8);
          }

          100% {
            transform: translateY(0) rotate(0) scale(1);
          }
        }
        animation: floatRotate_aboutus_2 8s ease-in-out infinite;
         @include max-xxxl {
          max-width: 150px;
          top: 0;
          right: 10%;
         }
         @include max-lg {
          max-width: 120px;
          top: -20px;
          right: 10%;
         }
    }
    &_3 {
        max-width: 80px;
        bottom: 60px;
        left: 120px;
        z-index: 1;
         @keyframes floatRotate_aboutus_3 {
          0% {
            transform: translateY(0) rotate(0) scale(1);
          }

          50% {
            transform: translateY(-10px) rotate(15deg) scale(0.8);
          }

          100% {
            transform: translateY(0) rotate(0) scale(1);
          }
        }
        animation: floatRotate_aboutus_3 8s ease-in-out infinite;
        @include max-xxxl {
          bottom: 100px;
          left: 5%;
         }
        @include max-lg {
          bottom: 50px;
          left: 5%;
         }
    }
    &_4 {
        max-width: 80px;
        bottom: 20px;
        left: 80px;
        z-index: 1;
        transform: rotateY(180deg);
        @keyframes floatRotate_aboutus_4 {
          0% {
            transform: translateY(0) rotateY(180deg) rotate(0) scale(1);
          }

          50% {
            transform: translateY(-30px) rotateY(180deg) rotate(-10deg) scale(0.9);
          }

          100% {
            transform: translateY(0) rotateY(180deg) rotate(0) scale(1);
          }
        }
        animation: floatRotate_aboutus_4 8s ease-in-out 1s infinite;
        @include max-xxxl {
          bottom: 50px;
          left: 0%;
         }
        @include max-lg {
          bottom: 0;
          left: -20px;
         }
    }
  }
  &__content {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    display: flex;
    gap: 40px;
    @include max-lg {
      flex-direction: column-reverse;
    }
    & > * {
      width: 50%;
      @include max-lg {
        width: 100%;
      }
    }
    & > img {
      border-radius: 30px;
      object-fit: cover;
      max-height: 600px;
      @include max-lg {
        max-height: 500px;
      }
      @include max-sm {
        max-height: 320px;
      }
    }
  }
  &__info {
    & h2 {
      margin-bottom: 24px;
      @include max-lg {
        margin-bottom: 12px;
      }
    }
    & .button {
      margin-top: 40px;
      display: flex;
      width: max-content;
      @include max-lg {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
}
