<!DOCTYPE html>
<html lang="ua">
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/active.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preload" href="/css/owlcarousel/owl.carousel.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">



    <link rel="stylesheet" href="css/slick/slick.css">
    

    <!-- Кастомные стили -->
    <link rel="stylesheet" href="/css/app.min.css" media="print" onload="this.media='all'">

</head>
<body class="policy--page">
    <div class="content">
        {{> blocks/header}}
        {{> blocks/breadcrumbs}}
        {{> blocks/policy}}
        
        
    </div>
    {{> blocks/footer}}
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


    <!-- Остальные локальные библиотеки --> 
    <script src="js/owlcarousel/owl.carousel.min.js" defer></script>

    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_uk.min.js"></script>
    
    <script src="js/slick/slick.min.js"></script>
    {{!-- <script src="js/jquery.maskedinput.js"></script> --}}

    <!-- Кастомный JS -->
     {{#if @root.isProd}}
    <script src="/js/app.min.js" defer></script>
    {{/if}}


    
</body>
</html>
