<!DOCTYPE html>
<html lang="en">
<head>
    <title>new project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/active.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preload" href="/css/owlcarousel/owl.carousel.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>


    <!--<link rel="stylesheet" href="css/slick/slick.css">-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- Кастомные стили -->
    <link rel="stylesheet" href="/css/app.min.css" media="print" onload="this.media='all'">

</head>
<body>
    {{> blocks / header}}
    {{> blocks / hero}}
    {{> blocks / pageInfoProducts}}
    
    {{> blocks / footer}}
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="/js/jquery.min.js"><\/script>');
      }
    </script>


    <!-- Остальные локальные библиотеки --> 
    <script src="js/owlcarousel/owl.carousel.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

    <!--<script src="js/slick/slick.min.js"></script>-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    {{!-- <script src="js/jquery.maskedinput.js"></script> --}}

    <!-- Кастомный JS -->
    <script src="/js/app.min.js" defer></script>
</body>
</html>
