html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	font-family: "Raleway", sans-serif;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: #C17465;
	}
}
button {
	border: none;
	padding: 0;
	background: none;
}
.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.container {
	max-width: 1440px;
	margin: auto;
	padding: 0 133px 0 135px;
	@include max-xl {
		padding: 0 35px;
	}
	@include max-md {
		padding: 0 15px;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
	// align-items: center;
}
.owl-nav {
	display: none;
}
.owl-dots {
	display: none;
}
.slick-arrow {
	display: none !important;
}
.slick-dots {
	display: none !important;
}
.custom-button {
	background: #c17465;
	border-radius: 5px;
	color: #fff;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
.catalog__active {
	margin-top: 11px !important;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
.sectionTitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #555555;
	@include max-md {
		font-size: 24px;
		line-height: 28px;
	}
}
.btn__next {
	width: 13px;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}
