ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

ol > li:before {
    content: counters(item, ".") ". ";
    //display: table-cell;
    display: inline-block;
    padding-right: 0.6em;
    font-weight: 700;
}

li ol > li {
    margin: 0;
}

li ol > li:before {
    content: counters(item, ".") ". ";
}

.privacyPolicy {
    padding: 67px 185px 100px;
    @include max-xl {
        padding: 45px 130px;
    }
    @include max-lg {
        padding: 30px 80px;
    }
    @include max-md {
        padding: 13px 20px 43px;
    }
    &__list {
    }
    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        color: #1f1f1f;
        @include max-md {
            font-size: 16px;
            line-height: 24px;
        }
        @include max-ip {
            font-size: 14px;
            line-height: 22px;
        }
        & li {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            @include max-md {
                font-size: 14px;
                line-height: 20px;
            }
            @include max-ip {
                font-size: 12px;
                line-height: 18px;
            }
        }
        & > ol {
            margin-top: 20px;
            @include max-md {
                margin-top: 14px;
            }
        }
    }
    &__title:first-child {
        margin-top: 30px;
        @include max-md {
            margin-top: 14px;
        }
    }
    &__title:not(:first-child) {
        margin-top: 40px;
        @include max-md {
            margin-top: 20px;
        }
    }
    &__example {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 30px 0;
        @include max-md {
            margin: 20px 0;
        }
        & span {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
        }
    }
}
.policy__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #1f1f1f;
    text-align: center;

    @include max-lg {
        font-size: 28px;
    }
    @include max-md {
        font-size: 22px;
        line-height: 32px;
        text-align: left;
    }
    @include max-ip {
        font-size: 20px;
        line-height: 30px;
    }
}
