.about {
    padding: 30px 0 0;
    @include max-md {
        padding: 22px 0 0;
    }
    & .sectionTitle {
    }
    & .productTabs__wrapper {
        margin-top: 27px;
        @include max-md {
            margin-top: 16px;
        }
    }
}
.productTabs__text-list {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-top: 9px;
}
.productTabs__text-item::before {
    content: "";
    background-image: url(../images/check2.png);
    width: 30px;
    height: 16px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 9px;

}
.productTabs__text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    display: flex;
    align-items: baseline;
}
