.productDuplicates {
    & .productInfo__group-action {
        margin: 8px 0 0;
    }
    & .productInfo__group:last-child {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    & .productInfo__group_abs {
        margin-right: 0;
    }
    & .productInfo__test_item {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 30px;
        border-radius: 39px;
        font-size: 12px;
        line-height: 16px;
        padding: 8px 29px;
        max-width: 140px;
    }
    & .productInfo__group_icon {
        margin-left: 20px;
    }
    & .productInfo__button:last-child {
        margin-left: 10px;
    }
    & .productInfo__right {
        width: 100%;
    }
    & .productInfo__test_bottom {
        margin-top: 44px;
        padding: 23px 40px;
        @include max-md {
            padding: 13px 15px;
        }
    }
    & .characteristics__title {
        @include max-lg {
            font-size: 21px;
            padding: 15px;
        }
        @include max-md {
            font-size: 21px;
            padding: 15px 0;
        }
    }
    & .productInfo__test_text-group {
        display: flex;
    }
    & .productInfo__test_text_wrap {
        margin-left: 32px;
        @include max-lg {
            margin-left: 15px;
        }
        @include max-md {
            margin-left: 10px;
        }
    }
    & .productInfo__test_text {
        font-size: 18px;
        line-height: 27px;
        @include max-lg {
            font-size: 15px;
            line-height: 150%;
        }
        @include max-md {
            font-size: 12px;
            line-height: 150%;
        }
    }
    & .productInfo__test_date {
        font-size: 18px;
        line-height: 27px;
        @include max-md {
            font-size: 12px;
            line-height: 150%;
        }
    }
    & .productInfo__test_link {
        @include max-md {
            font-size: 13px;
            line-height: 16px;
        }
    }
    & .characteristics__content {
        margin-top: 40px;
    }
    & .characteristics__item {
        padding-left: 20px;
    }
    & .files {
        margin: 40px 0 0;
        @include max-md {
            display: none;
            margin-top: 24px;
        }
    }
    & .files_mobile {
        @include max-md {
            display: block;
        }
    }
    & .productInfo__test_item {
        @include max-md {
            display: none;
        }
    }
    & .productInfo__group_icon {
        @include max-md {
            display: none;
        }
    }
    & .productInfo__img {
        @include max-xl {
            max-width: 260px;
        }
    }
    & .productInfo .product-card__rent {
        @include max-md {
            padding: 11px 19px;
            font-size: 12px;
        }
    }
    & .productInfo .productInfo__title {
        @include max-md {
            max-width: initial;
        }
    }
    & .productInfo .owl-dots {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
    }
    & .characteristics__item {
        padding-left: 0;
    }
}
@media (max-width: 1380px) {
    .productDuplicates .productInfo__title {
        max-width: 335px;
    }
    .productDuplicates .productInfo__group_mobile {
        display: block;
    }
    .productDuplicates .duplicates__productInfo__group {
        display: none;
    }
    .productDuplicates .productInfo__content {
        column-gap: 50px;
    }
    .productDuplicates .characteristics__item-title {
        max-width: 250px;
        min-width: 250px;
    }
}
@media (max-width: 940px) {
    .productDuplicates .productInfo__content {
        column-gap: 20px;
    }
    .productDuplicates .productInfo__title {
        max-width: 265px;
    }
    .productDuplicates .characteristics__item-title {
        max-width: 180px;
        min-width: 180px;
        font-size: 16px;
    }
    .productDuplicates .productInfo__test_item {
        max-width: 115px;
    }
    .productDuplicates .productInfo__group:last-child {
        margin-top: 50px;
    }
    .productDuplicates .productInfo__test_item {
        max-width: 115px;
    }
    .productDuplicates .productInfo__group-action {
        font-size: 10px;
    }
    .productDuplicates .productInfo__title {
        font-size: 23px;
    }
    .productDuplicates .productInfo__group_icon {
        margin-left: 12px;
    }
    .productDuplicates .characteristics__item-text {
        font-size: 16px;
    }
    // .productDuplicates .files__mobile {
    //     font-size: 16px;
    // }
}
