.serviceProducts {
    padding: 100px 0 0;
    @include max-lg {
        padding: 60px 0 0;
    }
    @include max-md {
        padding: 33px 0 0;
    }
    &__content {
    }
    & .service__title {
    }
    & .ourProducts__cards {
        margin-top: 40px;
    }
    & .product-card {
        border: 1px solid #F5F3FE;
    }
    & .product-card__favorite {
        background-image: url(../images/favorite_border.png);
        &_active {
            background-image: url(../images/favorite_green.png);
        }
    }
}
