.serviceCategory {
    padding: 44px 0 0;
    @include max-md {
        padding: 20px 0 0;
    }

    &__content {
        display: flex;
    }
    &__list {
        background: #f5f3fe;
        max-width: 300px;
        width: 100%;
        padding: 40px 35px;
        @include max-lg {
            max-width: 240px;
        }
        @include max-md {
            display: none;
        }
    }
    &__item {
        padding: 10px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #4f4f4f;
        cursor: pointer;
    }
    &__item:not(:last-child) {
        padding-bottom: 10px;
    }
    &__item:not(:first-child) {
        padding-top: 10px;
        border-top: 1px solid #e1e1e1;
    }
    &__item_active {
        font-weight: 700;
        font-size: 18px;
        color: #1f1f1f;
        font-family: "Roboto", sans-serif;
    }
    &__result {
        margin-left: 31px;
        display: none;
        @include max-md {
            margin-left: 0;
        }
        &_active {
            display: block;
        }
    }
    &__title {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 150%;
        color: #1f1f1f;
        @include max-md {
            font-size: 22px;
            line-height: 32px;
        }
    }
    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #4f4f4f;
        max-width: 1200px;
        margin-top: 40px;
        @include max-xxxl {
            margin-top: 20px;
            max-width: 759px;
        }
        @include max-md {
            font-size: 14px;
            line-height: 24px;
            margin-top: 8px;
        }
    }
    & .discover {
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: #ffffff;
        padding: 15px 46px;
        margin-top: 75px;
        @include max-lg {
            margin-top: 50px;
        }
        @include max-md {
            font-size: 12px;
            line-height: 30px;
            margin-top: 30px;
            padding: 10px 35px;
        }
    }
}
