.serviceForms {
    padding: 100px 0 0;
    @include max-md {
        padding: 21px 0 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        @include max-xl {
            column-gap: 20px;
        }
        @include max-md {
            flex-direction: column;
        }
    }
    
    & .consulting__content {
        padding: 36px 109px;
        max-width: 65%;
        width: 100%;
        @include max-xl {
            padding: 25px 20px;
        }
        @include max-md {
            max-width: initial;
            padding: 30px 25px;
        }
    }
    & .blockTitle {
        font-size: 24px;
        line-height: 150%;
        @include max-lg {
            font-size: 22px;
        }
        @include max-md {
            font-size: 26px;
            line-height: 36px;
        }
    }
    & .consulting__description {
        max-width: 628px;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #1f1f1f;
        @include max-md {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #5a37e9;
            margin-top: 4px;
        }
    }
    & .consulting__form {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 18px;
        column-gap: 30px;
        @include max-md {
            grid-template-columns: 1fr;
            margin-top: 12px;
            row-gap: 17px;
        }
    }
    & .consulting__input_label {
        @include max-md {
            max-width: initial;
        }
    }
    & .consulting__input_name {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #1f1f1f;
    }
    & .consulting__input {
        margin: 12px 0 0 0;
        max-width: 300px;
        width: 100%;
        @include max-md {
            max-width: initial;
            margin-top: 9px;
            padding: 13px 25px;
            font-size: 14px;
        }
    }
    & .consulting__button {
        max-width: 300px;
        padding: 15px 0;
        @include max-md {
            max-width: initial;
            margin-top: 0;
            padding: 12px 0;
        }
    }
    &__agree {
        display: none;
        @include max-md {
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #9f9f9f;
        }
    }
}
