.servicePlus {
    padding: 100px 0 0;
    @include max-lg {
        padding: 50px 0 0;
    }
    &__content {
    }
    & .service__title {
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 38px;
        flex-wrap: wrap;
        row-gap: 32px;
        @include max-lg {
            margin-top: 20px;
            row-gap: 20px;
        }
        @include max-sm {
            margin-top: 20px;
            row-gap: 10px;
        }
        @include max-md {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    &__item {
        background: #f5f3fe;
        border-radius: 10px;
        padding: 24px 30px;
        position: relative;
        @include max-md {
            padding: 21px 17px;
        }
    }
    &__item:nth-child(1) {
        flex: 0 25%;
    }
    &__item:nth-child(2) {
        flex: 0 40%;
    }
    &__item:nth-child(3) {
        flex: 0 30%;
    }
    &__item:nth-child(4) {
        flex: 0 40%;
    }
    &__item:nth-child(5) {
        flex: 0 30%;
    }
    &__item:nth-child(6) {
        flex: 0 25%;
    }
    &__img {
        max-width: 69px;
        height: 70px;
        display: block;
        object-fit: cover;
        @include max-md {
            max-width: 40px;
            height: 40px;
            object-fit: contain;
        }
    }
    &__item-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 155%;
        color: #5a37e9;
        margin-top: 27px;
        display: block;
        @include max-md {
            font-size: 16px;
            line-height: 18px;
            margin-top: 19px;
        }
    }
    &__item-count {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #00d1bc;
        position: absolute;
        top: 18px;
        right: 27px;
        @include max-md {
            font-size: 14px;
            line-height: 14px;
            right: 17px;
        }
    }
}
