.automatization {
    padding: 76px 0 73px 0;
    background: #f5f3fe;
    border-radius: 40px;
    margin-top: 100px;
    @include max-xlmidle {
        padding: 46px 0 43px 0;
        margin-top: 50px;
    }
    @include max-md {
        padding: 24px 0 38px 0;
        margin-top: 20px;
    }
    &__content {
        position: relative;
    }
    &__img {
        max-width: 450px;
        position: absolute;
        right: 0;
        top: 0;
        @include max-xxxl {
            max-width: 550px;
        }
        @include max-xxl {
            max-width: 620px;
        }
        @include max-xlmidle {
            max-width: 520px;
        }
        @include max-xl {
            position: initial;
            margin-top: 30px;
        }
        & img {
            border-radius: 20px;
        }
    }
    &__text {
        max-width: 935px;
        @include max-xxxl {
            max-width: 650px;
        }
        @include max-xxl {
            max-width: 535px;
        }
        @include max-xlmidle {
            max-width: 500px;
        }
        @include max-xl {
            max-width: 100%;
        }
        & p {
            margin-top: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            color: #4f4f4f;
            @include max-xlmidle {
                font-size: 13px;
                line-height: 25px;
            }
            @include max-md {
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
    & .discover {
        margin-top: 42px;
        @include max-xlmidle {
            margin-top: 20px;
        }
    }
}
