.oblastResult {
  background-color: #552914;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 4px 28.8px 0px #90909040;
  width: 100%;
//   max-width: 480px;
  max-width: 33%;
  position: absolute;
  left: 0;
  top: 70%;
  @include max-lg {
    border-radius: 16px;
    padding: 14px;
    position: relative;
    max-width: 100%;
    margin-top: 20px;
  }
  &__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #f8e1ad;
    @include max-lg {
        font-size: 16px;
        line-height: 16px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @include max-lg {
        gap: 6px;
      }
    &-item {
      border-radius: 12px;
      background-color: #f8e1ad33;
    }
    &-link {
      padding: 9px 14px;
      display: flex;
      align-items: center;
      gap: 10px;
      @include max-lg {
        padding: 12px 8px;
        gap: 8px;
      }
    }
  }

  &__logo {
  }
  &__company {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #f8e1ad;
    @include max-lg {
        font-size: 14px;
        line-height: 18px;
      }
  }
}
