.deliveryTabs {
    &__content {
        margin-top: 73px;
        @include max-xl {
            margin-top: 40px;
        }
        @include max-md {
            margin-top: 19px;
        }
    }
    &__top {
        border-bottom: 1px solid #e1e1e1;
        column-gap: 60px;
        display: flex;
        justify-content: center;
        @include max-md {
            flex-direction: column;
            row-gap: 8px;
        }
    }
    &__top-text {
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        color: #bdbdbd;
        padding-bottom: 16px;
        @include max-xl {
            font-size: 15px;
        }
        @include max-md {
            font-weight: 600;
            font-size: 12px;
            line-height: 24px;
            padding: 8px;
            text-align: center;
            background: #f2f2f2;
            border-radius: 10px;
        }
        @include max-ip {
            font-size: 11px;
        }
    }
    &__top-text:focus {
        border-bottom: 3px solid #5a37e9;
        color: #5a37e9;
        @include max-md {
            border-bottom: none;
            background-color: #5a37e9;
            color: #fff;
        }
    }
    &__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 51px;
        @include max-md {
            margin-top: 18px;
            grid-template-columns: 1fr;
            gap: 8px;
        }
    }
    &__block {
        background: #f5f3fe;
        border-radius: 20px;
        padding: 34px 41px;
        display: flex;
        @include max-xl {
            padding: 20px;
            flex-direction: column;
            align-items: center;
        }
        &-group {
            display: flex;
            @include max-xl {
                justify-content: center;
                align-items: center;
            }
            @include max-md {
                justify-content: flex-start;
            }
        }
    }
    &__block-img {
        max-width: 49px;
        @include max-md {
            display: none;
        }
        &_mobile {
            display: none;
            @include max-md {
                display: block;
                max-width: 44px;
            }
        }
    }
    &__block-text {
        margin-left: 28px;
        @include max-xl {
            margin-top: 10px;
            margin-left: 0;
        }
        @include max-md {
            margin-left: 0;
        }
    }
    &__block-title {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1f1f1f;
        @include max-xl {
            text-align: center;
        }
        @include max-md {
            font-size: 16px;
            line-height: 20px;
            margin-left: 27px;
        }
    }
    &__block-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #4f4f4f;
        margin-top: 18px;
        @include max-xl {
            text-align: justify;
            text-align-last: center;
        }
        @include max-md {
            text-align: left;
            text-align-last: initial;
            font-size: 13px;
            line-height: 18px;
            margin-top: 15px;
        }
    }
}
