.question {
    background: #f5f3fe;
    border-radius: 40px;
    padding: 60px 0;
    margin-top: 50px;
    @include max-md {
        margin-top: 32px;
        padding: 20px 0;
        border-radius: 20px;
        background-image: linear-gradient(to bottom right, #eadfff, #c3eaff);
    }
    &__content {
        max-width: 850px;
        margin: 0 auto;
        @include xxxl {
            max-width: 1200px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        color: #1f1f1f;
        text-align: center;
        @include max-md {
            font-size: 26px;
            line-height: 32px;
            text-align: left;
        }
    }
    &__list {
        margin-top: 30px;
    }
    &__item {
        cursor: pointer;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #1f1f1f;
        margin-top: 16px;
        background: #fff;
        padding: 17px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include max-md {
            font-size: 13px;
            line-height: 17px;
            padding: 14px 20px;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
    &__item::after {
        content: "";
        background-image: url(../images/check2.png);
        width: 23px;
        height: 13px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        @include max-md {
            width: 13px;
            height: 8px;
        }
    }
    &__item_active {
        cursor: pointer;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #1f1f1f;
        margin-top: 16px;
        background: #fff;
        padding: 17px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        @include max-md {
            font-size: 13px;
            line-height: 17px;
            padding: 14px 20px;
            margin-top: 10px;
            border-radius: 10px 10px 0 0;
        }
    }
    &__item_active::after {
        content: "";
        background-image: url(../images/check2.png);
        width: 23px;
        height: 13px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        transform: rotate(180deg);
        @include max-md {
            width: 13px;
            height: 8px;
        }
    }
    &__answer {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #4f4f4f;
        background: #fff;
        padding: 0 20px 33px;
        margin-top: -1px;
        display: none;
        @include xxxl {
            font-size: 18px;
        }
        @include max-md {
            font-size: 13px;
            line-height: 20px;
            border-radius: 0 0 10px 10px;
            padding: 0 20px 0;
        }
        & span {
            padding: 0 30px 0;
            display: block;
            @include max-md {
                border-top: 1px dashed #87B0F3;
                
                padding: 13px 0 23px;
            }
        }
    }
}