<section class='partnershipTypes'>
  <div class='container'>
    <div class='partnershipTypes__content'>
      <h2 class='sectionTitle'>Види партнерств</h2>
      <div class='partnershipTypes__list'>
        <div class='partnershipTypes__list-item'>
          <div class='partnershipTypes__list-item_top'>
            <img src='/images/partnersType.jpg' alt='partnersType' />
            <div class='partnershipTypes__list-item__title text_simple'><b>З проєктними компаніями</b></div>
            <div class='partnershipTypes__list-item__desc text_simple'>Тісна співпраця з проєктними
              організаціями дозволяє створювати високоякісну та узгоджену проєктну документацію, яка
              відповідає сучасним нормам і враховує всі технічні особливості будівництва.</div>
          </div>
          <div class='partnershipTypes__list-item_bottom'>
            <button
              class='main__group-btn btn-for-popup'
              data-popup='popup-partners'
              data-group='projecting-group'
              type='button'
               data-video="/images/footer_video.mp4"
            >
              <span>Запропонувати співпрацю</span>
              <img loading='lazy' src='/images/btn_icon_arrow.svg' alt='btn-arrow' />
            </button>
          </div>
        </div>
        <div class='partnershipTypes__list-item'>
          <div class='partnershipTypes__list-item_top'>
            <img src='/images/partnersType.jpg' alt='partnersType' />
            <div class='partnershipTypes__list-item__title text_simple'><b>З геологами</b></div>
            <div class='partnershipTypes__list-item__desc text_simple'>Партнерство з фахівцями у
              сфері геології та геодезії забезпечує точні дослідження ґрунтів і контроль за
              геодезичними параметрами, що є основою для безпечного та ефективного будівництва.
            </div>
          </div>
          <div class='partnershipTypes__list-item_bottom'>
            <button class='main__group-btn btn-for-popup' data-popup='popup-partners' data-group='geology-group' type='button' data-video="/images/logistics.mp4">
              <span>Запропонувати співпрацю</span>
              <img loading='lazy' src='/images/btn_icon_arrow.svg' alt='btn-arrow' />
            </button>
          </div>
        </div>
        <div class='partnershipTypes__list-item'>
          <div class='partnershipTypes__list-item_top'>
            <img src='/images/partnersType.jpg' alt='partnersType' />
            <div class='partnershipTypes__list-item__title text_simple'><b>З будівельними компаніями</b></div>
            <div class='partnershipTypes__list-item__desc text_simple'>Спільна робота з будівельними
              підрядниками гарантує своєчасне і якісне виконання монтажних робіт, дотримання
              технологічних процесів та оптимальне використання ресурсів.
            </div>
          </div>
          <div class='partnershipTypes__list-item_bottom'>
            <button class='main__group-btn btn-for-popup' data-popup='popup-partners' data-group='development-group' type='button' data-video="/images/footer_video.mp4">
              <span>Запропонувати співпрацю</span>
              <img loading='lazy' src='/images/btn_icon_arrow.svg' alt='btn-arrow' />
            </button>
          </div>
        </div>
        <div class='partnershipTypes__list-item'>
          <div class='partnershipTypes__list-item_top'>
            <img src='/images/partnersType.jpg' alt='partnersType' />
            <div class='partnershipTypes__list-item__title text_simple'><b>З постачальниками
                матеріалів та сировини</b></div>
            <div class='partnershipTypes__list-item__desc text_simple'>Надійні постачальники
              матеріалів забезпечують стабільну якість і своєчасність поставок, що дозволяє уникати
              простоїв і підтримувати високі стандарти виробництва.
            </div>
          </div>
          <div class='partnershipTypes__list-item_bottom'>
            <button class='main__group-btn btn-for-popup' data-popup='popup-partners' data-group='suppliers-group' type='button' data-video="/images/footer_video.mp4">
              <span>Запропонувати співпрацю</span>
              <img loading='lazy' src='/images/btn_icon_arrow.svg' alt='btn-arrow' />
            </button>
          </div>
        </div>
        <div class='partnershipTypes__list-item'>
          <div class='partnershipTypes__list-item_top'>
            <img src='/images/partnersType.jpg' alt='partnersType' />
            <div class='partnershipTypes__list-item__title text_simple'><b>З постачальниками обладнання</b></div>
            <div class='partnershipTypes__list-item__desc text_simple'>Співпраця з виробниками та дистриб’юторами обладнання забезпечує доступ до сучасних технологічних рішень, які підвищують ефективність і автоматизацію будівельних процесів.
            </div>
          </div>
          <div class='partnershipTypes__list-item_bottom'>
            <button class='main__group-btn btn-for-popup' data-popup='popup-partners' data-group='homeowners-group' type='button' data-video="/images/footer_video.mp4">
              <span>Запропонувати співпрацю</span>
              <img loading='lazy' src='/images/btn_icon_arrow.svg' alt='btn-arrow' />
            </button>
          </div>
        </div>
        <div class='partnershipTypes__list-item'>
          <div class='partnershipTypes__list-item_top'>
            <img src='/images/partnersType.jpg' alt='partnersType' />
            <div class='partnershipTypes__list-item__title text_simple'><b>З заводами металоконструкцій</b></div>
            <div class='partnershipTypes__list-item__desc text_simple'>Партнерство з заводами металоконструкцій гарантує виготовлення надійних і сертифікованих конструкцій, адаптованих до індивідуальних проєктних вимог і умов експлуатації.

            </div>
          </div>
          <div class='partnershipTypes__list-item_bottom'>
            <button class='main__group-btn btn-for-popup' data-popup='popup-partners' data-group='factories-group' type='button' data-video="/images/footer_video.mp4">
              <span>Запропонувати співпрацю</span>
              <img loading='lazy' src='/images/btn_icon_arrow.svg' alt='btn-arrow' />
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<h2 class='text-slogan'>Ми віримо в силу партнерства — коли кожна сторона зростає разом.</h2>