<section class='partnershipAdvantages'>
  <div class='container'>
    <div class='partnershipAdvantages__content'>
      <h2 class='sectionTitle'>Чому варто укласти патрнерство</h2>
      <p class='text_simple'>ТОВ "Каркас Груп" — провідна будівельна компанія, яка спеціалізується
        на капітальному будівництві об’єктів сільськогосподарського та промислового призначення. Ми
        постійно розширюємо виробничі потужності, впроваджуємо сучасні технології та прагнемо до
        довгострокової співпраці з надійними партнерами по всій Україні. Переваги партнерства з
        нами:</p>
      <div class='partnershipAdvantages__list'>
        <div class="partnershipAdvantages__list-item">
            <div class="partnershipAdvantages__list-item__title text_simple"><b>Власне виробництво</b></div>
            <div class="partnershipAdvantages__list-item__desc text_simple">Повний цикл виготовлення металоконструкцій та контроль якості на всіх етапах — гарантія точності, швидкості та відповідності проєктам.</div>
        </div>
        <div class="partnershipAdvantages__list-item">
            <div class="partnershipAdvantages__list-item__title text_simple"><b>Проєктування та будівництво «під ключ»</b></div>
            <div class="partnershipAdvantages__list-item__desc text_simple">Від концепції до здачі об'єкта — беремо на себе всі етапи: проєктування, узгодження, виготовлення та монтаж.</div>
        </div>
        <div class="partnershipAdvantages__list-item">
            <div class="partnershipAdvantages__list-item__title text_simple"><b>Дотримання строків</b></div>
            <div class="partnershipAdvantages__list-item__desc text_simple">Чітка логістика, досвідчена команда та внутрішні ресурси дозволяють завершувати об’єкти вчасно, без затримок і додаткових витрат.</div>
        </div>
        <div class="partnershipAdvantages__list-item">
            <div class="partnershipAdvantages__list-item__title text_simple"><b>Робота по всій Україні</b></div>
            <div class="partnershipAdvantages__list-item__desc text_simple">Працюємо без обмежень за регіонами — маємо ресурси для реалізації проєктів у будь-якому куточку країни.</div>
        </div>
      </div>
    </div>
  </div>
</section>