.productPage {
    padding: 40px 0 0;
    @include max-md {
        padding: 10px 0 0;
    }
    &__content {
        display: flex;
        column-gap: 30px;
        @include max-md {
            flex-direction: column;
        }
    }
    &__images {
        max-width: 570px;
        width: 100%;
        @include max-xlmidle {
            max-width: 450px;
        }
        @include max-xl {
            max-width: 400px;
        }
        @include max-lg {
            max-width: 350px;
        }
        @include max-md {
            max-width: 100%;
        }
    }
    &__slider {
        border: 1px solid #eaeaea;
        border-radius: 5px;
        @include max-md {
            margin-top: 16px;
        }
        & img {
        }
    }

    &__images_bottom {
        position: relative;
        margin-top: 15px;
        padding: 0 15px;
        max-width: 570px;

        @include max-xlmidle {
            max-width: 450px;
        }
        @include max-xl {
            max-width: 400px;
        }
        @include max-lg {
            max-width: 350px;
        }
        @include max-md {
            max-width: 100%;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0;
        }
        & .slick-slide {
            margin: 0 8px;
            @include max-md {
                padding: 0;
                margin: 0 8px;
            }
        }
    }
    &__nav-btns {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include max-xl {
            left: 0;
            right: 0;
        }
        @include max-md {
            left: 0;
            right: 0;
            justify-content: center;
            top: unset;
            bottom: -40px;
            column-gap: 14px;
        }
        & img {
            width: 13px;
            height: 22px;
            cursor: pointer;
        }
        & img:first-child {
            transform: rotateZ(180deg);
            @include max-md {
                margin-top: 2px;
            }
        }
    }

    &__slider-nav {
        & img {
            border: 1px solid #eaeaea;
            border-radius: 5px;
        }
    }
    // &__slider {
    //     width: 100%;
    //     max-height: 382px;
    //     & img {
    //         object-fit: cover;
    //     }
    //     & .slick-slide {
    //         position: relative;
    //     }
    // }
    &__info {
        width: 100%;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        @include max-md {
            margin-top: 24px;
            display: none;
        }
        &-mobile {
            display: none;
            @include max-md {
                display: flex;
            }
        }
    }
    & .sectionTitle {
        margin-top: 20px;
        @include max-md {
            display: none;
        }
        &__mobile {
            display: none;
            @include max-md {
                display: flex;
                margin-top: 23px;
            }
        }
    }
    &__articul {
        & span:last-child {
            font-weight: 500;
        }
        & span {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #555555;
            @include max-md {
                font-size: 12px;
            }
        }
    }

    &__status {
        & img {
            width: 13px;
            @include max-md {
                width: 10px;
            }
        }
        & span {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #555555;
            margin-left: 9px;
            @include max-md {
                font-size: 12px;
                line-height: 14px;
                margin-left: 4px;
            }
        }
    }

    &__size {
        margin-top: 9px;
        width: 100%;
        padding: 0 0 27px;
        border-bottom: 1px solid #eaeaea;
        @include max-md {
            margin-top: 59px;
            padding: 0 0 12px;
        }
        & span {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #7d7d7d;
            @include max-md {
                font-size: 13px;
                line-height: 15px;
            }
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        column-gap: 25px;
        margin-top: 26px;
        @include max-md {
            margin-top: 18px;
        }
    }
    &__icons-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        & img {
            width: 46px;
            @include max-md {
                width: 40px;
            }
        }
        & span {
            margin-top: 9px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
        }
    }
    &__icons-group:nth-child(2) .product__icon img {
        filter: invert(1);
        opacity: 0.5;
    }
    &__icons-group:nth-child(3) .product__icon img {
        filter: invert(0);
        opacity: 1;
    }
    &__icons-group .product__icon {
        width: 46px !important;
        height: 46px;
        box-shadow: 0px 2px 33px rgba(155, 155, 155, 0.09);
    }
    &__icons-group .product__icon img {
        width: 22px !important;
    }
    &__buy {
        margin-top: 23px;
        background: #f7f8fa;
        padding: 27px 8px 20px 30px;
        display: flex;
        align-items: center;
        column-gap: 40px;
        @include max-xxl {
            column-gap: 15px;
            padding: 15px;
        }
        @include max-xl {
            column-gap: 30px;
            padding: 20px;
        }
        @include max-lg {
            flex-direction: column;
        }
        @include max-md {
            margin-top: 17px;
            padding: 15px 22px 18px 13px;
        }
    }
    &__buy-group {
        display: flex;
        flex-direction: column;
        @include max-lg {
            flex-direction: row;
            align-items: center;
            column-gap: 16px;
        }
    }
    &__buy-price {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #c17465;
        @include max-xxl {
            font-size: 20px;
        }
        @include max-lg {
            font-size: 20px;
        }
        @include max-md {
            font-size: 24px;
        }
    }
    &__buy-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-top: 1px;
        color: #555555;
        max-width: 124px;
        @include max-lg {
            max-width: 149px;
        }
    }
    &__buy-group__btns {
        display: flex;
        align-items: center;
        column-gap: 15px;
        @include max-lg {
            width: 100%;
            margin-top: 12px;
            column-gap: 5px;
        }
    }
    & .custom-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 45px;
        @include max-xxl {
            padding: 15px 25px;
            font-size: 14px;
        }
        @include max-lg {
            padding: 15px 0;
            font-size: 14px;
            width: 80%;
        }
    }
    & .custom-button-byClick {
        border: 1px solid #c17465;
        border-radius: 5px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #555555;
        padding: 15px 20px;
        background: none;
        @include max-xxl {
            padding: 15px 10px;
            font-size: 14px;
        }
        @include max-lg {
            padding: 15px 0;
            font-size: 14px;
            width: 100%;
        }
    }
    &__options {
        margin-top: 15px;
        @include max-md {
            margin-top: 25px;
        }
        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: #555555;
            @include max-md {
                font-size: 20px;
                line-height: 23px;
            }
        }
        &-list {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-top: 11px;
            @include max-md {
                margin-top: 12px;
            }
        }
        &-item {
            & label {
                position: relative;
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                @include max-md {
                    width: 47px;
                    height: 47px;
                }
            }
        }
        &-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            row-gap: 15px;
            column-gap: 10px;
            margin-top: 14px;
            @include max-xxl {
                column-gap: 5px;
            }
            @include max-lg {
                grid-template-columns: repeat(2, 1fr);
            }
            @include max-md {
                column-gap: 6px;
                row-gap: 12px;
            }
            & label {
                position: relative;
            }
            & label img {
                width: 8px;
                transform: rotateZ(90deg);
                position: absolute;
                top: -15px;
                bottom: 0;
                right: 15px;
                margin: auto;
            }
            & label select {
                box-shadow: 0px 4px 4px rgba(233, 233, 233, 0.25);
                border: none;
                padding: 10px 12px;
                width: 100%;
                outline: none;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #555555;
                @include max-md {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        &:last-child .productPage__options-content {
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
        }
        &-angle {
            display: flex;
            align-items: center;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            padding: 5px 10px;
            column-gap: 10px;
            @include max-md {
                column-gap: 3px;
            }
            & label {
            }
            & input {
            }
            & img {
                width: 66px;
            }
            & span {
            }
        }
    }
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    width: 30px;
    @include max-md {
        width: 47px;
    }
}

.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    @include max-md {
        width: 47px;
        height: 47px;
    }
}
.productPage__options-angle .custom-checkbox + label {
    width: 25px;
    height: 25px;
}
.productPage__options-angle .custom-checkbox + label::before {
    width: 25px;
    height: 25px;
}
.custom-checkbox:checked + label::before {
    background-image: url("../images/check.png");
    position: relative;
    z-index: 10;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #10a11e;
}
.productPage__options-angle .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #d8d8d8;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
    // background-color: #b3d7ff;
    border-color: #10a11e;
}
.productPage__options-angle .custom-checkbox:not(:disabled):active + label::before {
    // background-color: #b3d7ff;
    border-color: #d8d8d8;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #10a11e;
}
.productPage__options-angle .custom-checkbox:focus + label::before {
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #d8d8d8;
}
.productPage__options-angle .custom-checkbox:focus + label::before {
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #d8d8d8;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #10a11e;
}
.productPage__options-angle .custom-checkbox:focus:not(:checked) + label::before {
    border-color: #d8d8d8;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    // background-color: #e9ecef;
}

////////////select
.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
    background: #FCFCFC;
}
.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: middle;
}
.select2-results__option[aria-selected="true"]:before {
    font-family: fontAwesome;
    content: "\f00c";
    color: #fff;
    background-color: #c17465;
    border: 0;
    display: inline-block;
    padding-left: 3px;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #FCFCFC;
    color: #272727;
}
.select2-container--default .select2-selection--multiple {
    margin-bottom: 6px;
    border: none !important;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    // border-color: #f77750;
    border-width: 2px;
}
.select2-search__field {
    outline: none !important;
    border: none !important;
}
.select2-container--default .select2-selection--multiple {
    border-width: 2px;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.select2-selection {
    box-shadow: 0px 4px 4px rgba(233, 233, 233, 0.25);
    cursor: pointer !important;
}
.productPage__options-content label:hover {
    cursor: pointer !important;
}
.select2-search__field::placeholder {
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #555555 !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    overflow: scroll;
}
.select2-container .select2-search--inline .select2-search__field {
    padding-left: 10px !important;
}
.select2-container--default .select2-search--inline .select2-search__field {
    padding-left: 10px !important;
}
.select2-container {
    @include max-md {
        // width: auto !important;
        // min-width: auto !important;
    }
    
}