<section class="certificates">
    <div class="container">
        <div class="certificates__content">
            <h2 class="sectionTitle">Сертифікати</h2>
            <p class="text_simple">Наші сертифікати підтверджують високу якість продукції, матеріалів і послуг, що надаються компанією. Вони засвідчують відповідність міжнародним і українським стандартам, проходження контролю якості на всіх етапах виробництва та монтажу металоконструкцій. Сертифікати охоплюють широкий спектр напрямків — від якості сировини до систем управління якістю та безпекою. Наявність актуальних сертифікатів гарантує клієнтам, що всі виконані роботи і поставлені матеріали відповідають найвищим вимогам і забезпечують довговічність та безпеку споруд.</p>
            <div class="certificates__slider">
                <img src="/images/certificate_1.png" alt="certificates">
                <img src="/images/certificate_2.png" alt="certificates">
                <img src="/images/certificate_3.png" alt="certificates">
                <img src="/images/certificate_4.png" alt="certificates">
            </div>
        </div>
    </div>
</section>