<section class="licenses">
    <div class="container">
        <div class="licenses__content">
            <h2 class="sectionTitle">Ліцензії</h2>
            <p class="text_simple">Наша компанія працює офіційно та законно, маючи всі необхідні ліцензії для ведення діяльності у сфері будівництва металоконструкцій та проектування промислових і аграрних споруд. Ліцензії підтверджують нашу відповідність державним вимогам і дозволяють здійснювати комплекс робіт із дотриманням усіх норм та стандартів. Завдяки ліцензійним документам клієнти можуть бути впевнені у надійності та легальності співпраці з нами, а також у тому, що ми дотримуємося всіх законодавчих та технічних регламентів.</p>
            <div class="licenses__slider">
                <img src="/images/licenses_1.png" alt="licenses">
                <img src="/images/licenses_2.png" alt="licenses">
            </div>
        </div>
    </div>
</section>