<section class='manufacturingImagesSlider' style="border: none;">
  <div class='container'>
    <div class='product'>

      <div class='product__slider'>

        <div class='product__slider-item'>

          <div class='product__slider-images'>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
          </div>
        </div>
        <div class='product__slider-item'>

          <div class='product__slider-images'>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
          </div>

        </div>

      </div>

      <div class='product__slider_mobile'>

        <div class='product__slider-item'>

          <div class='product__slider-images'>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
          </div>
        </div>
        <div class='product__slider-item'>

          <div class='product__slider-images'>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
            <a href='/images/product_slider.jpg' class='gallery-item' data-type='image'><img
                src='/images/product_slider.jpg'
                alt='product'
              /></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>