<section class='manufacturingVideoBlock' style='border: none;'>
  <div class='container'>
    <div class='videoBlock  videoBlockSimple'>
      <a
        href='/images/footer_video.mp4'
        class='video-fancybox-trigger gallery-item'
        data-type='video'
      ></a>
      <div class='videoBlockWrapper'>
        <img src='/images/close_white.svg' class='videoBlock__close' />
        <video class='video-element footer-video-element' playsinline muted>
          <source src='/images/footer_video.mp4' type='video/mp4' />
        </video>
        <img loading='lazy' src='/images/play_btn.svg' alt='play' class='play__btn' />
      </div>
    </div>
  </div>
</section>